@use '../../../../../../pastanaga-angular/src/styles/theme/spacing.tokens' as spacing;

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: spacing.rhythm(1);
  margin-bottom: spacing.rhythm(2);
}
