@use '../../../../../../pastanaga-angular/src/styles/theme/palette.tokens' as palette;
@use '../../../../../../pastanaga-angular/src/styles/theme/spacing.tokens' as spacing;
@use '../../../../../../pastanaga-angular/src/styles/utils' as utils;

$grid-gap: spacing.rhythm(2);

.card-content-block {
  background: palette.$color-tertiary-lightest;
  min-height: spacing.rhythm(7);
  position: relative;

  &:after {
    content: 'Content placeholder';
    color: palette.$color-tertiary-light;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.card-container {
  pa-card {
    margin-bottom: $grid-gap;

    .body-s {
      margin-bottom: 0;
    }
  }
}

@media (min-width: spacing.$size-viewport-medium-min) {
  .card-container {
    display: flex;
    flex-wrap: wrap;

    pa-card {
      margin-right: $grid-gap;
      width: utils.flexColumnWidth(2, $grid-gap);

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
}
