<p><code>paFormControl</code> valid status change can be tracked using the statusChange output</p>
<pre><code>{{statusChangeCode}}</code></pre>
<input paFormControl (statusChange)="status = $event">

<button (click)="addError()">Add / remove error</button>
<span>received status: {{status}}</span>

<br>
<p><code>paFormControl</code> accepts internal validators.
    This allow the directive to programmatically set a custom errorMessage using the errorMessage input.</p>
<p><strong>Important</strong>: validation will only be evaluated when the formControl is dirty.</p>
<pre><code>{{errorMessageCode}}</code></pre>
<input paFormControl [errorMessage]="errorMessage">

<button (click)="addCustomError()">Add / remove custom error</button>
<span>formControl errors: {{errors | json}}</span>

<br>
<p>When used in combination with <code>ngModel</code> or <code>formControl</code> directives,
    <code>paFormControl</code> internal validators are merged with parent's validators.</p>

