@import "../../../../../../pastanaga-angular/src/styles/variables";

.tab-example-container {
    --tab-parent-background: transparent;
    --tab-parent-padding: 0;
    --tab-content-background: transparent;
    --tab-content-padding: 1rem 0;

    background-color: var(--tab-parent-background);
    padding: var(--tab-parent-padding);
}

.tab-content {
    background-color: var(--tab-content-background);
    padding: var(--tab-content-padding);
}
