<pa-demo-page>
    <pa-demo-title>Tabs</pa-demo-title>
    <pa-demo-description>
    </pa-demo-description>

    <pa-demo-examples>
        <pa-tabs>
            <pa-tab (activate)="selectedTab = 'info'"
                    [active]="selectedTab === 'info'">Info</pa-tab>
            <pa-tab (activate)="selectedTab = 'settings'"
                    [active]="selectedTab === 'settings'">Settings</pa-tab>
            <pa-tab (activate)="selectedTab = 'notifications'"
                    [active]="selectedTab === 'notifications'">Notifications</pa-tab>
        </pa-tabs>
        <section id="panel-info"
                 *ngIf="selectedTab === 'info'">
            Some information
        </section>
        <section id="panel-settings"
                 *ngIf="selectedTab === 'settings'">
            Some settings
        </section>
        <section id="panel-notifications"
                 *ngIf="selectedTab === 'notifications'">
            Some notifications
        </section>
    </pa-demo-examples>

    <pa-demo-code>
        <pre><code>{{ codeExample }}</code></pre>
    </pa-demo-code>
</pa-demo-page>