<header>
    <div class="title-xs">
        <pa-button icon="arrow-left" (click)="back.emit()">Back</pa-button>
        Current mode: {{currentMode | async}} <br>
        Current min size: {{currentMinSize | async}}
    </div>
</header>


<div class="pa-main-container-tight">Tight</div>

<div class="pa-main-container-tight">
    <div class="pa-child-container-compact">Tight compact</div>
</div>

<div class="pa-main-container-wide">Wide</div>

<div class="pa-main-container">
    <div class="pa-main-side-panel">Panel</div>
    <div class="pa-main-container-wide">Wide</div>
</div>

<div class="pa-main-container">
    <div class="pa-main-container-wide pa-side-on-right">Wide</div>
    <div class="pa-main-side-panel">Panel</div>
</div>

<div class="pa-main-container">
    <div class="pa-main-dock">Dock</div>
    <div class="pa-main-container-wide">Wide</div>
</div>
