@use '../../../../../../../pastanaga-angular/src/styles/theme/palette.tokens' as palette;
@use '../../../../../../../pastanaga-angular/src/styles/theme/spacing.tokens' as spacing;
@use '../../../../../../../pastanaga-angular/src/styles/theme/z-index.tokens' as z-index;

:host {
  background-color: palette.$color-light-stronger;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z-index.$z-index-modal;

  $header-padding: spacing.rhythm(3);

  header {
    align-items: center;
    display: flex;
    min-height: calc(#{$header-padding} * 2 + #{spacing.rhythm(5)});
    justify-content: center;
    padding: $header-padding;
    margin-bottom: spacing.rhythm(3);

    pa-button {
      position: absolute;
      left: $header-padding;
      top: $header-padding;
    }
  }

  .pa-main-side-panel,
  .pa-main-dock,
  [class^='pa-main-container-'] {
    background-color: palette.$color-neutral-light;
    display: block;
    height: spacing.rhythm(5);
    line-height: spacing.rhythm(5);
    margin-bottom: spacing.rhythm(3);
    text-align: center;
  }

  .pa-child-container-compact {
    height: 100%;
  }

  .pa-main-dock,
  .pa-main-side-panel {
    background-color: palette.$color-neutral-regular;
  }

  @media (min-width: spacing.$size-viewport-medium-min) {
    [class^='pa-main-container-'] {
      background-color: palette.$color-secondary-regular;
    }
    .pa-child-container-compact {
      background-color: palette.$color-secondary-lighter;
    }
  }

  @media (min-width: spacing.$size-viewport-large-min) {
    [class^='pa-main-container-'] {
      background-color: palette.$color-tertiary-regular;
    }
    .pa-child-container-compact {
      background-color: palette.$color-tertiary-lighter;
    }
  }

  @media (min-width: spacing.$size-viewport-xlarge-min) {
    [class^='pa-main-container-'] {
      background-color: palette.$color-primary-light;
    }
    .pa-child-container-compact {
      background-color: palette.$color-primary-lighter;
    }
  }
}
