<pa-demo-page>
    <pa-demo-title>Sidenav</pa-demo-title>

    <pa-demo-description>
        <p><code>pa-side-nav</code> is used to add menu content to your app</p>
    </pa-demo-description>
    <pa-demo-usage>
        <h3><code>pa-side-nav</code></h3>
        <p>It can contain <code>pa-side-nav-header</code>, <code>pa-side-nav-content</code>, and <code>pa-side-nav-footer</code></p>
        <dl>
            <dt>Visible</dt>
            <dd>Manage the visibility of the component.</dd>

            <dt>Mode</dt>
            <dd>mobile | tablet | desktop</dd>
        </dl>

        <h3><code>pa-side-nav-header</code></h3>
        <p> It works as a header for the sidenav, the content will be aligned to the top.</p>
        <h3><code>pa-side-nav-content</code></h3>
        <p>It'll contain <code>pa-side-nav-item</code></p>

        <h3><code>pa-side-nav-item</code></h3>
        <dl>
            <dt>Header</dt>
            <dd>If true, it is rendered as a header.</dd>
            <dt>Label</dt>
            <dd>Text to display.</dd>
            <dt>Active</dt>
            <dd>If true, active styles will be applied.</dd>
        </dl>
        <h3><code>pa-side-nav-footer</code></h3>
        <p> It works as a footer for the sidenav, the content will be aligned to the bottom.</p>
    </pa-demo-usage>

    <pa-demo-code>
        <pre><code>{{codeExample}}</code></pre>
    </pa-demo-code>
</pa-demo-page>
