<pa-demo-page>
  <pa-demo-title>Form field hint</pa-demo-title>
  <pa-demo-description>A wrapper used to describe a form field with hint or error messages.</pa-demo-description>

  <pa-demo-examples>
    <h4>Hint</h4>
    <p>
      <pa-form-field-hint help="This is help hint"></pa-form-field-hint>
    </p>
    <h4>Error</h4>
    <p>
      <code>errorMessages</code>
      :
      <pa-form-field-hint [errorMessages]="fieldErrorMessages"></pa-form-field-hint>
    </p>
    <p>
      <code>errors</code>
      with
      <code>showAllErrors</code>
      set to false:
      <pa-form-field-hint
        [errors]="fieldErrorMessages"
        [showAllErrors]="false"></pa-form-field-hint>
    </p>
    <p>
      <code>errors</code>
      with
      <code>showAllErrors</code>
      set to true:
      <pa-form-field-hint
        [errors]="fieldErrorMessages"
        [showAllErrors]="true"></pa-form-field-hint>
    </p>
  </pa-demo-examples>

  <pa-demo-usage>
    <h3>Inputs</h3>
    <dl>
      <dt>errorMessages</dt>
      <dd>
        Provides default messages to display for the possible error keys when none is present in the errors object. If a
        message (string) is provided for a given key, it will be displayed rather than the message provided in
        errorMessages.
      </dd>

      <dt>errors</dt>
      <dd>
        ValidationErrors of a formControl
        <small>(optional)</small>
      </dd>

      <dt>help</dt>
      <dd>
        A hint to display, helping the user when filling a form field
        <small>(optional)</small>
      </dd>

      <dt>id</dt>
      <dd>Id for the hint message which is used for accessibility aria-describedby attribute in parent component</dd>

      <dt>showAllErrors</dt>
      <dd>
        Display all errors or only the first error encountered (errors being sorted by key)
        <small>(default: true)</small>
      </dd>

      <dt>showErrors</dt>
      <dd>
        Activate the display of error messages (disable for example when formControl is pristine if you don't want to
        display errors at initial state)
        <small>(default: true)</small>
      </dd>
    </dl>
  </pa-demo-usage>

  <pa-demo-code>
    <pre><code>{{ code }}</code></pre>
  </pa-demo-code>
</pa-demo-page>
