@use '../../../../../../pastanaga-angular/src/styles/theme/spacing.tokens' as spacing;

.avatar-row {
  display: flex;
  align-items: center;
  margin: spacing.rhythm(1) 0;

  & > div {
    width: spacing.rhythm(9);
  }
  & > * {
    margin-bottom: 0;
    margin-right: spacing.rhythm(1);
    min-width: spacing.rhythm(6);
  }
}
