@import "../../../../../../pastanaga-angular/src/lib/styles/variables";

.avatar-row {
    display: flex;
    align-items: center;
    margin: rhythm(1) 0;

    & > div {
        width: rhythm(9);
    }
    & > * {
        margin-right: rhythm(1);
        min-width: rhythm(6);
    }
}
