<pa-demo-page>
    <pa-demo-title>Avatar</pa-demo-title>

    <pa-demo-description>You can use an Avatar to represent a user or a group. Avatars with no image can have an auto
        assigned background color.
    </pa-demo-description>

    <pa-demo-examples>
        <div class="avatar-row">
            <div>Large</div>
            <pa-avatar userName="John Doe"
                       size="large"
            ></pa-avatar>
            <pa-avatar userName="John Doe"
                       [image]="image"
                       size="large"
            ></pa-avatar>
            <pa-avatar userName="John Doe"
                       size="large"
                       autoBackground
            ></pa-avatar>
        </div>
        <div class="avatar-row">
            <div>Medium</div>
            <pa-avatar userName="Darth Vador"
                       size="medium"
            ></pa-avatar>
            <pa-avatar userName="Darth Vador"
                       [image]="image"
                       size="medium"
            ></pa-avatar>
            <pa-avatar userName="Darth Vador"
                       size="medium"
                       autoBackground
            ></pa-avatar>
        </div>
        <div class="avatar-row">
            <div>Small</div>
            <pa-avatar userName="Steve Jobs"
                       size="small"
            ></pa-avatar>
            <pa-avatar userName="Steve Jobs"
                       [image]="image"
                       size="small"
            ></pa-avatar>
            <pa-avatar userName="Steve Jobs"
                       size="small"
                       autoBackground
            ></pa-avatar>
        </div>



    </pa-demo-examples>

    <pa-demo-usage>
        <h3>Inputs</h3>

        <dl>
            <dt>autoBackground</dt>
            <dd>Assign background color automatically according to <code>userName</code> or <code>userId</code>. <small>(false by default)</small></dd>

            <dt>image</dt>
            <dd>Observable of blob to be displayed as avatar. Once the image is set, generated
                initials and backgroundColor are not displayed anymore. <small>(optional)</small></dd>

            <dt>imageSrc</dt>
            <dd>Base64 string to be displayed as avatar. Once the image is set, generated
                initials and backgroundColor are not displayed anymore. <small>(optional)</small></dd>

            <dt>size</dt>
            <dd>Avatar's size. Can be <code>small</code> | <code>medium</code> | <code>large</code>. <small>(medium by default)</small></dd>

            <dt>userId</dt>
            <dd>Used to generate a background color when no <code>image</code> is provided and <code>autoBackground</code> is <code>true</code>. <small>(optional)</small></dd>

            <dt>userName</dt>
            <dd>Used to generate displayed initials and a background color when no <code>image</code>
                is provided and <code>autoBackground</code> is <code>true</code>. <small>(optional)</small></dd>
        </dl>
    </pa-demo-usage>

    <pa-demo-code>
        <pre><code>{{code}}</code></pre>
    </pa-demo-code>

</pa-demo-page>
