// We can't import variables here if we want to be able to use those demo pages in other applications

.pa-demo-example-configuration {
    label {
        margin-right: 6px;

        &:not(:first-of-type) {
            margin-left: 18px;
        }
    }
}

.icon-list-container {
    background: #F1F3F4;
    display: flex;
    flex-wrap: wrap;
    max-height: 330px;
    overflow: auto;

    .icon-container {
        width: 120px;
        height: 60px;
        margin: 18px 0;
        display: flex;
        flex-direction: column;
        text-align: center;

        span {
            font-size: 12px;
        }
    }
}
