<h2>
  Inherited from
  <code>PaFormControlDirective</code>
</h2>
<pa-demo-pa-form-control-usage></pa-demo-pa-form-control-usage>

<h2>NativeTextFieldDirective</h2>
<h3>Inputs</h3>
<dl>
  <dt>maxlength</dt>
  <dd>
    Adds an internal
    <code>Validators.maxLength</code>
    .
    <small>(optional)</small>
  </dd>

  <dt>noAutoComplete</dt>
  <dd>
    Set autocomplete attribute to
    <code>off</code>
    <small>(default: false)</small>
  </dd>

  <dt>help</dt>
  <dd>
    A hint to display, helping the user when filling a form field
    <small>(optional)</small>
  </dd>

  <dt>errorMessages</dt>
  <dd>
    Provides default messages to display for the possible error keys when none is present in the errors object. If a
    message (string) is provided for a given key, it will be displayed rather than the message provided in
    errorMessages.
  </dd>

  <dt>showAllErrors</dt>
  <dd>
    Display all errors or only the first error encountered (errors being sorted by key)
    <small>(default: true)</small>
  </dd>

  <dt>placeholder</dt>
  <dd>
    Field's placeholder
    <small>(optional)</small>
  </dd>

  <dt>hasFocus</dt>
  <dd>
    triggers the focus on the input field
    <small>(optional)</small>
  </dd>

  <dt>acceptHtmlTags</dt>
  <dd>
    Allows to render/enter HTML tags in the field. Enabling this can have an impact on the security of your app, to be
    use with caution.
    <small>(default: false)</small>
  </dd>
</dl>
<h3>Outputs</h3>
<dl>
  <dt>keyUp</dt>
  <dd>
    Emits
    <code>string</code>
    value on key up event
  </dd>

  <dt>enter</dt>
  <dd>
    Emits
    <code>KeyboardEvent</code>
    and
    <code>string</code>
    value when pressing enter
  </dd>

  <dt>focusing</dt>
  <dd>
    Emits
    <code>FocusEvent</code>
    on focus
  </dd>

  <dt>blurring</dt>
  <dd>Emits current value on blur</dd>
</dl>
