<pa-demo-page>
  <pa-demo-title>Radio</pa-demo-title>
  <!-- prettier-ignore -->
  <pa-demo-description>
    <p>
      <code>pa-radio</code> provides the same features as a native <code>{{ htmlRadio }}</code> enhanced with Pastanaga styling and accessibility.
    </p>

    <p>
      The radio button label is provided as the content of the <code>{{ paRadio }}</code> element.
    </p>
    <p>
      <strong>Accessibility</strong>:
      <code>{{ paRadio }}</code> automatically set an aria-label on the <code>{{ htmlRadio }}</code>. By default, the label provided to
      <code>{{ paRadio }}</code> is used as aria-label. If no label is set, paRadio will use for its Input <code>ariaLabel</code>.
      If no <code>ariaLabel</code> is set neither, the value will be used as aria-label.
    </p>

    <p>
      Radio buttons are generally used in radio-groups, which is a collection of radio buttons describing as a set of
      related options. A radio group is defined by giving each of radio buttons in the group the same name. To make it
      easier to create a radio-group, Pastanaga provides the directive
      <code>{{ paRadioGroup }}</code>.
    </p>

    <pa-demo-form-field-description component="pa-radio-group"></pa-demo-form-field-description>
  </pa-demo-description>

  <pa-demo-examples>
    <div class="examples">
      <label
        class="title-xxs"
        for="radio-group-season">
        Pick your favorite season
        <small>(radio group using ngModel)</small>
      </label>
      <pa-radio-group
        name="radio-season"
        id="radio-group-season"
        [(ngModel)]="favoriteSeason">
        @for (season of seasons; track season) {
          <pa-radio
            [value]="season"
            [id]="season">
            {{ season }}
          </pa-radio>
        }
      </pa-radio-group>
      <p>Your favorite season is: {{ favoriteSeason }}</p>

      <hr />

      <p class="title-xxs">Radio group using formControl</p>
      <pa-radio-group
        class="horizontal-group"
        name="radio-icons"
        [formControl]="formControl">
        @for (icon of icons; track icon) {
          <div style="display: flex; flex-direction: column; align-items: center">
            <pa-icon
              size="large"
              [name]="icon"></pa-icon>
            <pa-radio [value]="icon"></pa-radio>
          </div>
        }
      </pa-radio-group>
      <p>Icon selected: {{ formControl.value }}</p>
      <pa-button
        [disabled]="formControl.pristine"
        size="small">
        Button enabled when formControl.pristine is false
      </pa-button>

      <hr />

      <p class="title-xxs">Radio group using formGroup with formControlName</p>
      <form [formGroup]="formGroup">
        <label for="radio-meals">Pick your favorite meal</label>
        <pa-radio-group
          name="radio-meals"
          id="radio-meals"
          formControlName="favoriteMeal">
          @for (meal of meals; track meal.label) {
            <pa-radio
              [value]="meal.label"
              [help]="meal.help">
              {{ meal.label }}
            </pa-radio>
          }
        </pa-radio-group>
        <p>Your favorite meal: {{ formGroup.getRawValue() | json }}</p>
        <pa-button
          [disabled]="formGroup.pristine"
          size="small">
          Button enabled when form.pristine is false
        </pa-button>
      </form>

      <hr />
      <p class="title-xxs">Radio group with some disabled inputs</p>
      <form [formGroup]="formGroup">
        <label for="radio-meals-partially-disabled">Pick your favorite meal</label>
        <pa-radio-group
          name="radio-partially-disabled"
          id="radio-meals-partially-disabled"
          formControlName="favoriteMeal">
          @for (meal of meals; track meal.label) {
            <pa-radio
              [value]="meal.label"
              [help]="meal.help"
              [disabled]="meal.disabled">
              {{ meal.label }}
            </pa-radio>
          }
        </pa-radio-group>
      </form>

      <hr />
      <p class="title-xxs">Disabled radio group</p>
      <form [formGroup]="formGroupDisabled">
        <label for="radio-meals-disabled">Pick your favorite meal</label>
        <pa-radio-group
          name="radio-disabled"
          id="radio-meals-disabled"
          formControlName="favoriteMeal">
          @for (meal of meals; track meal.label) {
            <pa-radio
              [value]="meal.label"
              [help]="meal.help">
              {{ meal.label }}
            </pa-radio>
          }
        </pa-radio-group>
      </form>

      <hr />
      <p class="title-xxs">Radio group with popover help</p>
      <pa-radio-group
        name="radio-popover"
        id="radio-meals-popover">
        @for (meal of meals; track meal.label) {
          <pa-radio
            [value]="meal.label"
            [popoverHelp]="meal.help">
            {{ meal.label }}
          </pa-radio>
        }
      </pa-radio-group>

      <hr />
      <p class="title-xxs">Alternate background is not displayed for groups of 2 radios</p>
      <pa-radio-group
        name="two-radios"
        id="two-radios">
        <pa-radio value="radio1">Radio 1</pa-radio>
        <pa-radio value="radio2">Radio 2</pa-radio>
      </pa-radio-group>
      <hr />
      <p class="title-xxs">
        Alternate background is not displayed when
        <code>noBackground</code>
        option is set
      </p>
      <pa-radio-group
        noBackground
        name="no-background-radios"
        id="no-background-radios">
        <pa-radio value="radio1">Radio 1</pa-radio>
        <pa-radio value="radio2">Radio 2</pa-radio>
        <pa-radio value="radio3">Radio 3</pa-radio>
      </pa-radio-group>
    </div>
  </pa-demo-examples>

  <pa-demo-usage>
    <h3>Radio</h3>
    <p>
      <code>pa-radio</code>
      provides the same functionality as a native
      <code>{{ htmlRadio }}</code>
      enhanced with Pastanaga styling and accessibility.
    </p>

    <h4>Inputs</h4>
    <dl>
      <dt>ariaLabel</dt>
      <dd>
        String used as aria label if no label is defined for the radio. When there is no label and no ariaLabel defined,
        the radio value will be used as aria-label.
        <small>(optional)</small>
      </dd>

      <dt>disabled</dt>
      <dd>
        Disabled the radio button.
        <small>(default: false)</small>
      </dd>

      <dt>help</dt>
      <dd>
        Help message to be displayed below the label
        <small>(optional)</small>
      </dd>

      <dt>id</dt>
      <dd>Id of the radio button. If id is not provided, pa-radio will automatically generate one</dd>

      <dt>name</dt>
      <dd>
        Radio button name.
        <small>(optional)</small>
      </dd>

      <dt>popoverHelp</dt>
      <dd>
        String to be displayed in a popover when hovering the
        <code>info</code>
        icon.
        <small>(optional. The info icon is displayed only if popoverHelp has a value)</small>
      </dd>
    </dl>

    <h4>Outputs</h4>
    <dl>
      <dt>change</dt>
      <dd>Event emitted whenever the input change. It contains an object with the radio value.</dd>
    </dl>

    <h3>Radio group</h3>
    <h4>Inputs</h4>
    <dl>
      <dt>noBackground</dt>
      <dd>
        Don't display alternate backgrounds on radios
        <small>(optional, false by default)</small>
      </dd>
    </dl>

    <!-- prettier-ignore -->
    <p>
      Radio buttons should usually be placed inside a
      <code>{{ paRadioGroup }}</code>. The radio-group will automatically set the name of the
      <code>{{ paRadio }}</code> with its own.
    </p>
    <p>
      By default,
      <code>{{ paRadioGroup }}</code>
      is using flexbox to display the
      <code>{{ paRadio }}</code>
      aligned in column. Adding the CSS class
      <code>horizontal-group</code>
      to the
      <code>{{ paRadioGroup }}</code>
      will change the alignment direction to row.
    </p>

    <p>
      <code>{{ paRadioGroup }}</code>
      directive doesn't have Inputs or Outputs on its own but it inherits from
      <code>PaFormControlDirective</code>
      :
    </p>
    <pa-demo-pa-form-control-usage></pa-demo-pa-form-control-usage>
  </pa-demo-usage>

  <pa-demo-code>
    Radio group example:
    <pre><code>{{radioGroupExample}}</code></pre>

    Radio group with help:
    <pre><code>{{radioGroupWithHelp}}</code></pre>
  </pa-demo-code>
</pa-demo-page>
