@use '../../../../../../pastanaga-angular/src/styles/theme/spacing.tokens' as spacing;

.examples,
form {
  display: flex;
  flex-direction: column;
  gap: spacing.rhythm(1);
}

hr {
  margin: spacing.rhythm(2) 0;
}
