@use '../../../../../pastanaga-angular/src/styles/theme/button.tokens' as button;
@use '../../../../../pastanaga-angular/src/styles/theme/spacing.tokens' as spacing;

:host {
  pa-side-nav ::ng-deep .pa-side-nav {
    position: fixed;
  }
}

.demo-menu-button {
  position: absolute;
  top: spacing.rhythm(2);
  left: spacing.rhythm(2);
  z-index: 3;
}

.demo-menu-filter-input {
  display: block;
  margin-top: spacing.rhythm(2);

  ::ng-deep .pa-field {
    margin-bottom: 0;
  }
}

pa-side-nav-header {
  display: block;
  padding: spacing.rhythm(2);

  img {
    height: spacing.rhythm(3);
    max-width: calc(100% - #{button.$height-button-medium});
  }

  .pa-close-side-nav-button {
    position: absolute;
    right: spacing.rhythm(1);
    top: spacing.rhythm(1);
  }
}

.side-nav-section {
  margin-bottom: 0;
}

@media (min-width: spacing.$size-viewport-large-min) {
  pa-side-nav {
    pa-side-nav-header img {
      max-width: 180px;
    }
    .section {
      padding-top: spacing.rhythm(1.5);
    }
  }
}
