<pa-button *ngIf="mode !== 'desktop'"
           icon="hamburger-right"
           class="demo-menu-button"
           (click)="toggleSideNav(true)">Menu
</pa-button>

<pa-side-nav [mode]="mode"
             [visible]="isMenuVisible"
             (close)="toggleSideNav(false)">
    <pa-side-nav-header>
        <a href="#" traverseTo="/" paFocusable>
            <img src="./assets/logo_onna_color.png" alt="Logo">
        </a>
    </pa-side-nav-header>

    <pa-side-nav-content class="section" *ngFor="let section of menu">
        <pa-side-nav-item [label]="section.title" header></pa-side-nav-item>
        <pa-side-nav-item *ngFor="let page of section.pages"
                          [active]="page.view === activeItem"
                          [label]="page.title"
                          [traverseTo]="'/@@' + page.view"
                          (click)="onSelectedItem()">
        </pa-side-nav-item>
    </pa-side-nav-content>
</pa-side-nav>
