@import "../../../../../pastanaga-angular/src/styles/variables";

:host {
    pa-side-nav ::ng-deep .pa-side-nav {
        position: fixed;
    }
}

.demo-menu-button {
    position: absolute;
    top: rhythm(2);
    left: rhythm(2);
    z-index: 3;
}

.demo-menu-filter-input {
    display: block;
    margin-top: rhythm(2);

    ::ng-deep .pa-field {
        margin-bottom: 0;
    }
}

pa-side-nav-header {
    display: block;
    padding: rhythm(2);

    img {
        height: rhythm(3);
        max-width: calc(100% - #{$dimension-button-medium});
    }

    .pa-close-side-nav-button {
        position: absolute;
        right: rhythm(1);
        top: rhythm(1);
    }
}

@media (min-width: $size-viewport-large-min) {
    pa-side-nav {
        pa-side-nav-header img {
            max-width: 180px;
        }
        .section {
            padding-top: rhythm(1.5);
        }
    }
}
