pa-demo-examples {
    display: flex;
    flex-direction: column;
    margin-bottom: 20rem;
}

pa-button {
    margin-bottom: 1rem;
}

.use-case-selector {
    display: flex;

    pa-select {
        flex: 1;
    }
}

.use-case {
    display: flex;
    flex-direction: column;
}

.in-action {
    display: flex;

    .poc-example, .state-info {
        flex: 1;
    }
}

.config {
    display: flex;
    flex-direction: column;
}

:host ::ng-deep .pa-toggle .pa-toggle-label {
    width: 60%;
}
