<pa-demo-page>
    <pa-demo-title>Icons</pa-demo-title>

    <pa-demo-description>Here the list of all icons available in Pastanaga</pa-demo-description>

    <pa-demo-examples>
        <h3>Icon from path</h3>
        <div class="icon-list-container">
            <div class="icon-container">
                <pa-icon path="assets/ninja.svg" [size]="selectedSize" [color]="_selectedColor" [background]="_selectedBackground"></pa-icon>
                <span>assets/ninja.svg</span>
            </div>
        </div>

        <h3>Icons from glyphs-sprite.svg</h3>
        <div class="icon-list-container">
            <div *ngFor="let iconName of icons" class="icon-container">
                <pa-icon [name]="iconName" [size]="selectedSize" [color]="_selectedColor" [background]="_selectedBackground"></pa-icon>
                <span>{{iconName}}</span>
            </div>
        </div>
    </pa-demo-examples>

    <pa-demo-configuration>
        <div class="pa-demo-configuration-field">
            <pa-select label="Size" [(ngModel)]="selectedSize">
                <pa-option [value]="size.xsmall">xsmall</pa-option>
                <pa-option [value]="size.small">small</pa-option>
                <pa-option [value]="size.medium">medium</pa-option>
                <pa-option [value]="size.large">large</pa-option>
            </pa-select>
        </div>
        <div class="pa-demo-configuration-field">
            <pa-select label="Color" [(ngModel)]="selectedColor">
                <pa-option value="none" (selectOption)="updateColor('none')">None</pa-option>
                <pa-option value="Blue" (selectOption)="updateColor('#0047FF')">Blue</pa-option>
            </pa-select>
        </div>
        <div class="pa-demo-configuration-field">
            <pa-select label="Background" [(ngModel)]="selectedBackground">
                <pa-option value="none" (selectOption)="updateBackground('none')">None</pa-option>
                <pa-option value="Yellow" (selectOption)="updateBackground('#FFA100')">Yellow</pa-option>
            </pa-select>
        </div>
    </pa-demo-configuration>

    <pa-demo-usage>
        <p>
            You must fill one of the following properties: <code>name</code> or <code>path</code>.
        </p>
        <dl>
            <dt>name</dt>
            <dd>Icon id to be found in svg sprite. Will be resolved as <code>{{nameResolvedExample}}</code>. <small>(optional)</small></dd>

            <dt>path</dt>
            <dd>Path of the icon. <small>(optional)</small></dd>

            <dt>size</dt>
            <dd>Size to be applied: xsmall | small | medium | large. <small>(default: medium)</small></dd>

            <dt>color</dt>
            <dd>Color to apply to the icon (works only with svg icons). <small>(optional)</small></dd>

            <dt>background</dt>
            <dd>Background color to apply to the icon <small>(optional)</small></dd>
        </dl>
    </pa-demo-usage>

    <pa-demo-code>
        <pre><code>{{codeExample}}</code></pre>
    </pa-demo-code>
</pa-demo-page>
