<header class="page-header">
  <h2>Add document</h2>
</header>

<form #f="ngForm" (ngSubmit)="save(f.value)" class="pastanaga-form">
  <header class="form-header">
    <legend class="legend">Modify the document</legend>
  </header>

  <mat-card class="example-card">
    <mat-card-content>

      <mat-form-field>
        <label for="title">Title</label>
        <input matInput id="title" name="title" ngModel>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <label for="description">Description</label>
        <textarea id="description" name="description" matInput ngModel></textarea>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <div class="form-actions">
        <button  class="pastanaga-button">
          <mat-icon svgIcon="clear"></mat-icon>
        </button>
        <button  class="pastanaga-button primary">
          <mat-icon svgIcon="ahead"></mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>