<pa-dialog (back)="back()">
    <pa-dialog-title>Add more <strong>members</strong></pa-dialog-title>
    <pa-dialog-image><img src="assets/ninja.svg"></pa-dialog-image>
    <div *ngIf="step === 0">
        <p paTooltip="Lorem ipsum dolor sit happens" paTooltipType="system">Here there is a regular tooltip</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Arcu cursus euismod quis viverra nibh cras pulvinar mattis. Mattis vulputate enim nulla aliquet. Id aliquet
            risus feugiat in ante. Turpis nunc eget lorem dolor. At ultrices mi tempus imperdiet nulla malesuada. Elit scelerisque
            mauris pellentesque pulvinar pellentesque. Ac turpis egestas integer eget aliquet nibh praesent tristique. Cursus
            turpis massa tincidunt dui ut. Cursus sit amet dictum sit amet justo donec enim diam. Magna eget est lorem ipsum
            dolor sit amet. Sed ullamcorper morbi tincidunt ornare massa. Nulla porttitor massa id neque aliquam vestibulum
            morbi. Lacinia at quis risus sed. Imperdiet dui accumsan sit amet nulla facilisi. Nulla posuere sollicitudin
            aliquam ultrices sagittis orci a scelerisque.</p>
        <p>Feugiat scelerisque varius morbi enim nunc faucibus. Gravida dictum fusce ut placerat orci. A condimentum vitae sapien
            pellentesque habitant morbi. In egestas erat imperdiet sed euismod nisi porta lorem mollis. Donec ac odio tempor
            orci dapibus. Non odio euismod lacinia at quis risus sed vulputate. Morbi enim nunc faucibus a. Libero enim sed
            faucibus turpis in eu mi. A scelerisque purus semper eget. Quis lectus nulla at volutpat. Vulputate odio ut enim
            blandit volutpat maecenas volutpat. Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque
            eleifend. Porttitor rhoncus dolor purus non enim praesent. Habitant morbi tristique senectus et netus et malesuada
            fames. Molestie nunc non blandit massa enim nec dui nunc. Tortor pretium viverra suspendisse potenti nullam.
            Tincidunt lobortis feugiat vivamus at augue eget arcu.</p>
    </div>
    <div *ngIf="step === 1">
        <h3>Step 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Arcu cursus euismod quis viverra nibh cras pulvinar mattis. Mattis vulputate enim nulla aliquet. Id aliquet
            risus feugiat in ante. Turpis nunc eget lorem dolor. At ultrices mi tempus imperdiet nulla malesuada. Elit scelerisque
            mauris pellentesque pulvinar pellentesque. Ac turpis egestas integer eget aliquet nibh praesent tristique. Cursus
            turpis massa tincidunt dui ut. Cursus sit amet dictum sit amet justo donec enim diam. Magna eget est lorem ipsum
            dolor sit amet. Sed ullamcorper morbi tincidunt ornare massa. Nulla porttitor massa id neque aliquam vestibulum
            morbi. Lacinia at quis risus sed. Imperdiet dui accumsan sit amet nulla facilisi. Nulla posuere sollicitudin
            aliquam ultrices sagittis orci a scelerisque.</p>
        <p>Feugiat scelerisque varius morbi enim nunc faucibus. Gravida dictum fusce ut placerat orci. A condimentum vitae sapien
            pellentesque habitant morbi. In egestas erat imperdiet sed euismod nisi porta lorem mollis. Donec ac odio tempor
            orci dapibus. Non odio euismod lacinia at quis risus sed vulputate. Morbi enim nunc faucibus a. Libero enim sed
            faucibus turpis in eu mi. A scelerisque purus semper eget. Quis lectus nulla at volutpat. Vulputate odio ut enim
            blandit volutpat maecenas volutpat. Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque
            eleifend. Porttitor rhoncus dolor purus non enim praesent. Habitant morbi tristique senectus et netus et malesuada
            fames. Molestie nunc non blandit massa enim nec dui nunc. Tortor pretium viverra suspendisse potenti nullam.
            Tincidunt lobortis feugiat vivamus at augue eget arcu.</p>
        <p>Fermentum dui faucibus in ornare quam viverra orci sagittis eu. Nullam non nisi est sit amet facilisis magna etiam.
            Morbi tristique senectus et netus et malesuada fames ac. Sed vulputate odio ut enim blandit volutpat maecenas
            volutpat. In arcu cursus euismod quis viverra nibh cras pulvinar. Iaculis eu non diam phasellus vestibulum lorem
            sed. Arcu odio ut sem nulla pharetra diam sit amet nisl. Tortor consequat id porta nibh venenatis cras. Nisi
            est sit amet facilisis. Ornare lectus sit amet est placerat in. Mi sit amet mauris commodo quis. Orci phasellus
            egestas tellus rutrum tellus pellentesque eu. Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum.
            Semper eget duis at tellus. Faucibus interdum posuere lorem ipsum dolor sit amet consectetur. Nisi porta lorem
            mollis aliquam. Sodales neque sodales ut etiam sit amet nisl. Elementum sagittis vitae et leo duis ut diam.</p>
        <p>Mattis enim ut tellus elementum sagittis vitae et leo duis. Enim facilisis gravida neque convallis. Sed nisi lacus
            sed viverra tellus in hac habitasse platea. Suspendisse sed nisi lacus sed viverra. Suspendisse in est ante in.
            Nam at lectus urna duis convallis convallis tellus. In egestas erat imperdiet sed euismod nisi porta lorem mollis.
            Egestas tellus rutrum tellus pellentesque. Mattis molestie a iaculis at erat pellentesque. Et pharetra pharetra
            massa massa. Eget nullam non nisi est sit amet. Praesent semper feugiat nibh sed pulvinar. Massa sapien faucibus
            et molestie ac feugiat sed lectus vestibulum. Quis auctor elit sed vulputate mi. In massa tempor nec feugiat.
            Non pulvinar neque laoreet suspendisse interdum consectetur. Sapien et ligula ullamcorper malesuada proin libero.</p>
        <p>A diam sollicitudin tempor id. Ut sem viverra aliquet eget sit amet tellus. Sem integer vitae justo eget. Nisl rhoncus
            mattis rhoncus urna neque. Sed odio morbi quis commodo odio. In vitae turpis massa sed. Nec sagittis aliquam
            malesuada bibendum. Neque aliquam vestibulum morbi blandit cursus risus at ultrices mi. Nisl vel pretium lectus
            quam. Vivamus arcu felis bibendum ut tristique et egestas.</p>
    </div>
    <div *ngIf="step === 2">
        <h3>Step 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Arcu cursus euismod quis viverra nibh cras pulvinar mattis. Mattis vulputate enim nulla aliquet. Id aliquet
            risus feugiat in ante. Turpis nunc eget lorem dolor. At ultrices mi tempus imperdiet nulla malesuada. Elit scelerisque
            mauris pellentesque pulvinar pellentesque. Ac turpis egestas integer eget aliquet nibh praesent tristique. Cursus
            turpis massa tincidunt dui ut. Cursus sit amet dictum sit amet justo donec enim diam. Magna eget est lorem ipsum
            dolor sit amet. Sed ullamcorper morbi tincidunt ornare massa. Nulla porttitor massa id neque aliquam vestibulum
            morbi. Lacinia at quis risus sed. Imperdiet dui accumsan sit amet nulla facilisi. Nulla posuere sollicitudin
            aliquam ultrices sagittis orci a scelerisque.</p>
        <p>Feugiat scelerisque varius morbi enim nunc faucibus. Gravida dictum fusce ut placerat orci. A condimentum vitae sapien
            pellentesque habitant morbi. In egestas erat imperdiet sed euismod nisi porta lorem mollis. Donec ac odio tempor
            orci dapibus. Non odio euismod lacinia at quis risus sed vulputate. Morbi enim nunc faucibus a. Libero enim sed
            faucibus turpis in eu mi. A scelerisque purus semper eget. Quis lectus nulla at volutpat. Vulputate odio ut enim
            blandit volutpat maecenas volutpat. Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque
            eleifend. Porttitor rhoncus dolor purus non enim praesent. Habitant morbi tristique senectus et netus et malesuada
            fames. Molestie nunc non blandit massa enim nec dui nunc. Tortor pretium viverra suspendisse potenti nullam.
            Tincidunt lobortis feugiat vivamus at augue eget arcu.</p>
        <p>Fermentum dui faucibus in ornare quam viverra orci sagittis eu. Nullam non nisi est sit amet facilisis magna etiam.
            Morbi tristique senectus et netus et malesuada fames ac. Sed vulputate odio ut enim blandit volutpat maecenas
            volutpat. In arcu cursus euismod quis viverra nibh cras pulvinar. Iaculis eu non diam phasellus vestibulum lorem
            sed. Arcu odio ut sem nulla pharetra diam sit amet nisl. Tortor consequat id porta nibh venenatis cras. Nisi
            est sit amet facilisis. Ornare lectus sit amet est placerat in. Mi sit amet mauris commodo quis. Orci phasellus
            egestas tellus rutrum tellus pellentesque eu. Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum.
            Semper eget duis at tellus. Faucibus interdum posuere lorem ipsum dolor sit amet consectetur. Nisi porta lorem
            mollis aliquam. Sodales neque sodales ut etiam sit amet nisl. Elementum sagittis vitae et leo duis ut diam.</p>
        <p>Mattis enim ut tellus elementum sagittis vitae et leo duis. Enim facilisis gravida neque convallis. Sed nisi lacus
            sed viverra tellus in hac habitasse platea. Suspendisse sed nisi lacus sed viverra. Suspendisse in est ante in.
            Nam at lectus urna duis convallis convallis tellus. In egestas erat imperdiet sed euismod nisi porta lorem mollis.
            Egestas tellus rutrum tellus pellentesque. Mattis molestie a iaculis at erat pellentesque. Et pharetra pharetra
            massa massa. Eget nullam non nisi est sit amet. Praesent semper feugiat nibh sed pulvinar. Massa sapien faucibus
            et molestie ac feugiat sed lectus vestibulum. Quis auctor elit sed vulputate mi. In massa tempor nec feugiat.
            Non pulvinar neque laoreet suspendisse interdum consectetur. Sapien et ligula ullamcorper malesuada proin libero.</p>
        <p>A diam sollicitudin tempor id. Ut sem viverra aliquet eget sit amet tellus. Sem integer vitae justo eget. Nisl rhoncus
            mattis rhoncus urna neque. Sed odio morbi quis commodo odio. In vitae turpis massa sed. Nec sagittis aliquam
            malesuada bibendum. Neque aliquam vestibulum morbi blandit cursus risus at ultrices mi. Nisl vel pretium lectus
            quam. Vivamus arcu felis bibendum ut tristique et egestas.</p>
    </div>
    <pa-dialog-footer>
        <pa-button *ngIf="step < 2" (click)="next()">Next</pa-button>
        <pa-button *ngIf="step === 2" border (click)="edit()">Edit</pa-button>
    </pa-dialog-footer>
</pa-dialog>
