@import "../../../../pastanaga-angular/src/lib/styles/variables";

:host {
    .view-container {
        width: 100%;
        margin-left: 0;
        padding: rhythm(1.5);

        @media (min-width: $size-viewport-medium-min) {
            padding: rhythm(1.5) rhythm(3) rhythm(2.5) rhythm(3);
        }

        @media (min-width: $size-viewport-large-min) {
            width: calc(100vw - #{rhythm(25)});
            padding: rhythm(1.5) rhythm(10) rhythm(2.5) rhythm(10);
        }
    }
}

