@import "../../../../pastanaga-angular/src/lib/styles/variables";

:host {
    .view-container {
        width: 100%;
        margin-left: 0;
        padding: rhythm(2);

        @media (min-width: $size-viewport-medium-min) {
            padding: rhythm(2) rhythm(5) rhythm(4) rhythm(5);
        }

        @media (min-width: $size-viewport-large-min) {
            width: calc(100vw - #{rhythm(40)});
            padding: rhythm(2) rhythm(16) rhythm(4) rhythm(16);
        }
    }
}

