$font-path: '../../../assets/fonts';
@import "../../pastanaga-angular/src/lib/styles/core";
@import "../../pastanaga-angular/src/lib/styles/grid";
@import "../../pastanaga-angular/src/lib/styles/theme/fonts";

.form-field-config {
    .state-option {
        display: flex;
        margin: .5rem 0;
    }
    .option {
        margin-right: 1rem;
        input {
            margin-right: .5rem;
        }
    }
}
.component {
    display: flex;
    pa-input, pa-select, pa-textarea, ul, form {
        flex: 1;
    }
    li {
        display: flex;
        word-break: break-all;
    }
}
