@use '../../pastanaga-angular/src/styles/core';
@use '../../pastanaga-angular/src/styles/grid';
@use '../../pastanaga-angular/src/styles/theme/fonts';
@use '../../pastanaga-angular/src/styles/theme/spacing.tokens';

.form-field-config {
  .state-option {
    display: flex;
    margin: spacing.rhythm(1) 0;
  }
  .option {
    margin-right: spacing.rhythm(2);

    input {
      margin-right: spacing.rhythm(1);
    }
  }
  fieldset {
    margin: spacing.rhythm(3) 0;
  }
}
.component {
  display: flex;
  pa-input,
  pa-select,
  pa-textarea,
  ul,
  form {
    flex: 1;
  }
  li {
    display: flex;
    word-break: break-all;
  }
}
