@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";

  --color-gray-50: var(--color-neutral-50);
  --color-gray-100: var(--color-neutral-100);
  --color-gray-200: var(--color-neutral-200);
  --color-gray-300: var(--color-neutral-300);
  --color-gray-400: var(--color-neutral-400);
  --color-gray-500: var(--color-neutral-500);
  --color-gray-600: var(--color-neutral-600);
  --color-gray-700: var(--color-neutral-700);
  --color-gray-800: var(--color-neutral-800);
  --color-gray-900: var(--color-neutral-900);
  --color-gray-950: var(--color-neutral-950);

  --color-accent-50: var(--color-indigo-50);
  --color-accent-100: var(--color-indigo-100);
  --color-accent-200: var(--color-indigo-200);
  --color-accent-300: var(--color-indigo-300);
  --color-accent-400: var(--color-indigo-400);
  --color-accent-500: var(--color-indigo-500);
  --color-accent-600: var(--color-indigo-600);
  --color-accent-700: var(--color-indigo-700);
  --color-accent-800: var(--color-indigo-800);
  --color-accent-900: var(--color-indigo-900);
  --color-accent-950: var(--color-indigo-950);

  --color-green-50: var(--color-emerald-50);
  --color-green-100: var(--color-emerald-100);
  --color-green-200: var(--color-emerald-200);
  --color-green-300: var(--color-emerald-300);
  --color-green-400: var(--color-emerald-400);
  --color-green-500: var(--color-emerald-500);
  --color-green-600: var(--color-emerald-600);
  --color-green-700: var(--color-emerald-700);
  --color-green-800: var(--color-emerald-800);
  --color-green-900: var(--color-emerald-900);
  --color-green-950: var(--color-emerald-950);

  --color-orange-50: var(--color-amber-50);
  --color-orange-100: var(--color-amber-100);
  --color-orange-200: var(--color-amber-200);
  --color-orange-300: var(--color-amber-300);
  --color-orange-400: var(--color-amber-400);
  --color-orange-500: var(--color-amber-500);
  --color-orange-600: var(--color-amber-600);
  --color-orange-700: var(--color-amber-700);
  --color-orange-800: var(--color-amber-800);
  --color-orange-900: var(--color-amber-900);
  --color-orange-950: var(--color-amber-950);

  --color-red-50: var(--color-rose-50);
  --color-red-100: var(--color-rose-100);
  --color-red-200: var(--color-rose-200);
  --color-red-300: var(--color-rose-300);
  --color-red-400: var(--color-rose-400);
  --color-red-500: var(--color-rose-500);
  --color-red-600: var(--color-rose-600);
  --color-red-700: var(--color-rose-700);
  --color-red-800: var(--color-rose-800);
  --color-red-900: var(--color-rose-900);
  --color-red-950: var(--color-rose-950);
}
