<div class="component">
  <pa-input
    [formControl]="control"
    [type]="config.type"
    [placeholder]="config.placeholder"
    [autocapitalize]="config.autoCapitalize"
    [noAutoComplete]="config.preventAutocomplete"
    [acceptHtmlTags]="config.acceptHtml"
    [readonly]="config.readonly"
    [hasFocus]="config.hasFocus"
    [help]="config.help"
    [errorMessage]="config.errorMessage"
    [errorMessages]="config.errorMessages"
    [showAllErrors]="config.showAllErrors"
    [maxlength]="config.maxlength"
    [icon]="config.icon"
    (valueChange)="valueChangeEvent = $event"
    (statusChange)="statusChangeEvent = $event"
    (keyUp)="keyupEvent = $event"
    (enter)="enterEvent = $event"
    (focusing)="focusEvent = $event"
    (blurring)="blurEvent = $event">
    Label
  </pa-input>

  <ul>
    <li>value change event: {{ valueChangeEvent | json }}</li>
    <li>status change event: {{ statusChangeEvent | json }}</li>
    <li>keyup event: {{ keyupEvent | json }}</li>
    <li>enter event: {{ enterEvent | json }}</li>
    <li>focus event: {{ focusEvent | json }}</li>
    <li>blur event: {{ blurEvent | json }}</li>
  </ul>
</div>
<pa-demo-pa-input-config (configChanged)="updateConfig($event)"></pa-demo-pa-input-config>
