@import "../../../../../../pastanaga-angular/src/styles/variables";

.container {
    display: inline-block;
}

.more {
    color: $color-primary-regular;
    cursor: pointer;
    font-weight: $font-weight-semi-bold;
}
