@use '../../../../../../pastanaga-angular/src/styles/variables' as *;

.container {
  display: inline-block;
}

.more {
  color: $color-primary-regular;
  cursor: pointer;
  font-weight: $font-weight-semi-bold;
}

.flex-container {
  display: flex;
  gap: rhythm(2);
  margin-top: rhythm(4);

  .far-right {
    position: absolute;
    right: rhythm(0.5);
  }
}
