@import "../../../projects/pastanaga/src/lib/styles/variables";

pa-doc-page {
    .doc-page-title  {
        font-size: rythm(4);
        line-height: rythm(4);
    }

    .doc-page-title,
    .doc-section-title {
        margin-bottom: rythm(2.5);
    }

    section.doc-section {
        margin-bottom: rythm(4);

        .doc-section-title {
            font-size: rythm(3);
            line-height: rythm(3);
        }
    }

    pa-doc-page-usage dl {
        display: flex;
        font-weight: $font-weight-regular;
        flex-wrap: wrap;

        dt {
            flex: 1 0 20%;
            min-width: 200px;
            font-weight: 500;
        }
        dd {
            flex: 1 0 80%;

            small {
                color: $gray-light;
            }
            code {
                display: inline;
                background: none;
                margin: 0;
                padding: 0 rythm(.25);
            }
        }
    }

    pa-doc-page-examples {
        display: block;
        margin-bottom: rythm(1);

        > * {
            margin-right: rythm(2.5);
        }
    }
}


