<h3>Inputs</h3>
<dl>
    <dt>disabled</dt>
    <dd>Set disabled state</dd>

    <dt>icon</dt>
    <dd>Icon name to be used. Button text will be hidden but accessible by screen reader.</dd>

    <dt>iconSize</dt>
    <dd>Set the size of the icon: small | medium | large. <small>(default: medium)</small></dd>

    <dt>iconAndText</dt>
    <dd>Display icon and text together <small>(default: false)</small></dd>

    <dt>kind</dt>
    <dd>primary | secondary | destructive | inverted <small>(default: secondary)</small></dd>

    <dt>size</dt>
    <dd>small | medium | large <small>(default: medium)</small>. By default, icons in small buttons have a medium size, but you can override this behaviour by setting iconSize attribute.</dd>

    <dt>type</dt>
    <dd>button | submit | reset <small>(default: button)</small></dd>

    <dt>aspect</dt>
    <dd>solid | basic <small>(default: solid)</small></dd>
</dl>
