<pa-demo-page>
    <pa-demo-title>Buttons</pa-demo-title>

    <pa-demo-description>Buttons can contain text, icon or both.</pa-demo-description>

    <pa-demo-examples>
        <div class="grid-4 has-gutter">
            <div></div>
            <div class="justify-center">Primary</div>
            <div class="justify-center">Secondary</div>
            <div class="justify-center">Destructive</div>

            <div class="align-center">Accent</div>
            <div class="button-cell">
                <pa-button [kind]="kind.primary"
                            [weight]="weight.accent"
                            [size]="selectedSize"
                            [disabled]="disabledState"
                            (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           iconAndText
                           [kind]="kind.primary"
                           [weight]="weight.accent"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           [kind]="kind.primary"
                           [weight]="weight.accent"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
            <div class="button-cell">
                <pa-button [kind]="kind.secondary"
                            [weight]="weight.accent"
                            [size]="selectedSize"
                            [disabled]="disabledState"
                            (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           iconAndText
                           [kind]="kind.secondary"
                           [weight]="weight.accent"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           [kind]="kind.secondary"
                           [weight]="weight.accent"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
            <div class="button-cell">
                <pa-button [kind]="kind.destructive"
                            [weight]="weight.accent"
                            [size]="selectedSize"
                            [disabled]="disabledState"
                            (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           iconAndText
                           [kind]="kind.destructive"
                           [weight]="weight.accent"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           [kind]="kind.destructive"
                           [weight]="weight.accent"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
            <div class="align-center">Regular</div>
            <div class="button-cell">
                <pa-button [kind]="kind.primary"
                            [weight]="weight.regular"
                            [size]="selectedSize"
                            [disabled]="disabledState"
                            (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           iconAndText
                           [kind]="kind.primary"
                           [weight]="weight.regular"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           [kind]="kind.primary"
                           [weight]="weight.regular"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
            <div class="button-cell">
                <pa-button [kind]="kind.secondary"
                            [weight]="weight.regular"
                            [size]="selectedSize"
                            [disabled]="disabledState"
                            (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           iconAndText
                           [kind]="kind.secondary"
                           [weight]="weight.regular"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           [kind]="kind.secondary"
                           [weight]="weight.regular"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
            <div class="button-cell">
                <pa-button [kind]="kind.destructive"
                            [weight]="weight.regular"
                            [size]="selectedSize"
                            [disabled]="disabledState"
                            (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           iconAndText
                           [kind]="kind.destructive"
                           [weight]="weight.regular"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           [kind]="kind.destructive"
                           [weight]="weight.regular"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>

            <div class="align-center">Dim</div>
            <div class="button-cell">
                <pa-button [kind]="kind.primary"
                           [weight]="weight.dim"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           iconAndText
                           [kind]="kind.primary"
                           [weight]="weight.dim"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           [kind]="kind.primary"
                           [weight]="weight.dim"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
            <div class="button-cell">
                <pa-button [kind]="kind.secondary"
                           [weight]="weight.dim"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           iconAndText
                           [kind]="kind.secondary"
                           [weight]="weight.dim"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           [kind]="kind.secondary"
                           [weight]="weight.dim"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
            <div class="button-cell">
                <pa-button [kind]="kind.destructive"
                           [weight]="weight.dim"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           iconAndText
                           [kind]="kind.destructive"
                           [weight]="weight.dim"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
                <pa-button icon="search"
                           [kind]="kind.destructive"
                           [weight]="weight.dim"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
        </div>


    </pa-demo-examples>
    <pa-demo-configuration>
        <div class="pa-demo-configuration-field">
            <pa-select label="Size" [value]="selectedSize">
                <pa-option [selected]="selectedSize === size.xsmall" (select)="selectedSize = size.xsmall">xsmall</pa-option>
                <pa-option [selected]="selectedSize === size.small" (select)="selectedSize = size.small">small</pa-option>
                <pa-option [selected]="selectedSize === size.medium" (select)="selectedSize = size.medium">medium</pa-option>
                <pa-option [selected]="selectedSize === size.large" (select)="selectedSize = size.large">large</pa-option>
            </pa-select>
        </div>
        <div class="pa-demo-configuration-field">
            <pa-checkbox id="disabled" [(selected)]="disabledState">Disabled state</pa-checkbox>
        </div>
    </pa-demo-configuration>

    <pa-demo-usage>
        <h3>Inputs</h3>
        <dl>
            <dt>disabled</dt>
            <dd>Set disabled state</dd>

            <dt>icon</dt>
            <dd>Icon name to be used. Button text will be hidden but accessible by screen reader.</dd>

            <dt>iconAndText</dt>
            <dd>Display icon and text together <small>(default: false)</small></dd>

            <dt>kind</dt>
            <dd>primary | secondary | destructive <small>(default: secondary)</small></dd>

            <dt>size</dt>
            <dd>xsmall | small | medium | large <small>(default: medium)</small></dd>

            <dt>type</dt>
            <dd>button | submit | reset <small>(default: button)</small></dd>

            <dt>weight</dt>
            <dd>accent | regular | dim <small>(default: accent)</small></dd>
        </dl>
    </pa-demo-usage>

    <pa-demo-code>
        <pre><code>{{codeExample}}</code></pre>
    </pa-demo-code>
</pa-demo-page>
