@use '../../../../../../pastanaga-angular/src/styles/theme/palette.tokens' as palette;
@use '../../../../../../pastanaga-angular/src/styles/theme/spacing.tokens' as spacing;

.section-title {
  margin: spacing.rhythm(4) 0 spacing.rhythm(2);
}
.pa-container {
  margin-right: 0;
  .pa-buttons-container {
    display: flex;

    pa-button {
      margin-right: spacing.rhythm(2);
    }
    &.inverted {
      background-color: palette.$color-dark-stronger;
      padding: spacing.rhythm(1);
    }
  }
  .pa-buttons-block {
    display: flex;
    padding: spacing.rhythm(1);
  }

  @media (max-width: spacing.$size-viewport-large-max) {
    .pa-buttons-container {
      flex-direction: column;
    }
  }
}
