<pa-demo-page>
    <pa-demo-title>Buttons</pa-demo-title>

    <pa-demo-description>Buttons can contain text, icon or both.</pa-demo-description>

    <pa-demo-examples>
        <div class="grid-10 has-gutter">
            <!-- Row 1 -->
            <div class="col-1"></div>
            <div class="col-3 justify-center cell-header">Primary</div>
            <div class="col-3 justify-center cell-header">Secondary</div>
            <div class="col-3 justify-center cell-header">Destructive</div>

            <!-- Row 2 -->
            <div class="col-1 align-center cell-header">Solid</div>
            <pa-button class="col-1 align-center justify-right"
                       [kind]="kind.primary"
                       [aspect]="aspect.solid"
                       [size]="selectedSize"
                       [disabled]="disabledState"
                       (click)="clickOn($event)">Value</pa-button>
            <pa-button class="col-1 align-center"
                       icon="search"
                       iconAndText
                       [kind]="kind.primary"
                       [aspect]="aspect.solid"
                       [size]="selectedSize"
                       [disabled]="disabledState"
                       (click)="clickOn($event)">Value</pa-button>
            <div class="col-1 align-center">
                <pa-button icon="search"
                           [kind]="kind.primary"
                           [aspect]="aspect.solid"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>

            <pa-button class="col-1 align-center justify-right"
                       [kind]="kind.secondary"
                       [aspect]="aspect.solid"
                       [size]="selectedSize"
                       [disabled]="disabledState"
                       (click)="clickOn($event)">Value</pa-button>
            <pa-button class="col-1 align-center"
                       icon="search"
                       iconAndText
                       [kind]="kind.secondary"
                       [aspect]="aspect.solid"
                       [size]="selectedSize"
                       [disabled]="disabledState"
                       (click)="clickOn($event)">Value</pa-button>
            <div class="col-1 align-center">
                <pa-button icon="search"
                           [kind]="kind.secondary"
                           [aspect]="aspect.solid"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>

            <pa-button class="col-1 align-center justify-right"
                       [kind]="kind.destructive"
                       [aspect]="aspect.solid"
                       [size]="selectedSize"
                       [disabled]="disabledState"
                       (click)="clickOn($event)">Value</pa-button>
            <pa-button class="col-1 align-center"
                       icon="search"
                       iconAndText
                       [kind]="kind.destructive"
                       [aspect]="aspect.solid"
                       [size]="selectedSize"
                       [disabled]="disabledState"
                       (click)="clickOn($event)">Value</pa-button>
            <div class="col-1 align-center">
                <pa-button icon="search"
                           [kind]="kind.destructive"
                           [aspect]="aspect.solid"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>

            <!-- Row 3 -->
            <div class="col-1 align-center">Regular</div>
            <div class="col-1 align-center justify-right">
                <pa-button [kind]="kind.primary"
                           [aspect]="aspect.regular"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
            <div class="col-1 align-center">
                <pa-button icon="search"
                           iconAndText
                           [kind]="kind.primary"
                           [aspect]="aspect.regular"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
            <div class="col-1 align-center">
                <pa-button icon="search"
                           [kind]="kind.primary"
                           [aspect]="aspect.regular"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>

            <div class="col-1 align-center justify-right">
                <pa-button [kind]="kind.secondary"
                           [aspect]="aspect.regular"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
            <div class="col-1 align-center">
                <pa-button icon="search"
                           iconAndText
                           [kind]="kind.secondary"
                           [aspect]="aspect.regular"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
            <div class="col-1 align-center">
                <pa-button icon="search"
                           [kind]="kind.secondary"
                           [aspect]="aspect.regular"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>

            <div class="col-1 align-center justify-right">
                <pa-button [kind]="kind.destructive"
                           [aspect]="aspect.regular"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
            <div class="col-1 align-center">
                <pa-button icon="search"
                           iconAndText
                           [kind]="kind.destructive"
                           [aspect]="aspect.regular"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
            <div class="col-1 align-center">
                <pa-button icon="search"
                           [kind]="kind.destructive"
                           [aspect]="aspect.regular"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>

            <!-- Row 4 -->
            <div class="col-1 align-center cell-header">Basic</div>
            <pa-button class="col-1 align-center justify-right"
                       [kind]="kind.primary"
                       [aspect]="aspect.basic"
                       [size]="selectedSize"
                       [disabled]="disabledState"
                       (click)="clickOn($event)">Value</pa-button>
            <div class="col-1 align-center">
                <pa-button icon="search"
                           iconAndText
                           [kind]="kind.primary"
                           [aspect]="aspect.basic"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
            <div class="col-1 align-center">
                <pa-button icon="search"
                           [kind]="kind.primary"
                           [aspect]="aspect.basic"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>

            <div class="col-1 align-center justify-right">
                <pa-button [kind]="kind.secondary"
                           [aspect]="aspect.basic"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
            <div class="col-1 align-center">
                <pa-button icon="search"
                           iconAndText
                           [kind]="kind.secondary"
                           [aspect]="aspect.basic"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
            <div class="col-1 align-center">
                <pa-button icon="search"
                           [kind]="kind.secondary"
                           [aspect]="aspect.basic"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>

            <pa-button class="col-1 align-center justify-right"
                       [kind]="kind.destructive"
                       [aspect]="aspect.basic"
                       [size]="selectedSize"
                       [disabled]="disabledState"
                       (click)="clickOn($event)">Value</pa-button>
            <div class="col-1 align-center">
                <pa-button icon="search"
                           iconAndText
                           [kind]="kind.destructive"
                           [aspect]="aspect.basic"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
            <div class="col-1 align-center">
                <pa-button icon="search"
                           [kind]="kind.destructive"
                           [aspect]="aspect.basic"
                           [size]="selectedSize"
                           [disabled]="disabledState"
                           (click)="clickOn($event)">Value</pa-button>
            </div>
        </div>
    </pa-demo-examples>

    <pa-demo-configuration>
        <div class="pa-demo-configuration-field">
            <pa-select label="Size" [(ngModel)]="selectedSize">
                <pa-option [value]="size.xsmall">xsmall</pa-option>
                <pa-option [value]="size.small">small</pa-option>
                <pa-option [value]="size.medium">medium</pa-option>
                <pa-option [value]="size.large">large</pa-option>
            </pa-select>
        </div>
        <div class="pa-demo-configuration-field">
            <pa-checkbox id="disabled"
                         [(ngModel)]="disabledState">Disabled state</pa-checkbox>
        </div>
    </pa-demo-configuration>

    <pa-demo-usage>
        <h3>Inputs</h3>
        <dl>
            <dt>disabled</dt>
            <dd>Set disabled state</dd>

            <dt>icon</dt>
            <dd>Icon name to be used. Button text will be hidden but accessible by screen reader.</dd>

            <dt>iconAndText</dt>
            <dd>Display icon and text together <small>(default: false)</small></dd>

            <dt>kind</dt>
            <dd>primary | secondary | destructive <small>(default: secondary)</small></dd>

            <dt>size</dt>
            <dd>xsmall | small | medium | large <small>(default: medium)</small></dd>

            <dt>type</dt>
            <dd>button | submit | reset <small>(default: button)</small></dd>

            <dt>aspect</dt>
            <dd>solid | regular | basic <small>(default: solid)</small></dd>
        </dl>
    </pa-demo-usage>

    <pa-demo-code>
        <pre><code>{{codeExample}}</code></pre>
    </pa-demo-code>
</pa-demo-page>
