<pa-demo-page>
    <pa-demo-title>Buttons</pa-demo-title>

    <pa-demo-description>Buttons can contain text, icon or both.</pa-demo-description>
    <pa-demo-examples>
        <h3 class="section-title">Primary</h3>
        <div class="pa-container">
            <h4>Solid</h4>
            <div class="pa-buttons-container">
                <pa-button kind="primary"
                        aspect="solid"
                        [size]="selectedSize"
                        [active]="activeState"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
                <pa-button icon="search"
                        iconAndText
                        kind="primary"
                        aspect="solid"
                        [size]="selectedSize"
                        [active]="activeState"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
                <pa-button icon="search"
                        kind="primary"
                        aspect="solid"
                        [size]="selectedSize"
                        [active]="activeState"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
            </div>
            <h4>Basic</h4>
            <div class="pa-buttons-container">
                <pa-button
                        kind="primary"
                        aspect="basic"
                        [size]="selectedSize"
                        [active]="activeState"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
                <pa-button icon="search"
                        iconAndText
                        kind="primary"
                        aspect="basic"
                        [size]="selectedSize"
                        [active]="activeState"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
                <pa-button icon="search"
                        kind="primary"
                        aspect="basic"
                        [size]="selectedSize"
                        [active]="activeState"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
            </div>
        </div>
        <h3 class="section-title">Secondary</h3>
        <div class="pa-container">
            <h4>Solid</h4>
            <div class="pa-buttons-container">
                <pa-button kind="secondary"
                        aspect="solid"
                        [size]="selectedSize"
                        [active]="activeState"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
                <pa-button icon="search"
                        iconAndText
                        kind="secondary"
                        aspect="solid"
                        [size]="selectedSize"
                        [active]="activeState"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
                <pa-button icon="search"
                        kind="secondary"
                        aspect="solid"
                        [size]="selectedSize"
                        [active]="activeState"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
            </div>
            <h4>Basic</h4>
            <div class="pa-buttons-container">
                <pa-button
                        kind="secondary"
                        aspect="basic"
                        [size]="selectedSize"
                        [active]="activeState"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
                <pa-button icon="search"
                        iconAndText
                        kind="secondary"
                        aspect="basic"
                        [size]="selectedSize"
                        [active]="activeState"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
                <pa-button icon="search"
                        kind="secondary"
                        aspect="basic"
                        [size]="selectedSize"
                        [active]="activeState"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
            </div>
        </div>
        <h3 class="section-title">Destructive</h3>
        <div class="pa-container">
            <h4>Solid</h4>
            <div class="pa-buttons-container">
                <pa-button kind="destructive"
                        aspect="solid"
                        [size]="selectedSize"
                        [active]="activeState"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
                <pa-button icon="search"
                        iconAndText
                        kind="destructive"
                        aspect="solid"
                        [size]="selectedSize"
                        [active]="activeState"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
                <pa-button icon="search"
                        kind="destructive"
                        aspect="solid"
                        [size]="selectedSize"
                        [active]="activeState"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
            </div>
            <h4>Basic</h4>
            <div class="pa-buttons-container">
                <pa-button
                        kind="destructive"
                        aspect="basic"
                        [size]="selectedSize"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
                <pa-button icon="search"
                        iconAndText
                        kind="destructive"
                        aspect="basic"
                        [size]="selectedSize"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
                <pa-button icon="search"
                        kind="destructive"
                        aspect="basic"
                        [size]="selectedSize"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
            </div>
        </div>
        <h3 class="section-title">Inverted</h3>
        <div class="pa-container">
            <h4>Solid</h4>
            <div class="pa-buttons-container inverted">
                <pa-button kind="inverted"
                        aspect="solid"
                        [size]="selectedSize"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
                <pa-button icon="search"
                        iconAndText
                        kind="inverted"
                        aspect="solid"
                        [size]="selectedSize"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
                <pa-button icon="search"
                        kind="inverted"
                        aspect="solid"
                        [size]="selectedSize"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
            </div>
            <h4>Basic</h4>
            <div class="pa-buttons-container inverted">
                <pa-button
                        kind="inverted"
                        aspect="basic"
                        [size]="selectedSize"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
                <pa-button icon="search"
                        iconAndText
                        kind="inverted"
                        aspect="basic"
                        [size]="selectedSize"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
                <pa-button icon="search"
                        kind="inverted"
                        aspect="basic"
                        [size]="selectedSize"
                        [disabled]="disabledState"
                        (click)="clickOn($event)">Action</pa-button>
            </div>
        </div>
    </pa-demo-examples>
    <pa-demo-configuration>
        <div class="pa-demo-configuration-field">
            <pa-select label="Size" [(ngModel)]="selectedSize">
                <pa-option value="small">small</pa-option>
                <pa-option value="medium">medium</pa-option>
                <pa-option value="large">large</pa-option>
            </pa-select>
        </div>
        <div class="pa-demo-configuration-field">
            <pa-checkbox id="active"
                         [(ngModel)]="activeState">Active state</pa-checkbox>
            <pa-checkbox id="disabled"
                         [(ngModel)]="disabledState">Disabled state</pa-checkbox>
        </div>
    </pa-demo-configuration>

    <pa-demo-usage>
        <h3>Inputs</h3>
        <dl>
            <dt>disabled</dt>
            <dd>Set disabled state</dd>

            <dt>icon</dt>
            <dd>Icon name to be used. Button text will be hidden but accessible by screen reader.</dd>

            <dt>iconAndText</dt>
            <dd>Display icon and text together <small>(default: false)</small></dd>

            <dt>kind</dt>
            <dd>primary | secondary | destructive | inverted <small>(default: secondary)</small></dd>

            <dt>size</dt>
            <dd>small | medium | large <small>(default: medium)</small></dd>

            <dt>type</dt>
            <dd>button | submit | reset <small>(default: button)</small></dd>

            <dt>aspect</dt>
            <dd>solid | basic <small>(default: solid)</small></dd>
        </dl>
    </pa-demo-usage>

    <pa-demo-code>
        <pre><code>{{codeExample}}</code></pre>
    </pa-demo-code>
</pa-demo-page>
