$mat-pastanaga: (
  50 : #e0f0f6,
  100 : #b3d8e8,
  200 : #80bfd8,
  300 : #4da5c8,
  400 : #2691bd,
  500 : #007eb1,
  600 : #0076aa,
  700 : #006ba1,
  800 : #006198,
  900 : #004e88,
  A100 : #b4daff,
  A200 : #81c1ff,
  A400 : #4ea8ff,
  A700 : #359bff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


$mat-pastanaga-brown: (
  50 : #f0eded,
  100 : #dad2d2,
  200 : #c1b5b5,
  300 : #a89797,
  400 : #958080,
  500 : #826a6a,
  600 : #7a6262,
  700 : #6f5757,
  800 : #654d4d,
  900 : #523c3c,
  A100 : #ffaaaa,
  A200 : #ff7777,
  A400 : #ff4444,
  A700 : #ff2a2a,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$mat-pastanaga-green: (
  50 : #eaefef,
  100 : #cbd6d6,
  200 : #a8bbbb,
  300 : #85a09f,
  400 : #6b8b8b,
  500 : #517776,
  600 : #4a6f6e,
  700 : #406463,
  800 : #375a59,
  900 : #274746,
  A100 : #90fffb,
  A200 : #5dfffa,
  A400 : #2afff8,
  A700 : #11fff7,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

// bae colors
$cerulean: rgb(0, 123, 193);
$darkPastelGreen: rgb(81, 170, 85);
$goldenRod: rgb(246, 168, 8);
$reddishOrange: rgb(250, 92, 42);
$lightSage: rgb(201, 234, 177);
$yellowish: rgb(243, 226, 171);

// Workflow
$state-published: $cerulean;
$state-private: $reddishOrange;