<pa-demo-page>
    <pa-demo-title>Tables</pa-demo-title>

    <pa-demo-description>Allows to use Pastanaga table style (based on <code>display: grid</code>).</pa-demo-description>

    <pa-demo-examples>
        <pa-table columns="minmax(240px, 8fr) minmax(210px, 7fr) minmax(210px, 7fr) minmax(156px, 5fr) minmax(102px, 3fr) 60px">
            <pa-table-header>
                <pa-table-sortable-header-cell label="Name" (sorted)="sortBy($event)"></pa-table-sortable-header-cell>
                <pa-table-cell header>Tags</pa-table-cell>
                <pa-table-cell header>Shared with</pa-table-cell>
                <pa-table-cell header>Last updated</pa-table-cell>
                <pa-table-cell header>Size</pa-table-cell>
                <pa-table-cell-menu header>
                    <pa-button icon="ellipsis-vertical" (click)="openMenu($event)"></pa-button>
                </pa-table-cell-menu>
            </pa-table-header>
            <pa-table-row *ngFor="let item of [data[0],data[1],data[2]]" [class.pa-selected]="rowSelected === item.id" (click)="clickRow(item.id)" clickable>
                <pa-table-cell header>{{item.name}}</pa-table-cell>
                <pa-table-cell>{{item.tags}}</pa-table-cell>
                <pa-table-cell>{{item.shared}}</pa-table-cell>
                <pa-table-cell>{{item.lastUpdate}}</pa-table-cell>
                <pa-table-cell>{{item.size}}</pa-table-cell>
                <pa-table-cell-menu>
                    <pa-button icon="ellipsis-vertical" size="small" (click)="openMenu($event)">Menu button</pa-button>
                </pa-table-cell-menu>
            </pa-table-row>
            <pa-table-row-header>{{subHeader}}</pa-table-row-header>
            <pa-table-row *ngFor="let item of [data[3],data[4],data[5]]" [class.pa-selected]="rowSelected === item.id" (click)="clickRow(item.id)" clickable>
                <pa-table-cell header>{{item.name}}</pa-table-cell>
                <pa-table-cell>{{item.tags}}</pa-table-cell>
                <pa-table-cell>{{item.shared}}</pa-table-cell>
                <pa-table-cell>{{item.lastUpdate}}</pa-table-cell>
                <pa-table-cell>{{item.size}}</pa-table-cell>
                <pa-table-cell-menu>
                    <pa-button icon="ellipsis-vertical" size="small" (click)="openMenu($event)">Menu button</pa-button>
                </pa-table-cell-menu>
            </pa-table-row>
        </pa-table>
    </pa-demo-examples>

    <pa-demo-usage>
        <h3><code>pa-table</code></h3>
        <p>It can contain <code>pa-table-header</code>, <code>pa-table-row</code>, and <code>pa-table-row-header</code></p>
        <dl>
            <dt>columns</dt>
            <dd>Define the <code>grid-template-columns</code> CSS attribute value. <small>(optional, default is <code>auto</code>)</small></dd>

            <dt>noHeader</dt>
            <dd>If true, table header is not displayed. <small>(optional)</small></dd>
        </dl>

        <h3><code>pa-table-header</code></h3>
        <p> It can contain <code>pa-table-cell</code> and <code>pa-table-cell-menu</code></p>

        <h3><code>pa-table-row</code></h3>
        <p> It can contain <code>pa-table-cell</code> and <code>pa-table-cell-menu</code></p>
        <dl>
            <dt>clickable</dt>
            <dd>If true, hovering the row will display a pointer cursor. <small>(optional)</small></dd>
            <dt>pa-selected</dt>
            <dd>Applying the class <code>.pa-selected</code> to a row change its background color to be <code>$color-background-table-row-selected</code>.</dd>
        </dl>

        <h3><code>pa-table-row-header</code></h3>
        <p>It renders as a full width row, displaying a label. Free content.</p>

        <h3><code>pa-table-cell</code></h3>
        <p>It renders as a cell. Free content.</p>
        <dl>
            <dt>header</dt>
            <dd>If true, cell is rendered as a header cell. <small>(optional)</small></dd>
        </dl>

        <h3><code>pa-table-sortable-header-cell</code></h3>
        <p>It renders as a sortable header cell with a sorting indicator.</p>
        <dl>
            <dt>active</dt>
            <dd>If true, display the sorting indicator icon, otherwise it will display a chevron down icon on hover. <small>False by default</small></dd>

            <dt>isDescending</dt>
            <dd>Set the sorting indicator to <code>sorted-descending</code> icon. <small>By default, sorting indicator is <code>sorted-ascending</code></small></dd>

            <dt>sort</dt>
            <dd>Event triggered when clicking on the cell.</dd>
        </dl>

        <h3><code>pa-table-cell-menu</code></h3>
        <p>
            It renders as a cell with centered aligned content and it must contain a <code>pa-button</code>.
        </p>
        <p>
            The button is visible only when its parent row is hovered (except for header cells).
        </p>
        <dl>
            <dt>header</dt>
            <dd>If true, cell is rendered as a header cell and menu button is always visible. <small>(optional)</small></dd>
        </dl>
    </pa-demo-usage>

    <pa-demo-code>
        <pre><code>{{ code }}</code></pre>
    </pa-demo-code>
</pa-demo-page>
