<h2 class="header-title">Log in</h2>

<form class="form" #f="ngForm" (ngSubmit)="login($event, f.value, f)">

  <fieldset class="fieldset">

    <div class="form-header">
      <legend class="legend">Sign in to start session</legend>
    </div>

    <div class="form-body">

      <mat-form-field>
        <label for="username" class="label">User</label>
        <input id="username" class="input" name="username" [(ngModel)]="username" required matInput>
      </mat-form-field>

      <mat-form-field>
        <label for="password" class="label">Password</label>
        <input id="password" class="input" name="password" [(ngModel)]="password" type="password" required matInput>
      </mat-form-field>

      <p class="form-help">Forgot password? Ask for a <a class="link" href="">new password.</a></p>

    </div>

    <div class="form-actions">
      <a href="" class="btn btn-clear" (click)="goBack($event)" mat-fab color="basic">
        <mat-icon svgIcon="clear"></mat-icon>
      </a>
      <button class="btn btn-submit" type="submit" mat-fab color="primary">
        <mat-icon svgIcon="ahead"></mat-icon>
      </button>
    </div>

  </fieldset>

</form>
