<header>
    <h2>Log in</h2>
</header>

<form class="pastanaga-form"  #form="ngForm" (ngSubmit)="onSubmit(form.value)">

  <fieldset class="fieldset">

    <div class="form-header">
      <legend class="legend">Sign in to start session</legend>
    </div>

    <div class="form-body">

      <p class="error" *ngIf="error">{{ error }}</p>

      <mat-form-field>
        <label for="login" class="label">User</label>
        <input id="login" class="input" type="text" name="login" ngModel required matInput>
      </mat-form-field>
      
      <mat-form-field>
        <label for="password" class="label">Password</label>
        <input id="password" class="input" name="password" ngModel type="password" required matInput>
      </mat-form-field>
      
      <p class="form-help">Forgot password? Ask for a <a class="link" href="">new password.</a></p>

    </div>

    <div class="form-actions">
      <button class="pastanaga-button">
        <mat-icon svgIcon="clear" (click)="cancel()"></mat-icon>
      </button>
      <button class="pastanaga-button primary" type="submit" value="Login">
        <mat-icon svgIcon="ahead"></mat-icon>
      </button>
    </div>

  </fieldset>

</form>
