<h2>Log in</h2>
<form action="POST">

  <fieldset class="fieldset">
    <legend>Sign in to start session</legend>

    <mat-form-field>
      <label for="login-user">User</label>
      <input matInput id="login-user" name="username">
    </mat-form-field>

    <mat-form-field>
      <label for="login-password">Password</label>
      <input matInput id="login-password" name="password">
    </mat-form-field>

    <p class="form-help">Forgot password? Ask for a <a href="">new password.</a></p>

    <div class="form-actions">
      <button mat-fab>
        <mat-icon svgIcon="clear"></mat-icon>
      </button>
      <button mat-fab>
        <mat-icon svgIcon="ahead"></mat-icon>
      </button>
    </div>

  </fieldset>

</form>
