
// Palette

$color-light-sage: #c9eab1;
$color-bodycolor: #252525;
$color-alert-error: #f5c1c1;
$color-teal-blue: #007eb1;
$color-cerulean: #007bc1;
$color-dark-pastel-green: #51aa55;
$color-golden-rod: #f6a808;
$color-reddish-orange: #fa5c2a;
$color-lipstick: #d01157;
$color-reddish-grey: #826a6a;
$color-dark-hot-pink: #e40166;
$color-slate: #517776;

// Elements

.header-title {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500,
}

.form {
    font-family: "Poppins";
}

.fieldset {
    background: #fff;
    border: 0;
    margin: 0;
    padding: 0;
}

.form-body,
.form-actions {
    padding-left: 20px;
    padding-right: 20px;
}

.form-header {
    background: #f2f5f6;
    .legend {
        background: mat-color($mat-pastanaga-green, 50, null);
        box-sizing: border-box;
        color: mat-color($mat-pastanaga-green, 500, null); // TODO: should match $color-slate
        display: block;
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        padding: 10px 20px;
        text-transform: uppercase;
        width: 100%;
    }
}

.form-body {
    border-bottom: 1px solid #edf1f2;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.form-actions {
    text-align: right;
}

.label {
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.input {
    font-family: "Poppins-Light", "Poppins";
    font-size: 14px;
    font-weight: 300;
}

.form-help {
    color: $color-teal-blue;
    font-family: "Poppins-Light", "Poppins";
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    .link {
        color: #878f93;
    }
}

.btn {
    margin-left: 22px;
}

// Material Design overrides

// .mat-fab.mat-accent,
// .mat-mini-fab.mat-accent,
// .mat-raised-button.mat-accent {

// }
