@use 'palette.tokens';
@use 'spacing.tokens';
@use 'typography.tokens';

$avatar-primary: palette.$color-primary-lightest !default;
$avatar-secondary: palette.$color-secondary-lightest !default;
$avatar-tertiary: palette.$color-tertiary-lightest !default;

$size-avatar-tiny: spacing.rhythm(3) !default;
$size-avatar-small: spacing.rhythm(4) !default;
$size-avatar-medium: spacing.rhythm(6) !default;
$size-avatar-huge: spacing.rhythm(16) !default;
$background-color-avatar-default: palette.$color-neutral-lighter !default;
$font-weight-avatar-icon-alt: typography.$font-weight-semi-bold !default;
$font-weight-avatar-initials: typography.$font-weight-thin !default;
