@import "palette.tokens";
@import "typography.tokens";

//=====================================
// COLORS
//=====================================
// Background
$color-background-body: $color-light-stronger !default;

// Text
$color-text-accent: $color-dark-stronger !default;
$color-text-dim: $color-neutral-strong !default;
$color-text-disabled: $color-neutral-regular !default;

// Links
$color-text-link-regular: $color-primary-regular !default;
$color-text-link-regular-hover: $color-primary-strong !default;

$color-text-title-default: $color-dark-stronger !default;

//=====================================
// TYPOGRAPHY
//=====================================
$font-weight-body:  $font-weight-thin !default;
$font-weight-title: $font-weight-semi-bold !default;
$font-weight-dt:    $font-weight-thin !default;
$font-weight-dd:    $font-weight-thin !default;
$font-weight-label: $font-weight-semi-bold !default;
$font-weight-placeholder: $font-weight-thin !default;
$font-weight-menu-header: $font-weight-semi-bold !default;
$font-weight-link:  $font-weight-semi-bold !default;

$text-decoration-link:          none !default;
$text-decoration-link-hover:    underline !default;
