@use 'palette.tokens';
@use 'spacing.tokens';

$background-card: palette.$color-light-stronger !default;
$background-card-hover: palette.$color-neutral-lightest !default;
$background-card-active: palette.$color-neutral-lighter !default;

$border-card: 1px solid palette.$color-neutral-lighter !default;
$border-radius-card: spacing.$border-radius-default !default;

$padding-horizontal-card: spacing.rhythm(2) !default;
$padding-vertical-card: spacing.rhythm(2) !default;
