@import '../variables';

$background-color-collapsed-expander-header: transparent !default;
$background-color-collapsed-expander-header-hover: transparent !default;
$color-collapsed-expander-header-title: $color-neutral-regular !default;
$color-collapsed-expander-header-title-hover: $color-dark-stronger !default;
$color-collapsed-expander-header-icon: $color-dark-stronger !default;

$background-color-expanded-expander-header: transparent !default;
$background-color-expanded-expander-header-hover: transparent !default;
$color-expanded-expander-header-title: $color-neutral-regular !default;
$color-expanded-expander-header-title-hover: $color-dark-stronger !default;
$color-expanded-expander-header-icon: $color-dark-stronger !default;

