@use 'palette.tokens';
@use 'spacing.tokens';

//=====================================
// COLORS
//=====================================
$color-text-menu-option-header: palette.$color-neutral-regular !default;
$color-text-menu-option-destructive: palette.$color-secondary-regular !default;
$color-text-menu-option-disabled: palette.$color-neutral-light !default;

$color-background-menu-option-hover: palette.$color-neutral-lightest !default;
$color-background-menu-option-active: palette.$color-neutral-light !default;
$color-background-menu-option-selected: palette.$color-primary-lightest !default;
$color-background-menu-option-disabled: palette.$color-light-stronger !default;
$color-background-menu-option-destructive-hover: palette.$color-neutral-lightest !default;
$color-background-menu-option-destructive-active: palette.$color-neutral-light !default;

$color-border-menu-separator: palette.$color-neutral-lightest !default;

//=====================================
// SPACING
//=====================================
$padding-menu-option-top: spacing.rhythm(1) !default;
$padding-menu-option-side: spacing.rhythm(2) !default;
