@import "palette.tokens";
@import "spacing.tokens";

//=====================================
// COLORS
//=====================================
$color-text-menu-option-header: $color-neutral-strong !default;
$color-text-menu-option-destructive: $color-secondary-regular !default;
$color-text-menu-option-disabled: $color-neutral-regular !default;
$color-background-menu-option-hover: $color-neutral-lightest !default;
$color-background-menu-option-active: $color-neutral-regular !default;
$color-background-menu-option-selected: $color-primary-lightest !default;
$color-background-menu-option-disabled: $color-light-stronger !default;

$color-border-menu-separator: $color-neutral-lightest !default;

//=====================================
// SPACING
//=====================================
$padding-menu-option-top: rhythm(1) !default;
$padding-menu-option-side: rhythm(2) !default;
