// Colors palette

// General tokens
$color-dark-stronger: var(--color-dark-stronger, hsl(207, 90%, 7%)) !default;

// We cannot use HSL for white because hsl(0,0%,100%) is translated to the keyword `white` instead of the hexa code `#fff`,
// which is breaking the code we use in `background-image: url()` where we encode the `#`
$color-light-stronger: var(--color-light-stronger, #fff) !default;

$color-neutral-regular: var(--color-neutral-regular, hsl(207, 17%, 58%)) !default;
$color-neutral-light: var(--color-neutral-light, hsl(207, 17%, 80%)) !default;
$color-neutral-lighter: var(--color-neutral-lighter, hsl(207, 17%, 91%)) !default;
$color-neutral-lightest: var(--color-neutral-lightest, hsl(207, 17%, 96%)) !default;

$color-primary-stronger: var(--color-primary-stronger, hsl(207, 90%, 31%)) !default;
$color-primary-strong: var(--color-primary-strong, hsl(207, 90%, 43%)) !default;
$color-primary-regular: var(--color-primary-regular, hsl(207, 90%, 55%)) !default;
$color-primary-light: var(--color-primary-light, hsl(207, 90%, 73%)) !default;
$color-primary-lighter: var(--color-primary-lighter, hsl(207, 90%, 85%)) !default;
$color-primary-lightest: var(--color-primary-lightest, hsl(207, 90%, 92%)) !default;

$color-secondary-stronger: var(--color-secondary-stronger, hsl(7, 90%, 35%)) !default;
$color-secondary-strong: var(--color-secondary-strong, hsl(7, 90%, 43%)) !default;
$color-secondary-regular: var(--color-secondary-regular, hsl(7, 90%, 59%)) !default;
$color-secondary-light: var(--color-secondary-light, hsl(7, 90%, 78%)) !default;
$color-secondary-lighter: var(--color-secondary-lighter, hsl(7, 90%, 89%)) !default;
$color-secondary-lightest: var(--color-secondary-lightest, hsl(7, 90%, 95%)) !default;

$color-tertiary-stronger: var(--color-tertiary-stronger, hsl(175, 60%, 23%)) !default;
$color-tertiary-strong: var(--color-tertiary-strong, hsl(175, 60%, 31%)) !default;
$color-tertiary-regular: var(--color-tertiary-regular, hsl(175, 60%, 40%)) !default;
$color-tertiary-light: var(--color-tertiary-light, hsl(175, 60%, 66%)) !default;
$color-tertiary-lighter: var(--color-tertiary-lighter, hsl(175, 60%, 83%)) !default;
$color-tertiary-lightest: var(--color-tertiary-lightest, hsl(175, 60%, 90%)) !default;

// To be reviewed

// Alphas
$_alpha_default: hsla(0, 0%, 100%, 0.5);
$_alpha_light: hsla(0, 0%, 100%, 0.25);
$_alpha_lighter: hsla(0, 0%, 100%, 0.15);
$_alpha_lightest: hsla(0, 0%, 100%, 0.05);

// Inverted
$color-neutral-inverted-default: $_alpha_default !default;
$color-neutral-inverted-light: $_alpha_light !default;
$color-neutral-inverted-lighter: $_alpha_lighter !default;
$color-neutral-inverted-lightest: $_alpha_lightest !default;
