@use 'palette.tokens';
@use 'spacing.tokens';

$color-background-popover: palette.$color-dark-stronger !default;
$color-text-popover: palette.$color-light-stronger !default;

$size-arrow-popover: spacing.rhythm(1.5) !default;
