@import 'palette.tokens';
@import 'spacing.tokens';
@import 'typography.tokens';

$background-color-side-nav: $color-light-stronger !default;
$font-size-side-nav-item: font-size(m) !default;
$line-height-side-nav-item: line-height(l) !default;
$height-side-nav-item: rhythm(6) !default;
