@import "palette.tokens";
@import "typography.tokens";

$font-weight-text-table-header:         $font-weight-bold !default;
$font-weight-table-row:                 $font-weight-regular !default;
$font-weight-text-table-header-row:     $font-weight-thin !default;

$color-text-table-header: $color-neutral-strong !default;
$color-text-table-header-row: $color-neutral-strong !default;
$color-text-table-row: $color-dark-stronger !default;

$color-border-table-header: $color-neutral-lighter !default;
$color-border-table-header-row: $color-neutral-lighter !default;
$color-border-table-row: $color-neutral-lighter !default;

$color-background-table-header: $color-neutral-lighter !default;
$color-background-table-header-row: $color-neutral-lighter !default;
$color-background-table-row: $color-light-stronger !default;
$color-background-table-row-hover: $color-neutral-lighter !default;
$color-background-table-row-active: $color-neutral-lighter !default;
$color-background-table-row-selected: $color-primary-lightest !default;

$color-icon-table-menu-button: $color-neutral-strong !default;
$color-icon-table-menu-button-hover: $color-dark-stronger !default;
