@import 'palette.tokens';
@import 'spacing.tokens';
@import 'typography.tokens';

$font-weight-text-table-header: $font-weight-bold !default;
$font-weight-table-row: $font-weight-regular !default;
$font-weight-text-table-header-row: $font-weight-thin !default;

$color-text-table-header: $color-neutral-regular !default;
$color-text-table-header-row: $color-neutral-regular !default;
$color-text-table-row: $color-dark-stronger !default;

$color-border-table: $color-neutral-light !default;
$color-border-table-header: $color-neutral-lightest !default;
$color-border-table-header-row: $color-neutral-lightest !default;
$color-border-table-row: $color-neutral-lightest !default;

$color-background-table-header: $color-neutral-lightest !default;
$color-background-table-header-row: $color-neutral-lightest !default;
$color-background-table-row: $color-light-stronger !default;
$color-background-table-row-hover: $color-neutral-lightest !default;
$color-background-table-row-active: $color-neutral-lightest !default;
$color-background-table-row-selected: $color-primary-lightest !default;

$color-icon-table-menu-button: $color-neutral-regular !default;
$color-icon-table-menu-button-hover: $color-dark-stronger !default;

$padding-table-header: rhythm(0.5) rhythm(2) !default;
$padding-table-row-header: rhythm(0.5) rhythm(1) !default;
$padding-table-cell-small: rhythm(1) rhythm(2) !default;
$padding-table-cell-medium: rhythm(1.5) rhythm(2) !default;

$min-height-table-header: rhythm(4) !default;
$min-height-table-cell: rhythm(9) !default;

$text-transform-table-header: uppercase !default;
