@import "palette.tokens";
@import "spacing.tokens";

$color-text-tab-link: $color-neutral-strong !default;
$color-background-tab-link-hover: $color-neutral-lightest !default;
$color-tab-slider: $color-neutral-regular !default;
$color-tab-slider-active: $color-primary-regular !default;
$tab-menu-item-padding-mobile: rhythm(1.5) !default;
$tab-menu-item-padding-desktop: rhythm(1.5) !default;
