@import "palette.tokens";
@import "spacing.tokens";

$color-text-tab-link: $color-neutral-regular !default;
$color-background-tab-link-hover: $color-neutral-lightest !default;
$color-tab-slider: $color-neutral-light !default;
$color-tab-slider-active: $color-primary-regular !default;

$padding-tab-item-small: rhythm(1.5) !default;
$padding-tab-item-medium: rhythm(1.5) !default;
