@import 'palette.tokens';
@import 'spacing.tokens';
@import 'typography.tokens';

//=====================================
// COLORS
//=====================================
$color-autofilled-background: hsl(208, 100%, 95%);
$color-autofilled-background-transparent: hsla(208, 100%, 95%, 0);
$color-autofilled: hsl(223, 100%, 50%);
//
// label
//
$color-text-field-label-regular: $color-neutral-regular !default;
$color-text-field-label-regular-active: $color-primary-regular !default;
$color-text-field-label-disabled: $color-neutral-light !default;
$color-text-field-label-error: $color-secondary-regular !default;
$color-text-field-label-autofilled: $color-autofilled !default;

$scale-text-field-label: 0.8 !default;

//
// control
//
$color-text-field-control-regular: $color-dark-stronger !default;
$color-text-field-control-disabled: $color-neutral-light !default;
$color-text-field-control-placeholder-regular: $color-neutral-regular !default;
$color-text-field-control-help-regular: $color-neutral-regular !default;

$color-caret-field-control-active: $color-primary-regular !default;
$color-caret-field-control-error: $color-secondary-regular !default;

$color-background-field-regular: none !default;
$color-background-field-autofilled: $color-autofilled-background !default;
$color-background-field-autofilled-transparent: $color-autofilled-background !default;
$color-background-field-error: none !default;

//=====================================
// BORDERS
//=====================================
$border-width-regular: 1px !default;
$border-width-active: 1px !default;

$border-color-field-regular: $color-neutral-lighter !default;
$border-color-field-hover: $color-neutral-regular !default;
$border-color-field-active: $color-primary-regular !default;

$border-color-field-error: $color-secondary-regular !default;

$border-color-field-disabled: $color-neutral-light !default;
$border-color-field-readonly: $color-neutral-light !default;
$border-color-field-autofilled: $color-autofilled !default;

$border-radius-field: $border-radius-default !default;

//=====================================
// SPACING and SHADOWS
//=====================================
$font-size-field-control: font-size(m) !default;
$line-height-field-control: line-height(l) !default;
$padding-field-control-top: calc(#{rhythm(1.5)} - 1px) !default; // remove 1px taken by the border
$padding-field-control-left: rhythm(1.5) !default;
$margin-bottom-field: rhythm(3) !default;
