@use 'shadows.tokens' as shadows;
@use 'palette.tokens' as palette;
@use 'spacing.tokens' as spacing;

//=====================================
// COLORS
//=====================================

// Background color
$background-toast-info: palette.$color-primary-regular !default;
$background-toast-success: palette.$color-tertiary-regular !default;
$background-toast-error: palette.$color-secondary-regular !default;
$background-toast-warning: palette.$color-secondary-light !default;

// Text color
$color-toast-success: palette.$color-light-stronger !default;
$color-toast-error: palette.$color-light-stronger !default;
$color-toast-warning: palette.$color-light-stronger !default;
$color-toast-info: palette.$color-light-stronger !default;

// button background
$background-toast-button-default: transparent !default;
$background-toast-button-default-hover: rgba(255, 255, 255, 0.15) !default;
$background-toast-button-default-active: rgba(255, 255, 255, 0.25) !default;

$background-toast-button-info: $background-toast-button-default !default;
$background-toast-button-success: $background-toast-button-default !default;
$background-toast-button-warning: $background-toast-button-default !default;
$background-toast-button-error: $background-toast-button-default !default;

$background-toast-button-info-hover: $background-toast-button-default-hover !default;
$background-toast-button-success-hover: $background-toast-button-default-hover !default;
$background-toast-button-warning-hover: $background-toast-button-default-hover !default;
$background-toast-button-error-hover: $background-toast-button-default-hover !default;

$background-toast-button-info-active: $background-toast-button-default-active !default;
$background-toast-button-success-active: $background-toast-button-default-active !default;
$background-toast-button-warning-active: $background-toast-button-default-active !default;
$background-toast-button-error-active: $background-toast-button-default-active !default;

//=====================================
// SPACING
//=====================================
$min-width-toast: spacing.rhythm(28) !default;
$padding-toast: spacing.rhythm(1.5) !default;
$padding-toast-with-button: spacing.rhythm(1) spacing.rhythm(1) spacing.rhythm(1) spacing.rhythm(1.5) !default;

$space-toast-between-icon-and-text: spacing.rhythm(1.5) !default;
$space-toast-between-button-and-text: spacing.rhythm(2) !default;
