@import "shadows.tokens";

//=====================================
// COLORS
//=====================================

// Background color
$background-toast-info: $color-primary-regular !default;
$background-toast-success: $color-tertiary-regular !default;
$background-toast-error: $color-secondary-regular !default;
$background-toast-warning: $color-secondary-light !default;

// Text color
$color-toast-success: $color-light-stronger !default;
$color-toast-error: $color-light-stronger !default;
$color-toast-warning: $color-light-stronger !default;
$color-toast-info: $color-light-stronger !default;

// button background
$background-toast-button-default: transparent !default;
$background-toast-button-default-hover: rgba($color-light-stronger, 0.15) !default;
$background-toast-button-default-active: rgba($color-light-stronger, 0.25) !default;

$background-toast-button-info: $background-toast-button-default !default;
$background-toast-button-success: $background-toast-button-default !default;
$background-toast-button-warning: $background-toast-button-default !default;
$background-toast-button-error: $background-toast-button-default !default;

$background-toast-button-info-hover: $background-toast-button-default-hover !default;
$background-toast-button-success-hover: $background-toast-button-default-hover !default;
$background-toast-button-warning-hover: $background-toast-button-default-hover !default;
$background-toast-button-error-hover: $background-toast-button-default-hover !default;

$background-toast-button-info-active: $background-toast-button-default-active !default;
$background-toast-button-success-active: $background-toast-button-default-active !default;
$background-toast-button-warning-active: $background-toast-button-default-active !default;
$background-toast-button-error-active: $background-toast-button-default-active !default;

//=====================================
// SPACING
//=====================================
$min-width-toast: rhythm(28) !default;
$padding-toast: rhythm(1.5) !default;
$padding-toast-with-button: rhythm(1) rhythm(1) rhythm(1) rhythm(1.5) !default;

$space-toast-between-icon-and-text: rhythm(1.5) !default;
$space-toast-between-button-and-text: rhythm(2) !default;
