@import 'palette.tokens';
@import 'spacing.tokens';
@import 'typography.tokens';

//=====================================
// COLORS
//=====================================

// Background checkbox/radio
$color-background-toggle-selected: $color-primary-regular !default;
$color-background-toggle-indeterminate: $color-primary-regular !default;
$color-background-toggle-selected-hover: $color-primary-strong !default;
$color-background-toggle-disabled: $color-neutral-lightest !default;
$color-background-toggle-unselected-disabled: $color-neutral-lightest !default;

$background-radio-group-odd-item: $color-neutral-lightest !default;
$background-radio-group-even-item: $color-light-stronger !default;
$background-radio-group-hover-item: $color-neutral-lighter !default;

// Background toggle
$color-background-toggle-button: $color-light-stronger !default;
$color-background-toggle-slider: $color-neutral-lighter !default;
$color-background-toggle-slider-selected: $color-primary-regular !default;
$color-background-toggle-slider-disabled: $color-neutral-light !default;
$color-background-toggle-button-disabled: $color-neutral-lighter !default;

// Border
$color-border-toggle-selected: $color-background-toggle-selected !default;
$color-border-toggle-indeterminate: $color-background-toggle-selected !default;
$color-border-toggle-selected-hover: $color-background-toggle-selected-hover !default;
$color-border-toggle-selected-disabled: $color-background-toggle-disabled !default;

$color-border-toggle-unselected: $color-neutral-light !default;
$color-border-toggle-unselected-hover: $color-dark-stronger !default;
$color-border-toggle-unselected-disabled: $color-neutral-light !default;

// Check
$color-check-toggle: $color-light-stronger !default;
$color-check-toggle-indeterminate: $color-light-stronger !default;
$color-check-toggle-disabled: $color-neutral-light !default;

//=====================================
// SPACING
//=====================================
$size-toggle-checkbox: calc(#{rhythm(2)} - #{rhythm(0.25)}) !default;
$gap-radio-group: rhythm(1) !default;

$height-toggle: rhythm(3) !default;
$width-toggle: rhythm(6) !default;
$padding-toggle-slider: rhythm(0.25) !default;
$margin-toggle-container: 0 !default;
$margin-top-toggle-with-help-label: -#{rhythm(0.5)} !default;

//=====================================
// TYPOGRAPHY
//=====================================
$font-size-checkbox-label: font-size(s);
$line-height-checkbox-label: line-height(m);
