@import "../../../../../pastanaga-angular/src/lib/styles/variables";

pa-demo-page {
    display: block;
    padding: rhythm(2) 0 rhythm(4);

    .doc-page-title,
    .doc-section-title,
    .pa-demo-example-configuration-title {
        margin-bottom: rhythm(4);
    }

    section.doc-section {
        margin-bottom: rhythm(6);

        h2 {
            margin-bottom: rhythm(3);
        }
        h3 {
            margin-bottom: rhythm(2);
        }
        h4 {
            margin-bottom: rhythm(1);
        }
    }


    dl {
        dt {
            font-weight: $font-weight-semi-bold;
        }
        dd {
            small {
                color: $color-neutral-regular;
            }
        }
    }

    pa-demo-description {
        ul {
            list-style: revert;
            padding: revert;
        }

        dl {
            dt {
                margin-bottom: rhythm(1);
            }
            dd {
                margin-bottom: rhythm(2);
            }
        }
    }

    pa-demo-usage {
        code {
            display: inline;
            background: $color-neutral-lighter;
            margin: 0;
            padding: 0 rhythm(.25);
            overflow: auto;
        }
        dl {
            display: flex;
            flex-wrap: wrap;

            dt {
                flex: 1 0 25%;
                min-width: rhythm(24);
            }
            dd {
                flex: 1 0 75%;
            }
        }
    }

    pa-demo-examples {
        display: block;
        margin-bottom: rhythm(1.5);

        > *:not(.icon-list-container) {
            margin-right: rhythm(4);
        }

        h3:not(.typography) {
            margin: rhythm(4) 0 rhythm(2);
        }
    }

    .pa-demo-example-configuration {
        margin-top: rhythm(4);

        .pa-demo-configuration-field {
            margin-bottom: rhythm(1);
        }
    }

    pa-demo-code code {
        display: block;
        padding: rhythm(1.5);
        background-color: $color-neutral-light;
        margin: rhythm(1.5) 0;
        overflow: auto;
    }
}
