@import "../../../../../pastanaga-angular/src/lib/styles/variables";

pa-demo-page {
    .doc-page-title {
        @include font-size(dsmall);
    }

    .doc-page-title,
    .doc-section-title {
        margin-bottom: rhythm(2.5);
    }

    section.doc-section {
        margin-bottom: rhythm(4);

        .doc-section-title {
            @include font-size(dxsmall);
        }
    }

    pa-demo-usage {
        code {
            display: inline;
            background: $color-neutral-faded;
            margin: 0;
            padding: 0 rhythm(.25);
        }

        dl {
            display: flex;
            flex-wrap: wrap;

            dt {
                flex: 1 0 20%;
                min-width: rhythm(17);
                font-weight: $font-weight-strong;
            }
            dd {
                flex: 1 0 80%;

                small {
                    color: $color-neutral-light;
                }
            }
        }
    }

    pa-demo-examples {
        display: block;
        margin-bottom: rhythm(1);

        > *:not(:last-child) {
            margin-right: rhythm(2.5);
        }

        .pa-demo-example-configuration {
            margin-top: rhythm(2.5);

            label {
                margin-right: rhythm(.5);
            }
            select {
                margin-bottom: rhythm(.5);
            }
            div {
                margin: rhythm(.5) 0;
            }
        }
    }

    pa-demo-code code {
        display: block;
        padding: rhythm(1);
        background-color: $color-neutral-lighter;
        margin: rhythm(1) 0;
    }
}
