@use '../../../../../pastanaga-angular/src/styles/theme/palette.tokens' as palette;
@use '../../../../../pastanaga-angular/src/styles/theme/spacing.tokens' as spacing;
@use '../../../../../pastanaga-angular/src/styles/theme/typography.tokens' as typography;

pa-demo-page {
  display: block;
  padding: spacing.rhythm(2) 0 spacing.rhythm(4);

  .doc-page-title,
  .doc-section-title,
  .pa-demo-example-configuration-title {
    margin-bottom: spacing.rhythm(4);
  }

  section.doc-section {
    margin-bottom: spacing.rhythm(6);

    h2 {
      margin-bottom: spacing.rhythm(3);
    }

    h3 {
      margin-bottom: spacing.rhythm(2);
    }

    &:not(.example-section) {
      h4,
      h5,
      h6 {
        margin-bottom: spacing.rhythm(1);
      }
    }
  }

  dl {
    dt {
      font-weight: typography.$font-weight-regular;
    }

    dd {
      small {
        color: palette.$color-neutral-regular;
      }
    }
  }

  pa-demo-description {
    ul {
      list-style: revert;
      padding: revert;
    }

    dl {
      dt {
        margin-bottom: spacing.rhythm(1);
      }

      dd {
        margin-bottom: spacing.rhythm(2);
      }
    }
  }

  pa-demo-usage {
    code {
      display: inline;
      background: palette.$color-neutral-lightest;
      margin: 0;
      padding: 0 spacing.rhythm(0.25);
      overflow: auto;
    }

    dl {
      display: flex;
      flex-wrap: wrap;

      dt {
        flex: 1 0 25%;
        min-width: spacing.rhythm(24);
      }

      dd {
        flex: 1 0 75%;
      }
    }
  }

  pa-demo-examples {
    display: block;
    margin-bottom: spacing.rhythm(1.5);

    > *:not(.icon-list-container) {
      margin-right: spacing.rhythm(4);
    }

    h3:not(.typography) {
      margin: spacing.rhythm(4) 0 spacing.rhythm(2);
    }
  }

  .pa-demo-example-configuration {
    margin-top: spacing.rhythm(4);

    .pa-demo-configuration-field {
      margin-bottom: spacing.rhythm(1);
    }
  }

  pa-demo-code {
    pre > code {
      display: block;
      padding: spacing.rhythm(1.5);
      background-color: palette.$color-neutral-lighter;
      margin: spacing.rhythm(1.5) 0;
      overflow: auto;
    }
  }
}

@media (max-width: spacing.$size-viewport-medium-max) {
  .doc-page-title {
    margin-left: spacing.rhythm(7);
  }
}
