<h1 class="doc-page-title">
    <ng-content select="pa-demo-title"></ng-content>
</h1>

<section class="doc-section">
    <p><ng-content select="pa-demo-description"></ng-content></p>
</section>

<section class="doc-section"  [hidden]="!_hasExamples">
    <h2 class="doc-section-title">Examples</h2>
    <div #examples>
        <ng-content select="pa-demo-examples"></ng-content>
    </div>

</section>

<section class="doc-section" [hidden]="!_hasUsage">
    <h2 class="doc-section-title">Usage</h2>
    <div #usage>
        <ng-content select="pa-demo-usage"></ng-content>
    </div>

</section>

<section class="doc-section" [hidden]="!_hasCode">
    <h2 class="doc-section-title">Code</h2>
    <div #code>
        <ng-content select="pa-demo-code"></ng-content>
    </div>

</section>
