<h4>Inputs</h4>
<dl>
  <dt>id</dt>
  <dd>
    id to be used by the directive
    <small>(optional)</small>
  </dd>

  <dt>name</dt>
  <dd>
    name to use for the form field
    <small>(optional)</small>
  </dd>

  <dt>value</dt>
  <dd>
    sets the value to the formControl
    <small>(should not be used in combination with ngModel nor formControl directives)</small>
  </dd>

  <dt>readonly</dt>
  <dd>
    sets the formControl to readonly (value can only be updated by parent component)
    <small>(default: false)</small>
  </dd>

  <dt>disabled</dt>
  <dd>
    disable the form control
    <small>(default: false)</small>
  </dd>

  <dt>errorMessage</dt>
  <dd>
    manually set the control in invalid state with the given error message
    <small>(optional)</small>
  </dd>
</dl>
<h4>Outputs</h4>
<dl>
  <dt>valueChange</dt>
  <dd>emits the value when it changes</dd>
  <dt>statusChange</dt>
  <dd>emits the status of the form control value when it changes (valid / invalid)</dd>
</dl>
