
<mat-card class="example-card">
  <mat-card-header>
    <h2>Edit</h2>
  </mat-card-header>
  <mat-card-content>
    <form #f="ngForm" (ngSubmit)="send(f.value, f)">
      <legend>Sign in to start session</legend>
  
      <mat-form-field>
        <label for="title">Title</label>
        <input matInput id="title" name="title" [(ngModel)]="title">
      </mat-form-field>
        
      <mat-form-field class="example-full-width">
        <label for="description">Description</label>
        <textarea id="description" name="description" matInput [(ngModel)]="description"></textarea>
      </mat-form-field>
  
      <div class="form-actions">
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-fab>
      <mat-icon svgIcon="clear"></mat-icon>
    </button>
    <button mat-fab>
      <mat-icon svgIcon="ahead"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>