<header class="page-header">
  <h2>Edit</h2>
</header>
<form #f="ngForm" (ngSubmit)="send(f.value)">
  <mat-card class="example-card">
    <mat-card-content>
      <legend>Modify the document</legend>

      <mat-form-field>
        <label for="title">Title</label>
        <input matInput id="title" name="title" [ngModel]="context.title">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <label for="description">Description</label>
        <textarea id="description" name="description" matInput [ngModel]="context.description"></textarea>
      </mat-form-field>
      
      <label for="text">Text</label>
      <medium-editor [ngModel]="text" name="text" class="editable"></medium-editor>

    </mat-card-content>

    <div class="form-actions">
      <a traverseTo="@@view" class="pastanaga-button">
        <mat-icon svgIcon="clear"></mat-icon>
      </a>
      <a (click)="send(f.value)" class="pastanaga-button primary">
        <mat-icon svgIcon="ahead"></mat-icon>
      </a>
    </div>
  </mat-card>
</form>
