:host {
    display: block;
    padding: 24px;

    .example-box {
        border: 3px solid #ddd;
        border-radius: 6px;
        padding: 36px 30px;
        margin: 36px 30px;
        position: relative;
    }
    .example-box-header {
        background: #ddd;
        position: sticky;
        top: 0;
        left: 0;
        padding: 3px 6px;
        margin: -36px -30px 6px;
        z-index: 9;
        cursor: pointer;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 12px 0;
    }
    th {
        width: 33%;
    }
    th, td {
        border: 1px solid black;
        padding: 12px;
    }
    .checkoxes td {
        padding-left: 42px;
    }

    .double-sliders {
        position: relative;
        padding-top: 48px;

        pa-button {
            position: absolute;
            top: 6px;
            right: 6px;
        }
    }
    .slider-no-label {
        ::ng-deep pa-double-slider {
            .pa-slider-wrapper {
                width: 100%;
            }

            .pa-slider-container {
                width: calc(100% - 60px);
            }
        }
    }

    aside#pa-toasts-block {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 100;
        align-content: center;
    }
}
