<h1>Pastanaga usage examples</h1>

<div class="example-box">
    <div class="example-box-header">Controls</div>
    <table>
        <thead>
        <tr><th>checkboxes</th>
            <th>2 way data-binding</th>
            <th>selection</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <pa-checkbox icon="ninja" help="Some help" [(isSelected)]="isStandaloneCheckboxSelected"
                             (selection)="standaloneSelection = $event">Standalone checkbox</pa-checkbox>
            </td>
            <td>isSelected: {{isStandaloneCheckboxSelected}}</td>
            <td>
               {{standaloneSelection}}
            </td>
        </tr>
        </tbody>
    </table>


</div>
