<h1 translate>demo-page.title</h1>

<div class="example-box">
    <div class="example-box-header">Controls</div>
    <table class="checkoxes">
        <thead>
        <tr><th>Checkboxes</th>
            <th>2 way data-binding</th>
            <th>selection</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <pa-checkbox icon="delete" help="Some help" [(isSelected)]="isStandaloneCheckboxSelected"
                             (selection)="standaloneSelection = $event">Standalone checkbox</pa-checkbox>
            </td>
            <td>isSelected: {{isStandaloneCheckboxSelected}}</td>
            <td>
               {{standaloneSelection}}
            </td>
        </tr>
        <tr>
            <td>
                <pa-checkbox-group [checkboxes]="simpleCheckboxes"
                                     (selection)="simpleCheckboxSelection = $event">Simple checkbox group (without badge)
                </pa-checkbox-group>
            </td>
            <td>
                <ul>
                    <li *ngFor="let checkbox of simpleCheckboxes">{{checkbox.label}}: {{checkbox.isSelected}}</li>
                </ul>
            </td>
            <td>
                Selection: {{simpleCheckboxSelection | json}}
            </td>
        </tr>
        <tr>
            <td>
                <pa-checkbox-group [checkboxes]="iconCheckboxes" [isBadgeVisible]="true"
                                     (selection)="iconCheckboxSelection = $event">Icon checkbox group </pa-checkbox-group>
            </td>
            <td>
                <ul>
                    <li *ngFor="let checkbox of iconCheckboxes">{{checkbox.label}}: {{checkbox.isSelected}}</li>
                </ul>
            </td>
            <td>
                <p>Selection: {{iconCheckboxSelection | json}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <pa-checkbox-group [checkboxes]="helpCheckboxes" (selection)="helpCheckboxSelection = $event">Help checkbox
                    group
                </pa-checkbox-group>
            </td>
            <td>
                <ul>
                    <li *ngFor="let checkbox of helpCheckboxes">{{checkbox.label}}: {{checkbox.isSelected}}</li>
                </ul>
            </td>
            <td>
                <p>Selection: {{helpCheckboxSelection | json}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <pa-checkbox-group [checkboxes]="nestedCheckboxes" (selection)="nestedCheckboxSelection = $event">Nested
                    checkbox group
                </pa-checkbox-group>
            </td>
            <td>
                <ul>
                    <li *ngFor="let checkbox of nestedCheckboxes">
                        {{checkbox.label}}: {{checkbox.isSelected}}
                        <ul *ngIf="checkbox.children">
                            <li *ngFor="let child of checkbox.children">{{child.label}}: {{child.isSelected}}</li>
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
                <p>Selection: {{nestedCheckboxSelection | json}}</p>
            </td>
        </tr>
        </tbody>
    </table>

    <table>
        <thead>
        <tr><th>Toggles</th>
            <th>2 way data-binding</th>
            <th>selection</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <pa-toggle [(isSelected)]="toggleSelection1">Simple toggle</pa-toggle>
                    <pa-toggle help="Some help" [(isSelected)]="toggleSelection2">Toggle with help (selected by default)
                    </pa-toggle>
                    <pa-toggle imageUrl="./assets/ninja.svg" [(isSelected)]="toggleSelection3">Toggle with image</pa-toggle>

                </td>
                <td>
                    <ul>
                        <li>first toggle: {{toggleSelection1 | json}}</li>
                        <li>second toggle: {{toggleSelection2 | json}}</li>
                        <li>third toggle: {{toggleSelection3 | json}}</li>
                    </ul>
                </td>
                <td></td>
            </tr>
        <tr>
            <td>
                <pa-toggle-group [toggles]="toggleGroup1" (onSelection)="toggleGroupSelection1 = $event">Group of simple
                    toggles
                </pa-toggle-group>
            </td>
            <td>
                <ul>
                    <li *ngFor="let toggle of toggleGroup1">
                        {{toggle.label}}: {{toggle.isSelected}}
                    </li>
                </ul>
            </td>
            <td>{{toggleGroupSelection1 | json}}</td>
        </tr>
        <tr>
            <td>
                <pa-toggle-group [toggles]="toggleGroup2" (onSelection)="toggleGroupSelection2 = $event">Group of toggles with
                    help
                </pa-toggle-group>
            </td>
            <td>
                <ul>
                    <li *ngFor="let toggle of toggleGroup2">
                        {{toggle.label}}: {{toggle.isSelected}}
                    </li>
                </ul>
            </td>
            <td>{{toggleGroupSelection2 | json}}</td>
        </tr>
        <tr>
            <td>
                <pa-toggle-group [toggles]="toggleGroup3" (onSelection)="toggleGroupSelection3 = $event">Group of toggles with
                    images
                </pa-toggle-group>
            </td>
            <td>
                <ul>
                    <li *ngFor="let toggle of toggleGroup3">
                        {{toggle.label}}: {{toggle.isSelected}}
                    </li>
                </ul>
            </td>
            <td>{{toggleGroupSelection3 | json}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="example-box">
    <div class="example-box-header">Buttons</div>

    <p>
        <pa-button [ariaLabel]="'someAria'" color="primary" size="small" (click)="onButtonClick($event)">Primary</pa-button>
        <pa-button color="secondary" size="small" (click)="onButtonClick($event)">Secondary</pa-button>
        <pa-button color="destructive" size="small" (click)="onButtonClick($event)">Destructive</pa-button>
        <pa-button color="destructive" size="small" disabled (click)="onButtonClick($event)">Disabled</pa-button>
        <pa-button color="primary" size="small" [icon]="'delete'" (click)="onButtonClick($event)">Primary</pa-button>
        <pa-button color="secondary" size="small" [icon]="'delete'" (click)="onButtonClick($event)">Secondary</pa-button>
        <pa-button color="destructive" size="small" [icon]="'delete'" (click)="onButtonClick($event)">Destructive
        </pa-button>
        <pa-button color="destructive" size="small" [icon]="'delete'" disabled (click)="onButtonClick($event)">Disabled
        </pa-button>
    </p>

    <p>
        <pa-button color="primary" (click)="onButtonClick($event)">Primary</pa-button>
        <pa-button color="secondary" [border]="falseValue" (click)="onButtonClick($event)">Secondary</pa-button>
        <pa-button color="destructive" (click)="onButtonClick($event)">Destructive</pa-button>
        <pa-button disabled (click)="onButtonClick($event)">Disabled</pa-button>
        <pa-button color="primary" [icon]="'delete'" (click)="onButtonClick($event)">Primary</pa-button>
        <pa-button color="secondary" [icon]="'delete'" (click)="onButtonClick($event)">Secondary</pa-button>
        <pa-button color="destructive" [icon]="'delete'" (click)="onButtonClick($event)">Destructive</pa-button>
        <pa-button [icon]="'delete'" disabled (click)="onButtonClick($event)">Disabled</pa-button>
    </p>

    <p>
        <pa-button color="primary" size="large" (click)="onButtonClick($event)">Primary</pa-button>
        <pa-button color="secondary" size="large" (click)="onButtonClick($event)">Secondary</pa-button>
        <pa-button color="destructive" size="large" (click)="onButtonClick($event)">Destructive</pa-button>
        <pa-button color="destructive" size="large" disabled (click)="onButtonClick($event)">Disabled</pa-button>
        <pa-button color="primary" size="large" [icon]="'delete'" (click)="onButtonClick($event)">Primary</pa-button>
        <pa-button color="secondary" size="large" [icon]="'delete'" (click)="onButtonClick($event)">Secondary</pa-button>
        <pa-button color="destructive" size="large" [icon]="'delete'" (click)="onButtonClick($event)">Destructive
        </pa-button>
        <pa-button color="destructive" size="large" [icon]="'delete'" disabled (click)="onButtonClick($event)">Disabled
        </pa-button>
    </p>

    <p>
        <pa-button color="primary" size="small" [border]="true" (click)="onButtonClick($event)">Primary</pa-button>
        <pa-button color="secondary" size="small" border (click)="onButtonClick($event)">Secondary</pa-button>
        <pa-button color="destructive" size="small" border (click)="onButtonClick($event)">Destructive</pa-button>
        <pa-button color="destructive" size="small" border [disabled]="true" (click)="onButtonClick($event)">Disabled
        </pa-button>
        <pa-button color="primary" size="small" [icon]="'delete'" [border]="trueValue" (click)="onButtonClick($event)">
            Primary
        </pa-button>
        <pa-button color="secondary" size="small" [icon]="'delete'" border (click)="onButtonClick($event)">Secondary
        </pa-button>
        <pa-button color="destructive" size="small" [icon]="'delete'" border (click)="onButtonClick($event)">Destructive
        </pa-button>
        <pa-button color="destructive" size="small" [icon]="'delete'" border [disabled]="true"
                   (click)="onButtonClick($event)">Disabled
        </pa-button>
    </p>

    <p>
        <pa-button color="primary" border (click)="onButtonClick($event)">Primary</pa-button>
        <pa-button color="secondary" border (click)="onButtonClick($event)">Secondary</pa-button>
        <pa-button color="destructive" border (click)="onButtonClick($event)">Destructive</pa-button>
        <pa-button disabled="true" border="true" (click)="onButtonClick($event)">Disabled</pa-button>
        <pa-button color="primary" [icon]="'delete'" border (click)="onButtonClick($event)">Primary</pa-button>
        <pa-button color="secondary" [icon]="'delete'" border (click)="onButtonClick($event)">Secondary</pa-button>
        <pa-button color="destructive" [icon]="'delete'" border (click)="onButtonClick($event)">Destructive</pa-button>
        <pa-button disabled="true" [icon]="'delete'" border="true" (click)="onButtonClick($event)">Disabled</pa-button>
    </p>

    <p>
        <pa-button color="primary" size="large" border (click)="onButtonClick($event)">Primary</pa-button>
        <pa-button color="secondary" size="large" border (click)="onButtonClick($event)">Secondary</pa-button>
        <pa-button color="destructive" size="large" border paTooltip="Try me" (click)="onButtonClick($event)">Tooltip on
            me
        </pa-button>
        <pa-button color="destructive" size="large" border disabled (click)="onButtonClick($event)">Disabled</pa-button>
        <pa-button color="primary" size="large" [icon]="'delete'" border (click)="onButtonClick($event)">Primary</pa-button>
        <pa-button color="secondary" size="large" [icon]="'delete'" border (click)="onButtonClick($event)">Secondary
        </pa-button>
        <pa-button color="destructive" size="large" [icon]="'delete'" border (click)="onButtonClick($event)">Destructive
        </pa-button>
        <pa-button color="destructive" size="large" [icon]="'delete'" border disabled (click)="onButtonClick($event)">
            Disabled
        </pa-button>
    </p>
</div>

<div class="example-box">
    <div class="example-box-header">Badges</div>

    <div>
        <pa-badge>Generic badge</pa-badge>
        <pa-badge color="positive">Generic badge</pa-badge>
        <pa-badge color="primary">Generic badge</pa-badge>
        <pa-badge [isSmall]="true" color="secondary">Generic badge</pa-badge>
        <pa-badge [isSmall]="true" color="warning">Generic badge</pa-badge>
        <pa-badge [isSmall]="true" color="destructive">Generic badge</pa-badge>
    </div>
    <div>
        <pa-badge [isAccented]="true">Generic badge</pa-badge>
        <pa-badge [isAccented]="true" color="positive">Generic badge</pa-badge>
        <pa-badge [isAccented]="true" color="primary">Generic badge</pa-badge>
        <pa-badge [isSmall]="true" [isAccented]="true" color="secondary">Generic badge</pa-badge>
        <pa-badge [isSmall]="true" [isAccented]="true" color="warning">Generic badge</pa-badge>
        <pa-badge [isSmall]="true" [isAccented]="true" color="destructive">Generic badge</pa-badge>
    </div>
    <div>
        <pa-badge [hexaColor]="'#333333'">Custom #333333</pa-badge>
        <pa-badge [hexaColor]="'#D28D16'">Custom #D28D16</pa-badge>
        <pa-badge [hexaColor]="'#51A8C8'">Custom #51A8C8</pa-badge>
        <pa-badge [hexaColor]="'#A7C8BC'">Custom #A7C8BC</pa-badge>
        <pa-badge [isAccented]="true" hexaColor="#3B0E42">Custom #3B0E42</pa-badge>
        <pa-badge [isAccented]="true" hexaColor="#7B170A">Custom #7B170A</pa-badge>
        <pa-badge [isAccented]="true" hexaColor="#C96610">Custom #C96610</pa-badge>
    </div>
    <div>
        <pa-badge [buttons]="badgeButtons">Badge with buttons</pa-badge>
    </div>
    <div>
        <pa-badge maxWidth="100px">Badge with long text and ellipsis</pa-badge>
    </div>
    <div>
        <pa-badge value="1"></pa-badge>
        <pa-badge value="1" of="4"></pa-badge>
    </div>
</div>
