@use '../../../../../../pastanaga-angular/src/styles/theme/palette.tokens' as palette;
@use '../../../../../../pastanaga-angular/src/styles/theme/spacing.tokens' as spacing;
@use '../../../../../../pastanaga-angular/src/styles/theme/typography.tokens' as typography;

.grid-7 {
  background-color: palette.$color-neutral-lightest;
  border: 1px solid palette.$color-neutral-lightest;
  grid-gap: 1px;
  margin-bottom: spacing.rhythm(5);

  & > div {
    background-color: palette.$color-light-stronger;
    display: grid;
    justify-items: center;
    padding: spacing.rhythm(1.5);
    height: 100%;
    small {
      @include typography.font-size(xxs);
      color: palette.$color-neutral-regular;
      line-height: spacing.rhythm(1.5);
      margin-top: spacing.rhythm(1);
    }
    & > div {
      display: grid;
      align-items: center;
    }
    &.title {
      justify-items: left;
    }
  }
  div.inverted {
    background-color: palette.$color-dark-stronger;
    color: palette.$color-light-stronger;
  }
}
[class*='color-'] {
  height: spacing.rhythm(6);
  width: spacing.rhythm(6);
  border-radius: spacing.rhythm(3);
}

.color-dark-stronger {
  background-color: palette.$color-dark-stronger;
}
.color-light-stronger {
  background-color: palette.$color-light-stronger;
}

.color-neutral-regular {
  background-color: palette.$color-neutral-regular;
}
.color-neutral-light {
  background-color: palette.$color-neutral-light;
}
.color-neutral-lighter {
  background-color: palette.$color-neutral-lighter;
}
.color-neutral-lightest {
  background-color: palette.$color-neutral-lightest;
}

.color-primary-stronger {
  background-color: palette.$color-primary-stronger;
}
.color-primary-strong {
  background-color: palette.$color-primary-strong;
}
.color-primary-regular {
  background-color: palette.$color-primary-regular;
}
.color-primary-light {
  background-color: palette.$color-primary-light;
}
.color-primary-lighter {
  background-color: palette.$color-primary-lighter;
}
.color-primary-lightest {
  background-color: palette.$color-primary-lightest;
}

.color-secondary-stronger {
  background-color: palette.$color-secondary-stronger;
}
.color-secondary-strong {
  background-color: palette.$color-secondary-strong;
}
.color-secondary-regular {
  background-color: palette.$color-secondary-regular;
}
.color-secondary-light {
  background-color: palette.$color-secondary-light;
}
.color-secondary-lighter {
  background-color: palette.$color-secondary-lighter;
}
.color-secondary-lightest {
  background-color: palette.$color-secondary-lightest;
}

.color-tertiary-stronger {
  background-color: palette.$color-tertiary-stronger;
}
.color-tertiary-strong {
  background-color: palette.$color-tertiary-strong;
}
.color-tertiary-regular {
  background-color: palette.$color-tertiary-regular;
}
.color-tertiary-light {
  background-color: palette.$color-tertiary-light;
}
.color-tertiary-lighter {
  background-color: palette.$color-tertiary-lighter;
}
.color-tertiary-lightest {
  background-color: palette.$color-tertiary-lightest;
}
