<pa-demo-page>
    <pa-demo-title>Palette</pa-demo-title>

    <pa-demo-description>
        <p>Color palette.</p>
        <p><strong>Note:</strong> variables used in pastanaga library are defined following this table:
            <code>$color-neutral-primary-default</code>, <code>$color-accent-secondary-dark</code>,…
            Color code names from <code>_palette.scss</code> (*e.g.* <code>Denim</code>) should not be used in your app.</p>
    </pa-demo-description>

    <pa-demo-usage>
        <div class="grid-8 center-items">
            <div class="col-2"></div>
            <div>Darker</div>
            <div>Dark</div>
            <div>Default</div>
            <div>Light</div>
            <div>Lighter</div>
            <div>Lightest</div>

            <div class="row-3"><div>Neutrals</div></div>
            <div><div>Primary</div></div>
            <div></div>
            <div></div>
            <div>
                <div class="color-neutral-primary-default"></div>
                <small>$color-neutral-primary-default</small>
            </div>
            <div></div>
            <div>
                <div class="color-neutral-primary-lighter"></div>
                <small>$color-neutral-primary-lighter</small>
            </div>
            <div>
                <div class="color-neutral-primary-lightest"></div>
                <small>$color-neutral-primary-lightest</small>
            </div>
            <div><div>Secondary</div></div>
            <div></div>
            <div></div>
            <div>
                <div class="color-neutral-secondary-default"></div>
                <small>$color-neutral-secondary-default</small>
            </div>
            <div>
                <div class="color-neutral-secondary-light"></div>
                <small>$color-neutral-secondary-light</small>
            </div>
            <div>
                <div class="color-neutral-secondary-lighter"></div>
                <small>$color-neutral-secondary-lighter</small>
            </div>
            <div>
                <div class="color-neutral-secondary-lightest"></div>
                <small>$color-neutral-secondary-lightest</small>
            </div>

            <div><div>Inverted</div></div>
            <div class="inverted"></div>
            <div class="inverted"></div>
            <div class="inverted">
                <div class="color-neutral-inverted-default"></div>
                <small>$color-neutral-inverted-default</small>
            </div>
            <div class="inverted">
                <div class="color-neutral-inverted-light"></div>
                <small>$color-neutral-inverted-light</small>
            </div>
            <div class="inverted">
                <div class="color-neutral-inverted-lighter"></div>
                <small>$color-neutral-inverted-lighter</small>
            </div>
            <div class="inverted">
                <div class="color-neutral-inverted-lightest"></div>
                <small>$color-neutral-inverted-lightest</small>
            </div>

            <div class="row-3"><div>Accent</div></div>
            <div><div>Primary</div></div>
            <div>
                <div class="color-accent-primary-darker"></div>
                <small>$color-accent-primary-darker</small>
            </div>
            <div>
                <div class="color-accent-primary-dark"></div>
                <small>$color-accent-primary-dark</small>
            </div>
            <div>
                <div class="color-accent-primary-default"></div>
                <small>$color-accent-primary-default</small>
            </div>
            <div>
                <div class="color-accent-primary-light"></div>
                <small>$color-accent-primary-light</small>
            </div>
            <div>
                <div class="color-accent-primary-lighter"></div>
                <small>$color-accent-primary-lighter</small>
            </div>
            <div>
                <div class="color-accent-primary-lightest"></div>
                <small>$color-accent-primary-lightest</small>
            </div>
            <div><div>Secondary</div></div>
            <div>
                <div class="color-accent-secondary-darker"></div>
                <small>$color-accent-secondary-darker</small>
            </div>
            <div>
                <div class="color-accent-secondary-dark"></div>
                <small>$color-accent-secondary-dark</small>
            </div>
            <div>
                <div class="color-accent-secondary-default"></div>
                <small>$color-accent-secondary-default</small>
            </div>
            <div>
                <div class="color-accent-secondary-light"></div>
                <small>$color-accent-secondary-light</small>
            </div>
            <div>
                <div class="color-accent-secondary-lighter"></div>
                <small>$color-accent-secondary-lighter</small>
            </div>
            <div>
                <div class="color-accent-secondary-lightest"></div>
                <small>$color-accent-secondary-lightest</small>
            </div>
            <div><div>Tertiary</div></div>
            <div>
                <div class="color-accent-tertiary-darker"></div>
                <small>$color-accent-tertiary-darker</small>
            </div>
            <div>
                <div class="color-accent-tertiary-dark"></div>
                <small>$color-accent-tertiary-dark</small>
            </div>
            <div>
                <div class="color-accent-tertiary-default"></div>
                <small>$color-accent-tertiary-default</small>
            </div>
            <div>
                <div class="color-accent-tertiary-light"></div>
                <small>$color-accent-tertiary-light</small>
            </div>
            <div>
                <div class="color-accent-tertiary-lighter"></div>
                <small>$color-accent-tertiary-lighter</small>
            </div>
            <div>
                <div class="color-accent-tertiary-lightest"></div>
                <small>$color-accent-tertiary-lightest</small>
            </div>
        </div>
    </pa-demo-usage>

</pa-demo-page>
