<pa-demo-page>
    <pa-demo-title>Palette</pa-demo-title>

    <pa-demo-description>Our colors</pa-demo-description>

    <pa-demo-usage>
        <div class="grid-8 center-items">
            <div class="col-2"></div>
            <div>Darker</div>
            <div>Dark</div>
            <div>Default</div>
            <div>Light</div>
            <div>Lighter</div>
            <div>Lightest</div>

            <div class="row-2"><div>Neutrals</div></div>
            <div><div>Primary</div></div>
            <div></div>
            <div></div>
            <div>
                <div class="color-neutral-primary-default" title="$color-neutral-primary-default"></div>
                <small>Denim</small>
            </div>
            <div></div>
            <div></div>
            <div>
                <div class="color-neutral-primary-lightest" title="$color-neutral-primary-lightest"></div>
                <small>Air</small>
            </div>
            <div><div>Secondary</div></div>
            <div></div>
            <div></div>
            <div>
                <div class="color-neutral-secondary-default" title="$color-neutral-secondary-default"></div>
                <small>Dolphin</small>
            </div>
            <div>
                <div class="color-neutral-secondary-light" title="$color-neutral-secondary-light"></div>
                <small>Silver</small>
            </div>
            <div>
                <div class="color-neutral-secondary-lighter" title="$color-neutral-secondary-lighter"></div>
                <small>Smoke</small>
            </div>
            <div>
                <div class="color-neutral-secondary-lightest" title="$color-neutral-secondary-lightest"></div>
                <small>Snow</small>
            </div>

            <div class="row-3"><div>Accent</div></div>
            <div><div>Primary</div></div>
            <div>
                <div class="color-accent-primary-darker" title="$color-accent-primary-darker"></div>
                <small>Royal</small>
            </div>
            <div>
                <div class="color-accent-primary-dark" title="$color-accent-primary-dark"></div>
                <small>Sapphire</small>
            </div>
            <div>
                <div class="color-accent-primary-default" title="$color-accent-primary-default"></div>
                <small>Cobalt</small>
            </div>
            <div>
                <div class="color-accent-primary-light" title="$color-accent-primary-light"></div>
                <small>Azure</small>
            </div>
            <div>
                <div class="color-accent-primary-lighter" title="$color-accent-primary-lighter"></div>
                <small>Sky</small>
            </div>
            <div>
                <div class="color-accent-primary-lightest" title="$color-accent-primary-lightest"></div>
                <small>Arctic</small>
            </div>
            <div><div>Secondary</div></div>
            <div>
                <div class="color-accent-secondary-darker" title="$color-accent-secondary-darker"></div>
                <small>Wine</small>
            </div>
            <div>
                <div class="color-accent-secondary-dark" title="$color-accent-secondary-dark"></div>
                <small>Candy</small>
            </div>
            <div>
                <div class="color-accent-secondary-default" title="$color-accent-secondary-default"></div>
                <small>Rose</small>
            </div>
            <div>
                <div class="color-accent-secondary-light" title="$color-accent-secondary-light"></div>
                <small>Poppy</small>
            </div>
            <div>
                <div class="color-accent-secondary-lighter" title="$color-accent-secondary-lighter"></div>
                <small>Flamingo</small>
            </div>
            <div>
                <div class="color-accent-secondary-lightest" title="$color-accent-secondary-lightest"></div>
                <small>Ballet</small>
            </div>
            <div><div>Tertiary</div></div>
            <div>
                <div class="color-accent-tertiary-darker" title="$color-accent-tertiary-darker"></div>
                <small>Puya</small>
            </div>
            <div>
                <div class="color-accent-tertiary-dark" title="$color-accent-tertiary-dark"></div>
                <small>Peacock</small>
            </div>
            <div>
                <div class="color-accent-tertiary-default" title="$color-accent-tertiary-default"></div>
                <small>Turquoise</small>
            </div>
            <div>
                <div class="color-accent-tertiary-light" title="$color-accent-tertiary-light"></div>
                <small>Tiffany</small>
            </div>
            <div>
                <div class="color-accent-tertiary-lighter" title="$color-accent-tertiary-lighter"></div>
                <small>Spa</small>
            </div>
            <div>
                <div class="color-accent-tertiary-lightest" title="$color-accent-tertiary-lightest"></div>
                <small>Aqua</small>
            </div>
        </div>
    </pa-demo-usage>

</pa-demo-page>
