<pa-demo-page>
    <pa-demo-title>Inputs</pa-demo-title>
    <pa-demo-description>Basic input field</pa-demo-description>

    <pa-demo-examples>
        <form #demoForm="ngForm">
            <pa-input required
                      ngModel
                      placeholder="Placeholder"
                      id="demo"
                      name="demo"
                      [disabled]="disabledState"
                      [readonly]="readOnlyState"
                      [errorMessages]="errorMessages"
                      [errorMessage]="customError"
            >
                Label
            </pa-input>
            <pa-input required
                      ngModel
                      placeholder="Placeholder"
                      help="Field help text message"
                      id="demo-help"
                      name="demo-help"
                      [disabled]="disabledState"
                      [readonly]="readOnlyState"
                      [errorMessages]="errorMessages"
                      [errorMessage]="customError"
            >
                Field with help
            </pa-input>
        </form>
    </pa-demo-examples>
    <pa-demo-configuration>
        <div class="pa-demo-configuration-field">
            <pa-checkbox id="disabled" [(selected)]="disabledState">Disabled state</pa-checkbox>
        </div>
        <div class="pa-demo-configuration-field">
            <pa-checkbox id="readonly" [(selected)]="readOnlyState">Readonly state</pa-checkbox>
        </div>
        <div class="pa-demo-configuration-field">
            <pa-button size="small" aspect="solid"
                       (click)="toggleCustomErrorMessage()">
                {{!!customError ? 'Reset custom error' : 'Set custom error message'}}
            </pa-button>
        </div>
    </pa-demo-configuration>

    <pa-demo-usage>
        <pa-demo-base-textfield></pa-demo-base-textfield>

        <br>
        <h2>Specific to <code>InputComponent</code></h2>
        <h3>Inputs</h3>
        <dl>
            <dt>acceptHtmlTags</dt>
            <dd>Allow to render/enter HTML tags in the field. Enabling this can have an impact on the security of your app, to be use with caution. <small>(default: false)</small></dd>

            <dt>hasFocus</dt>
            <dd>Set to true to give focus on the input by default <small>(default: false)</small></dd>

            <dt>max</dt>
            <dd>Max value available for input of type number <small>(optional)</small></dd>

            <dt>maxlength</dt>
            <dd>Max number of characters allowed for input of type text <small>(optional)</small></dd>

            <dt>min</dt>
            <dd>Min value available for input of type number <small>(optional)</small></dd>

            <dt>noAutoComplete</dt>
            <dd>Set autocomplete attribute to <code>off</code> <small>(default: false)</small></dd>

            <dt>type</dt>
            <dd>Input type: text | number <small>(default: text)</small></dd>
        </dl>
    </pa-demo-usage>

    <pa-demo-code>
        <h3>HTML</h3>
        <pre><code>{{htmlExample}}</code></pre>
        <h3>Typescript</h3>
        <pre><code>{{tsExample}}</code></pre>
    </pa-demo-code>
</pa-demo-page>
