@import '../variables';

$chip-max-width-small: rhythm(32);
$chip-max-width-medium: rhythm(56);

.pa-chip {
  align-items: center;
  background: $color-background-chip-default;
  border: $border-chip;
  border-radius: $border-radius-chip;
  display: inline-flex;
  height: rhythm(4);
  max-width: $chip-max-width-small;
  overflow: hidden;
  padding: rhythm(0.5) rhythm(1.5);

  &.pa-with-avatar {
    padding-left: rhythm(0.5);
  }
  &.pa-with-button {
    padding-right: rhythm(0.5);

    .pa-button svg {
      height: rhythm(2);
      width: rhythm(2);
    }
  }

  &.pa-selectionable:not(.pa-disabled) {
    cursor: pointer;

    &:hover {
      background: $color-background-chip-default-hover;
    }
    &.pa-selected {
      background: $color-background-chip-default-selected;
      border: $border-chip-selected;
    }
  }
  &.pa-disabled {
    color: $color-background-chip-default-disabled;
    border: $border-chip-disabled;
  }

  pa-avatar,
  .pa-chip-icon {
    margin-right: rhythm(1);
  }

  pa-button {
    margin-left: rhythm(1);
  }
}
.pa-chip-content-wrapper {
  font-size: $font-size-chip;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: $size-viewport-medium-min) {
  .pa-chip {
    max-width: $chip-max-width-medium;
  }
}
