@import '../variables';
@import '../theme/expander.tokens';

.pa-expander {
  .pa-expander-button .pa-button {
    padding: rhythm(0.5);
    transform: rotate(0);
    transition: transform $transition-hint;

    pa-icon svg {
      fill: $color-dark-stronger;
    }
  }

  .pa-expander-header {
    align-items: center;
    display: flex;
    gap: rhythm(0.5);
    position: relative;
    width: 100%;

    .pa-expander-title {
      color: $color-expanded-expander-header-title;
      flex: 1 0 auto;
      transition: color $transition-hint;

      &:not(.pa-button-only) {
        cursor: pointer;
      }

      &:hover {
        color: $color-expanded-expander-header-title-hover;
      }
    }

    .pa-expander-header-extra {
      flex: 0 0 auto;
    }
  }

  .pa-expander-body {
    opacity: 1;
    height: var(--contentHeight, 1px);
    transition:
      opacity $transition-hint,
      height $transition-hint;
  }

  &.pa-collapsed {
    .pa-expander-button .pa-button {
      transform: rotate(-90deg);
    }

    .pa-expander-body {
      height: 0;
      opacity: 0;
    }
  }

  &:not(.pa-expander-card) {
    .pa-expander-button .pa-button {
      pa-icon svg {
        fill: $color-expanded-expander-header-icon;
        transition: fill $transition-hint;
      }
    }

    .pa-expander-header {
      background: $background-color-expanded-expander-header;
      box-shadow: $box-shadow-expanded-expander-header;
      transition:
        background $transition-hint,
        box-shadow $transition-hint;

      &:hover {
        background: $background-color-expanded-expander-header-hover;
      }

      .pa-expander-title {
        line-height: rhythm(5);
      }
    }

    &.pa-collapsed {
      .pa-expander-button .pa-button pa-icon svg {
        fill: $color-collapsed-expander-header-icon;
      }

      .pa-expander-header {
        background: $background-color-collapsed-expander-header;
        box-shadow: $box-shadow-collapsed-expander-header;

        &:hover {
          background: $background-color-collapsed-expander-header-hover;
        }

        .pa-expander-title {
          color: $color-collapsed-expander-header-title;
          &:hover {
            color: $color-collapsed-expander-header-title-hover;
          }
        }
      }
    }
  }

  &.pa-expander-card {
    .pa-expander-header {
      flex-direction: row-reverse;

      .pa-expander-title {
        color: $color-dark-stronger;
      }

      .pa-expander-header-extra {
        margin-right: rhythm(3);
      }
    }

    &.pa-collapsed .pa-expander-button .pa-button {
      transform: rotate(-180deg);
    }
  }
}
