@use '../theme/icon.tokens' as icon;

pa-icon {
  svg {
    vertical-align: middle;
    fill: currentColor;
    &.pa-small {
      width: icon.$size-icon-small;
      height: icon.$size-icon-small;
    }
    &.pa-medium {
      width: icon.$size-icon-medium;
      height: icon.$size-icon-medium;
    }
    &.pa-large {
      width: icon.$size-icon-large;
      height: icon.$size-icon-large;
    }
    &.pa-xlarge {
      width: icon.$size-icon-xlarge;
      height: icon.$size-icon-xlarge;
    }
    &.pa-xxlarge {
      width: icon.$size-icon-xxlarge;
      height: icon.$size-icon-xxlarge;
    }
  }
}
