@import '../variables';

.pa-modal-backdrop {
    align-items: center;
    background-color: rgba($color-dark-stronger, 0.5);
    display: flex;
    justify-content: center;
    opacity: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-index-modal-backdrop;

    &.out {
        opacity: 0;
        transition: opacity $transition-process-out;
    }
}

.pa-modal {
    align-items: stretch;
    border: 0;
    display: flex;
    flex-flow: column nowrap;
    opacity: 0;
    padding: 0;
    position: relative;

    background-color: $background-color-modal;
    box-shadow: $shadow-modal;
    margin: 0;
    transition: opacity $transition-response;

    z-index: $z-index-modal-backdrop + 10;

    &.in {
        opacity: 1;
    }

    &.out {
        opacity: 0;
    }

    &.off {
        display: none;
    }

    .pa-modal-description {
        color: $color-neutral-regular;
        text-align: center;
    }

    .pa-modal-content {
        padding: 0 $padding-modal;
        z-index: 0;
    }

    .pa-modal-header,
    pa-modal-footer,
    .pa-modal-footer {
        z-index: 2;
    }

    pa-modal-footer,
    .pa-modal-footer {
        align-items: center;
        display: flex;
        gap: rhythm(2);
        height: $height-header-footer-modal;
        justify-content: center;
        padding: 0 $padding-modal;
    }

    @media (max-width: $size-viewport-medium-max) {
        &.pa-modal-fullscreen-on-small {
            height: 100%;
            width: 100%;
        }
    }
}

@media (min-width: $size-viewport-medium-min) {
    .pa-modal {
        max-height: 90vh;

        &.pa-take-available-height {
            height: 80vh;
        }
    }
}
