@use '../variables';
@use "../theme/palette.tokens";
@use "../theme/shadows.tokens";
@use "../theme/spacing.tokens";
@use "../theme/z-index.tokens";

.pa-popup {
  z-index: z-index.$z-index-popup;
  box-shadow: shadows.$shadow-default;
  border-radius: spacing.$border-radius-default;
  min-width: spacing.rhythm(24);
  max-height: spacing.rhythm(29);
  overflow-x: hidden;
  overflow-y: auto;

  &.pa-hidden {
    display: none;
  }

  .pa-popup-wrapper {
    padding: spacing.rhythm(2);
    background: palette.$color-light-stronger;
  }
}
