@import '../variables';

.pa-tabs-list {
  display: flex;
  gap: $gap-between-tabs;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;

  &.pa-full-width-tabs {
    pa-tab {
      flex-grow: 1;
    }
  }

  &:not(.no-slider) pa-tab .pa-tabs-link::after {
    background: $color-tab-slider;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
  }
}

pa-tab {
  display: inline-block;
  min-width: 0;

  .pa-tab-item {
    line-height: 0;
  }

  .pa-tabs-link {
    background: $color-background-tab-link;
    border: none;
    color: $color-text-tab-link;
    font-size: $font-size-tab-item;
    font-weight: $font-weight-tab-item;
    line-height: line-height(l);
    padding: 0;
    text-transform: $text-transform-tab-item;
    transition: all $transition-response;
    width: 100%;

    &:hover {
      background: $color-background-tab-link-hover;
      transition: all $transition-response;

      &:not([aria-expanded='true']) {
        color: $color-text-tab-link;
        cursor: pointer;
      }
    }

    &[aria-expanded='true'] {
      background: $color-background-tab-link-active;
      color: $color-text-tab-link-active;
      cursor: default;
      font-weight: $font-weight-tab-item-active;
    }

    &.pa-keyboard-focus {
      box-shadow: unset;
      .pa-tabs-link-wrapper {
        box-shadow: $shadow-focus;
      }
    }

    .pa-tabs-link-wrapper {
      align-items: center;
      display: block;
      overflow: hidden;
      padding: $padding-tab-item-small;
      position: relative;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      z-index: 1;
    }
  }
}

.pa-tabs-slider {
  background: $color-tab-slider-active;
  bottom: 0;
  left: 0;
  height: rhythm(0.25);
  position: absolute;
  transition: left $transition-response, width $transition-response;
}

@media (min-width: $size-viewport-medium-min) {
  pa-tab .pa-tabs-link .pa-tabs-link-wrapper {
    padding: $padding-tab-item-medium;
  }
}
