<pa-demo-page>
    <pa-demo-title>Checkboxes</pa-demo-title>

    <pa-demo-description>
        <p><code>pa-checkbox</code> wraps an <code>input</code> element of type <code>checkbox</code> and applies pastanaga's form field style.</p>
        <p>As other pastanaga's form fields, <code>pa-checkbox</code> supports 4 modes internally: <strong>standalone, model, formControl and formControlName</strong>, in order to be used in various context.</p>
        <p><code>pa-checkbox</code> uses <code>pa-form-field-hint</code> to display error messages.</p>
        <p><strong>Important note: </strong> <code>readonly</code> is not applicable to input of type checkbox so the input inherited from <code>PaFormControlDirective</code> will have no effect.</p>
    </pa-demo-description>

    <pa-demo-examples>
        <pa-tabs>
            <pa-tab (click)="selectedTab = 'standalone'" [active]="selectedTab === 'standalone'">Standalone</pa-tab>
            <pa-tab (click)="selectedTab = 'ngModel'" [active]="selectedTab === 'ngModel'">NgModel</pa-tab>
            <pa-tab (click)="selectedTab = 'formControl'" [active]="selectedTab === 'formControl'">Form Control</pa-tab>
            <pa-tab (click)="selectedTab = 'formControlName'" [active]="selectedTab === 'formControlName'">Form Control Name</pa-tab>
        </pa-tabs>
        <div *ngIf="selectedTab === 'standalone'">
            <div>
                <pa-checkbox [value]="value"
                             [disabled]="disabled"
                             [errorMessages]="errorMessages"
                             (valueChange)=" standaloneValueChange = $event"
                             (statusChange)="standaloneStatusChange = $event"
                >Standalone checkbox label</pa-checkbox>
            </div>
            <ul>
                <li>value changed : {{standaloneValueChange}}</li>
                <li>status changed : {{standaloneStatusChange}}</li>
            </ul>

        </div>
        <div *ngIf="selectedTab === 'ngModel'">
            <div>
                <pa-checkbox [(ngModel)]="model"
                             [disabled]="disabled"
                             [errorMessages]="errorMessages"
                             (valueChange)=" ngModelValueChange = $event"
                             (statusChange)="ngModelStatusChange = $event"
                >NgModel checkbox label</pa-checkbox>
            </div>
            <ul>
                <li>value changed : {{ngModelValueChange}}</li>
                <li>status changed : {{ngModelStatusChange}}</li>
            </ul>

        </div>
        <div *ngIf="selectedTab === 'formControl'">
            <div>
                <div>
                    <pa-checkbox [formControl]="formControl"
                                 [errorMessages]="errorMessages"
                                 (valueChange)=" formControlValueChange = $event"
                                 (statusChange)="formControlStatusChange = $event"
                    >FormControl checkbox label</pa-checkbox>
                </div>
                <ul>
                    <li>value changed : {{formControlValueChange}}</li>
                    <li>status changed : {{formControlStatusChange}}</li>
                </ul>
            </div>
        </div>
        <div *ngIf="selectedTab === 'formControlName'">
            <form [formGroup]="form">
                <div>
                    <pa-checkbox formControlName="checkbox"
                                 [errorMessages]="errorMessages"
                                 (valueChange)=" formControlNameValueChange = $event"
                                 (statusChange)="formControlNameStatusChange = $event"
                    >FormControlName checkbox label</pa-checkbox>
                </div>
            </form>
            <ul>
                <li>value changed : {{formControlNameValueChange}}</li>
                <li>status changed : {{formControlNameStatusChange}}</li>
                <li>form value : {{formGroupValueChange | json}}</li>
                <li>form status : {{formGroupStatusChange}}</li>
            </ul>
        </div>
    </pa-demo-examples>

    <pa-demo-configuration>
        <div class="pa-demo-configuration-field">
            <pa-checkbox [(ngModel)]="disabled" (ngModelChange)="disableForm()">{{disabled ? 'Enable' : 'disable'}}</pa-checkbox>
        </div>
        <div class="pa-demo-configuration-field">
            <pa-checkbox [(ngModel)]="hasErrorMessage" (ngModelChange)="toggleErrorMessages()">{{hasErrorMessage ? 'remove error messages' : 'add error messages'}}</pa-checkbox>
        </div>
        <div class="pa-demo-configuration-field">
            <pa-button [size]="'small'" (click)="toggleValue()">Toggle in parent component</pa-button>
        </div>
    </pa-demo-configuration>

    <pa-demo-usage>
        <h2>Inherited from <code>PaFormControlDirective</code></h2>
        <pa-demo-pa-form-control-usage></pa-demo-pa-form-control-usage>

        <h2>Specific to <code>CheckboxComponent</code></h2>
        <h3>Inputs</h3>
        <dl>
            <dt>errorMessages</dt>
            <dd>Provides default messages to display for the possible error keys when none is present in the errors object. If a message (string) is provided for a given key, it
                will be displayed rather than the message provided in errorMessages.</dd>
        </dl>
    </pa-demo-usage>

    <pa-demo-code>
        <pre><code>{{code}}</code></pre>
    </pa-demo-code>
</pa-demo-page>
