<pa-demo-page>
    <pa-demo-title>Checkboxes</pa-demo-title>

    <pa-demo-description>
        <p><code>pa-checkbox</code> wraps an html <code>input</code> element of type <code>checkbox</code> or <code>radio</code> and apply pastanaga's form field style.</p>
        <p>As other pastanaga's form fields, <code>pa-checkbox</code> supports 4 modes internally: <i>standalone, model, formControl and formControlName</i>, in order to be used in various context.</p>
    </pa-demo-description>

    <pa-demo-examples>
        <pa-tabs>
            <pa-tab (click)="selectedTab = 'standalone'" [active]="selectedTab === 'standalone'">Standalone</pa-tab>
            <pa-tab (click)="selectedTab = 'ngModel'" [active]="selectedTab === 'ngModel'">NgModel</pa-tab>
            <pa-tab (click)="selectedTab = 'formControl'" [active]="selectedTab === 'formControl'">Form Control</pa-tab>
            <pa-tab (click)="selectedTab = 'formControlName'" [active]="selectedTab === 'formControlName'">Form Control Name</pa-tab>
        </pa-tabs>
        <ul>
            <li *ngIf="selectedTab === 'standalone'">selectedChange = {{ ngModelChangeEvent }}</li>
            <li *ngIf="selectedTab === 'ngModel'">ngModelChange = {{ ngModelChangeEvent }}</li>
            <li *ngIf="selectedTab === 'formControl'">formControlValueChange = {{ formControlValueChangeEvent }}</li>
            <li *ngIf="selectedTab === 'formControlName'">
                formControlValueChange = {{ formGroupValueChangeEvent | json }}
            </li>
        </ul>
        <div *ngIf="selectedTab === 'standalone'">
            <div>
                <pa-checkbox type="checkbox"
                             [id]="id"
                             [name]="'name'"
                             [disabled]="disabled"
                             [value]="model"
                             (selectedChange)="ngModelChangeEvent = $event"
                >Standalone checkbox label</pa-checkbox>
            </div>
            <div>
                <pa-checkbox type="radio"
                             [id]="id"
                             [name]="'name'"
                             [disabled]="disabled"
                             [value]="model"
                             (selectedChange)="ngModelChangeEvent = $event"
                >Standalone radio label</pa-checkbox>
            </div>

        </div>
        <div *ngIf="selectedTab === 'ngModel'">
            <div>
                <pa-checkbox type="checkbox"
                             [id]="id"
                             [name]="'name'"
                             [disabled]="disabled"
                             [(ngModel)]="model"
                             (ngModelChange)="onModelChange()"
                >ngModel checkbox label</pa-checkbox>
            </div>
           <div>
               <pa-checkbox type="radio"
                            [id]="id"
                            [name]="'name'"
                            [disabled]="disabled"
                            [(ngModel)]="model"
                            (ngModelChange)="onModelChange()"
               >ngModel radio label </pa-checkbox>
           </div>

        </div>
        <div *ngIf="selectedTab === 'formControl'">
            <div>
                <pa-checkbox [formControl]="formControl"
                             type="checkbox"
                             [id]="id"
                             [name]="'name'"
                             (selectedChange)="ngModelChangeEvent = $event"
                >formControl checkbox label</pa-checkbox>
            </div>
            <div>
                <pa-checkbox type="radio"
                             [id]="id"
                             [name]="'name'"
                             [formControl]="formControl"
                             (selectedChange)="ngModelChangeEvent = $event"
                >formControl radio label</pa-checkbox>
            </div>
        </div>
        <div *ngIf="selectedTab === 'formControlName'">
            <form [formGroup]="form">
                <div>
                    <pa-checkbox type="checkbox"
                                 [id]="id"
                                 [name]="'name'"
                                 formControlName="checkbox">
                        formControlName checkbox label
                    </pa-checkbox>
                </div>
                <div>
                    <pa-checkbox type="radio"
                                 [id]="id"
                                 [name]="'name'"
                                 formControlName="radio">
                        formControlName radio label
                    </pa-checkbox>
                </div>
            </form>
        </div>
    </pa-demo-examples>

    <pa-demo-configuration>
        <div class="pa-demo-configuration-field">
            <pa-checkbox id="disabled"
                         [value]="disabled"
                         (selectedChange)="disableForm($event)">Disabled state
            </pa-checkbox>
        </div>
    </pa-demo-configuration>

    <pa-demo-usage>
        <h2>Inherited from <code>BaseControl</code></h2>
        <pa-demo-base-control-usage></pa-demo-base-control-usage>

        <h2>Specific to <code>CheckboxComponent</code></h2>
        <h3>Inputs</h3>
        <dl>
            <dt>value</dt>
            <dd>Set checked state <small>(default: false)</small></dd>
            <dt>type</dt>
            <dd>checkbox | radio <small>(default: checkbox)</small></dd>
        </dl>

        <h3>Outputs</h3>
        <dl>
            <dt>selectedChange</dt>
            <dd>
                Emit checked state when it changes <small>(allow two-way data binding on selected attribute)</small>
            </dd>
        </dl>
    </pa-demo-usage>

    <pa-demo-code>
        <pre><code>{{code}}</code></pre>
    </pa-demo-code>
</pa-demo-page>
