<pa-demo-page>
    <pa-demo-title>Checkboxes</pa-demo-title>

    <pa-demo-description>Simple checkbox component</pa-demo-description>

    <pa-demo-examples>
        <pa-checkbox [disabled]="disabledState">Checkbox label</pa-checkbox>
        <pa-checkbox type="radio"
                     [disabled]="disabledState">Radio label</pa-checkbox>
    </pa-demo-examples>
    <pa-demo-configuration>
        <div class="pa-demo-configuration-field">
            <pa-checkbox id="disabled" [(selected)]="disabledState">Disabled state</pa-checkbox>
        </div>
    </pa-demo-configuration>

    <pa-demo-usage>
        <pa-demo-base-control></pa-demo-base-control>

        <h3>Specific to <code>CheckboxComponent</code></h3>
        <h4>Inputs</h4>
        <dl>
            <dt>selected</dt>
            <dd>Set checked state <small>(default: false)</small></dd>
            <dt>type</dt>
            <dd>checkbox | radio <small>(default: checkbox)</small></dd>
        </dl>

        <h4>Outputs</h4>
        <dl>
            <dt>selectedChange</dt>
            <dd>Emit checked state when it changes <small>(allow two-way data binding on selected attribute)</small></dd>
        </dl>
    </pa-demo-usage>

    <pa-demo-code>
        <pre><code>{{code}}</code></pre>
    </pa-demo-code>

</pa-demo-page>
