@use '../../../../../../pastanaga-angular/src/styles/theme/palette.tokens' as palette;
@use '../../../../../../pastanaga-angular/src/styles/theme/spacing.tokens' as spacing;
@use '../../../../../../pastanaga-angular/src/styles/theme/typography.tokens' as typography;

.typography-table > div:not(.separator) {
  padding: spacing.rhythm(1);
}

.header {
  background: palette.$color-neutral-light;
  font-weight: typography.$font-weight-semi-bold;
}

.separator {
  border-bottom: 1px solid palette.$color-neutral-light;
}
