<pa-demo-page>
  <pa-demo-title>Typography</pa-demo-title>

  <pa-demo-description>
    <p>
      Pastanaga provides different typography classes automatically applied to corresponding tag. For some of those
      classes, font-size and letter spacing are different on mobile than on other screen sizes.
    </p>
  </pa-demo-description>

  <pa-demo-examples>
    <div class="typography-table center-items grid-6-large-10">
      <div class="header">Tag</div>
      <div class="header">Class</div>
      <div
        class="header col-4"
        *ngIf="(mode$ | async) !== 'tablet'">
        Mobile
      </div>
      <div
        class="header col-4"
        *ngIf="(mode$ | async) !== 'mobile'">
        Larger screens
      </div>

      <div class="separator col-6-large-10"></div>

      <div class="tag-and-class title-l-mobile">–</div>
      <div class="tag-and-class title-l-mobile">.display-m</div>
      <div
        class="col-4 display-m-mobile"
        *ngIf="(mode$ | async) !== 'tablet'">
        Mobile sample
      </div>
      <div
        class="col-4 display-m"
        *ngIf="(mode$ | async) !== 'mobile'">
        Desktop one
      </div>

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class title-l-mobile">h1</div>
      <div class="tag-and-class title-l-mobile">.display-s</div>
      <div
        class="col-4 display-s-mobile"
        *ngIf="(mode$ | async) !== 'tablet'">
        Mobile sample
      </div>
      <div
        class="col-4 display-s"
        *ngIf="(mode$ | async) !== 'mobile'">
        Desktop one
      </div>

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class title-l-mobile">h2</div>
      <div class="tag-and-class title-l-mobile">.title-l</div>
      <div
        class="col-4 title-l-mobile"
        *ngIf="(mode$ | async) !== 'tablet'">
        Mobile sample
      </div>
      <div
        class="col-4 title-l"
        *ngIf="(mode$ | async) !== 'mobile'">
        Desktop one
      </div>

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class title-m-mobile">h3</div>
      <div class="tag-and-class title-m-mobile">.title-m</div>
      <div
        class="col-4 title-m-mobile"
        *ngIf="(mode$ | async) !== 'tablet'">
        Mobile sample
      </div>
      <div
        class="col-4 title-m"
        *ngIf="(mode$ | async) !== 'mobile'">
        Desktop one
      </div>

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class title-s-mobile">h4</div>
      <div class="tag-and-class title-s-mobile">.title-s</div>
      <div
        class="col-4 title-s-mobile"
        *ngIf="(mode$ | async) !== 'tablet'">
        Mobile sample
      </div>
      <div
        class="col-4 title-s"
        *ngIf="(mode$ | async) !== 'mobile'">
        Desktop one
      </div>

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class title-xs">h5</div>
      <div class="tag-and-class title-xs">.title-xs</div>
      <div
        class="col-4 title-xs"
        *ngIf="(mode$ | async) !== 'tablet'">
        Mobile sample
      </div>
      <div
        class="col-4 title-xs"
        *ngIf="(mode$ | async) !== 'mobile'">
        Desktop one
      </div>

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class title-xxs">h6</div>
      <div class="tag-and-class title-xxs">.title-xxs</div>
      <div
        class="col-4 title-xxs"
        *ngIf="(mode$ | async) !== 'tablet'">
        Mobile sample
      </div>
      <div
        class="col-4 title-xxs"
        *ngIf="(mode$ | async) !== 'mobile'">
        Desktop one
      </div>

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class body-m">–</div>
      <div class="tag-and-class body-m">.body-m</div>
      <div
        class="col-4 body-m"
        *ngIf="(mode$ | async) !== 'tablet'">
        Mobile sample
      </div>
      <div
        class="col-4 body-m"
        *ngIf="(mode$ | async) !== 'mobile'">
        Desktop one
      </div>

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class body-s">–</div>
      <div class="tag-and-class body-s">.body-s</div>
      <div
        class="col-4 body-s"
        *ngIf="(mode$ | async) !== 'tablet'">
        Mobile sample
      </div>
      <div
        class="col-4 body-s"
        *ngIf="(mode$ | async) !== 'mobile'">
        Desktop one
      </div>

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class body-xs">–</div>
      <div class="tag-and-class body-xs">.body-xs</div>
      <div
        class="col-4 body-xs"
        *ngIf="(mode$ | async) !== 'tablet'">
        Mobile sample
      </div>
      <div
        class="col-4 body-xs"
        *ngIf="(mode$ | async) !== 'mobile'">
        Desktop one
      </div>

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class overline">–</div>
      <div class="tag-and-class overline">.overline</div>
      <div
        class="col-4 overline"
        *ngIf="(mode$ | async) !== 'tablet'">
        Mobile sample
      </div>
      <div
        class="col-4 overline"
        *ngIf="(mode$ | async) !== 'mobile'">
        Desktop one
      </div>
    </div>
  </pa-demo-examples>
</pa-demo-page>
