<pa-demo-page>
  <pa-demo-title>Typography</pa-demo-title>

  <pa-demo-description>
    <p>
      Pastanaga provides different typography classes automatically applied to corresponding tag. For some of those
      classes, font-size and letter spacing are different on mobile than on other screen sizes.
    </p>
  </pa-demo-description>

  <pa-demo-examples>
    <div class="typography-table center-items grid-6-large-10">
      <div class="header">Tag</div>
      <div class="header">Class</div>
      @if ((mode$ | async) !== 'tablet') {
        <div class="header col-4">Mobile</div>
      }
      @if ((mode$ | async) !== 'mobile') {
        <div class="header col-4">Larger screens</div>
      }

      <div class="separator col-6-large-10"></div>

      <div class="tag-and-class title-l-mobile">–</div>
      <div class="tag-and-class title-l-mobile">.display-m</div>
      @if ((mode$ | async) !== 'tablet') {
        <div class="col-4 display-m-mobile">Mobile sample</div>
      }
      @if ((mode$ | async) !== 'mobile') {
        <div class="col-4 display-m">Desktop one</div>
      }

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class title-l-mobile">h1</div>
      <div class="tag-and-class title-l-mobile">.display-s</div>
      @if ((mode$ | async) !== 'tablet') {
        <div class="col-4 display-s-mobile">Mobile sample</div>
      }
      @if ((mode$ | async) !== 'mobile') {
        <div class="col-4 display-s">Desktop one</div>
      }

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class title-l-mobile">h2</div>
      <div class="tag-and-class title-l-mobile">.title-l</div>
      @if ((mode$ | async) !== 'tablet') {
        <div class="col-4 title-l-mobile">Mobile sample</div>
      }
      @if ((mode$ | async) !== 'mobile') {
        <div class="col-4 title-l">Desktop one</div>
      }

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class title-m-mobile">h3</div>
      <div class="tag-and-class title-m-mobile">.title-m</div>
      @if ((mode$ | async) !== 'tablet') {
        <div class="col-4 title-m-mobile">Mobile sample</div>
      }
      @if ((mode$ | async) !== 'mobile') {
        <div class="col-4 title-m">Desktop one</div>
      }

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class title-s-mobile">h4</div>
      <div class="tag-and-class title-s-mobile">.title-s</div>
      @if ((mode$ | async) !== 'tablet') {
        <div class="col-4 title-s-mobile">Mobile sample</div>
      }
      @if ((mode$ | async) !== 'mobile') {
        <div class="col-4 title-s">Desktop one</div>
      }

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class title-xs">h5</div>
      <div class="tag-and-class title-xs">.title-xs</div>
      @if ((mode$ | async) !== 'tablet') {
        <div class="col-4 title-xs">Mobile sample</div>
      }
      @if ((mode$ | async) !== 'mobile') {
        <div class="col-4 title-xs">Desktop one</div>
      }

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class title-xxs">h6</div>
      <div class="tag-and-class title-xxs">.title-xxs</div>
      @if ((mode$ | async) !== 'tablet') {
        <div class="col-4 title-xxs">Mobile sample</div>
      }
      @if ((mode$ | async) !== 'mobile') {
        <div class="col-4 title-xxs">Desktop one</div>
      }

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class body-m">–</div>
      <div class="tag-and-class body-m">.body-m</div>
      @if ((mode$ | async) !== 'tablet') {
        <div class="col-4 body-m">Mobile sample</div>
      }
      @if ((mode$ | async) !== 'mobile') {
        <div class="col-4 body-m">Desktop one</div>
      }

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class body-s">–</div>
      <div class="tag-and-class body-s">.body-s</div>
      @if ((mode$ | async) !== 'tablet') {
        <div class="col-4 body-s">Mobile sample</div>
      }
      @if ((mode$ | async) !== 'mobile') {
        <div class="col-4 body-s">Desktop one</div>
      }

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class body-xs">–</div>
      <div class="tag-and-class body-xs">.body-xs</div>
      @if ((mode$ | async) !== 'tablet') {
        <div class="col-4 body-xs">Mobile sample</div>
      }
      @if ((mode$ | async) !== 'mobile') {
        <div class="col-4 body-xs">Desktop one</div>
      }

      <div class="col-6-large-10 separator"></div>

      <div class="tag-and-class overline">–</div>
      <div class="tag-and-class overline">.overline</div>
      @if ((mode$ | async) !== 'tablet') {
        <div class="col-4 overline">Mobile sample</div>
      }
      @if ((mode$ | async) !== 'mobile') {
        <div class="col-4 overline">Desktop one</div>
      }
    </div>
  </pa-demo-examples>
</pa-demo-page>
