<pa-demo-page>
    <pa-demo-title>Toggle</pa-demo-title>
    <pa-demo-description>Pa field (with label and help) for a checkbox with a "slide toggle" design.
    </pa-demo-description>

    <pa-demo-examples>
        <h4>Using ngModel</h4>
        <div class="grid-3 has-gutter">
            <div class="col-1">
                <pa-toggle id="firstToggle"
                           name="firstToggle"
                           [(ngModel)]="firstToggle"
                           [hasFocus]="focusedFirstToggle"
                           [disabled]="disabled"
                           (statusChange)="firstToggleStatus = $event"
                ></pa-toggle></div>
            <div class="col-2">Value: {{firstToggle}}, state: {{firstToggleStatus}}</div>
        </div>

        <h4>Using formControl</h4>
        <form [formGroup]="form">
            <div class="grid-3 has-gutter">
                <div class="col-1">
                    <pa-toggle
                        id="toggle"
                        name="toggle"
                        formControlName="toggle"
                        help="help text"
                        [hasFocus]="focusedToggle"
                        (statusChange)="secondToggleStatus = $event"
                    >Label
                    </pa-toggle></div>
                <div class="col-2">
                    Value: {{form.value.toggle}}, state: {{secondToggleStatus}}
                </div>
            </div>
        </form>
    </pa-demo-examples>
    <pa-demo-configuration>
        <div class="pa-demo-configuration-field">
            <pa-checkbox id="focusFirstTrigger" [(ngModel)]="focusedFirstToggle">Focused state On first toggle
            </pa-checkbox>
        </div>
        <div class="pa-demo-configuration-field">
            <pa-checkbox id="focusTrigger" [(ngModel)]="focusedToggle">Focused state On Second toggle</pa-checkbox>
        </div>
        <div class="pa-demo-configuration-field">
            <pa-checkbox id="disabledTrigger" [(ngModel)]="disabled" (selectedChange)="toggleDisabled()">Toggle
                disabled
            </pa-checkbox>
        </div>
    </pa-demo-configuration>

    <pa-demo-usage>
        <pa-demo-deprecated-base-control></pa-demo-deprecated-base-control>

        <br>
        <h2>Specific to <code>ToggleComponent</code></h2>
        <h3>Inputs</h3>
        <dl>
            <dt>hasFocus</dt>
            <dd>Set to true to give focus on the input by default <small>(default: false)</small></dd>
        </dl>
    </pa-demo-usage>

    <pa-demo-code>
        <pre><code>{{code}}</code></pre>
    </pa-demo-code>
</pa-demo-page>
