<pa-demo-page>
  <pa-demo-title>Toggle</pa-demo-title>
  <pa-demo-description>
    <p>
      <code>pa-toggle</code>
      wraps an
      <code>input</code>
      element of type
      <code>checkbox</code>
      and applies Pastanaga’s form field style with a "slide toggle" design.
    </p>
    <pa-demo-form-field-description component="pa-checkbox"></pa-demo-form-field-description>
    <p>
      <code>pa-toggle</code>
      uses
      <code>pa-form-field-hint</code>
      to display help and error messages.
    </p>
    <p>
      <strong>Important note:</strong>
      <code>readonly</code>
      is not applicable to input of type checkbox so the input inherited from
      <code>PaFormControlDirective</code>
      will have no effect.
    </p>
  </pa-demo-description>

  <pa-demo-examples>
    <h4>Using ngModel</h4>
    <div class="grid-3 has-gutter">
      <div class="col-1">
        <pa-toggle
          id="firstToggle"
          name="firstToggle"
          [(ngModel)]="firstToggle"
          [hasFocus]="focusedFirstToggle"
          [labelOnRight]="labelOnRight"
          [disabled]="disabled"
          (statusChange)="firstToggleStatus = $event">
          Label
        </pa-toggle>
      </div>
      <div class="col-2">Value: {{ firstToggle }}, state: {{ firstToggleStatus }}</div>
    </div>

    <h4>Using formControl</h4>
    <form [formGroup]="form">
      <div class="grid-3 has-gutter">
        <div class="col-1">
          <pa-toggle
            id="toggle"
            name="toggle"
            formControlName="toggle"
            help="help text"
            [labelOnRight]="labelOnRight"
            [hasFocus]="focusedToggle"
            (statusChange)="secondToggleStatus = $event">
            Label
          </pa-toggle>
        </div>
        <div class="col-2">Value: {{ form.value.toggle }}, state: {{ secondToggleStatus }}</div>
      </div>
    </form>
    <h4>Group of toggles</h4>
    <div>
      <pa-toggle
        labelOnRight
        [disabled]="disabled"
        help="Allows to do nice things">
        Enable some nice feature
      </pa-toggle>
      <pa-toggle
        labelOnRight
        [disabled]="disabled"
        help="Displays great stuff">
        Another great feature
      </pa-toggle>
      <pa-toggle
        labelOnRight
        [disabled]="disabled"
        help="Mind blowing feature">
        You're not ready for this one
      </pa-toggle>
      <pa-toggle
        labelOnRight
        [disabled]="disabled"
        help="Ultimate Answer to the Question of life, the Universe and Everything related to it">
        42
      </pa-toggle>
    </div>
  </pa-demo-examples>
  <pa-demo-configuration>
    <div class="pa-demo-configuration-field">
      <pa-checkbox
        id="labelOnRight"
        [(ngModel)]="labelOnRight">
        Display label on the right
      </pa-checkbox>
    </div>
    <div class="pa-demo-configuration-field">
      <pa-checkbox
        id="focusFirstTrigger"
        [(ngModel)]="focusedFirstToggle">
        Focused state On first toggle
      </pa-checkbox>
    </div>
    <div class="pa-demo-configuration-field">
      <pa-checkbox
        id="focusTrigger"
        [(ngModel)]="focusedToggle">
        Focused state On Second toggle
      </pa-checkbox>
    </div>
    <div class="pa-demo-configuration-field">
      <pa-checkbox
        id="disabledTrigger"
        [(ngModel)]="disabled"
        (ngModelChange)="toggleDisabled()">
        Toggle disabled
      </pa-checkbox>
    </div>
  </pa-demo-configuration>

  <pa-demo-usage>
    <h2>
      Inherited from
      <code>PaFormControlDirective</code>
    </h2>
    <pa-demo-pa-form-control-usage></pa-demo-pa-form-control-usage>

    <h2>
      Specific to
      <code>ToggleComponent</code>
    </h2>
    <h3>Inputs</h3>
    <dl>
      <dt>hasFocus</dt>
      <dd>
        Set to true to give focus on the input by default
        <small>(default: false)</small>
      </dd>

      <dt>help</dt>
      <dd>
        Display the provided help message under the toggle
        <small>(Optional)</small>
      </dd>

      <dt>labelOnRight</dt>
      <dd>
        Display the label on the right of the toggle
        <small>(default: false)</small>
      </dd>
    </dl>
  </pa-demo-usage>

  <pa-demo-code>
    <pre><code>{{code}}</code></pre>
  </pa-demo-code>
</pa-demo-page>
