<pa-demo-page>
    <pa-demo-title>Breakpoint observer</pa-demo-title>

    <pa-demo-description>
        <p>Pastanaga theme provides some breakpoints variables so you can easily manage your responsive layouts.
            As layout can not always be managed entirely through css, Pastanaga provides also a <code>BreakpointObserver</code>
            service allowing to watch viewport current min/max size.</p>
    </pa-demo-description>

    <pa-demo-usage>
        <h3>Types</h3>
        <dl>
            <dt><code>ViewportSize</code></dt>
            <dd>Enum containing viewport sizes supported by Pastanaga (corresponding to the ones defined in css)</dd>
            <dt><code>ViewportMode</code></dt>
            <dd><code>'desktop' | 'tablet' | 'mobile'</code></dd>
        </dl>

        <h3><code>BreakpointObserver</code></h3>
        <dl>
            <dt>currentMinSize</dt>
            <dd>Observable returning <code>ViewportSize</code> corresponding to the current <code>min-width</code> from css media query</dd>
            <dt>currentMaxSize</dt>
            <dd>Observable returning <code>ViewportSize</code> corresponding to the current <code>max-width</code> from css media query</dd>
            <dt>currentMode</dt>
            <dd>Observable returning <code>ViewportMode</code> based on <code>currentMinSize</code></dd>
        </dl>
    </pa-demo-usage>

    <pa-demo-code>
        <pre><code>{{currentMode}}</code></pre>
    </pa-demo-code>
</pa-demo-page>
