<pa-demo-page>
    <pa-demo-title>Confirmation dialog</pa-demo-title>
    <pa-demo-description>
        <p>Pastanaga provides a full system to manage modals and dialogs which is documented <a [traverseTo]="'/@@modal'">here</a>.</p>
        <p>To simplify the creation of commonly used confirmation dialog, Pastanaga also provide a method <code>openConfirm</code>
            as part of the <code>modalService</code> to directly open a confirmation dialog.</p>
        <p>This method takes an attribute <code>ConfirmationData</code> as unique parameter to configure the confirmation dialog.</p>
    </pa-demo-description>

    <pa-demo-examples>
        <pa-button class="open-modal-button" kind="primary" (click)="openConfirm()">Open a confirmation</pa-button>
        <pa-button class="open-modal-button" kind="destructive" (click)="openDestructiveConfirm()">Open a destructive confirmation</pa-button>
    </pa-demo-examples>

    <pa-demo-usage>
        <h3>ConfirmationData</h3>
        <dl>
            <dt>title</dt>
            <dd>Title to be displayed in the confirmation dialog. This is the only mandatory property.</dd>

            <dt>description</dt>
            <dd>Description to be displayed below the title. <small>Optional</small></dd>

            <dt>isDestructive</dt>
            <dd>When true, the confirmation button will be of kind <code>destructive</code>. <small>Default: false</small></dd>

            <dt>cancelLabel</dt>
            <dd>Label to display on the cancel button. <small>Default: pastanaga.cancel</small></dd>

            <dt>confirmLabel</dt>
            <dd>Label to display on the confirm button. <small>Default: pastanaga.confirm</small></dd>
        </dl>
    </pa-demo-usage>

    <pa-demo-code>
        <pre><code>{{openConfirmCode}}</code></pre>
    </pa-demo-code>
</pa-demo-page>
