@import "../../../../../../../pastanaga-angular/src/styles/variables";

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-neutral-lighter;
    height: rhythm(40);
}
