<h4>Configure component</h4>
<form [formGroup]="stateForm">
    <fieldset>
        <legend>Basic input html properties and attributes</legend>
        <div class="state-option">
            <div class="option">
                <input formControlName="value" [value]="null" id="parentValueUndefined" type="radio">
                <label for="parentValueUndefined">Parent Value Undefined</label>
            </div>
            <div class="option">
                <input formControlName="value" value="{{stateForm.value.type === 'number' ? 5 : 'a parent value'}}" id="parentValuated" type="radio">
                <label for="parentValuated">Parent Value</label>
            </div>
        </div>
        <div class="state-option">
            <div class="option">
                <input formControlName="type" [value]="null" id="typeUndefined" type="radio">
                <label for="typeUndefined">type undefined</label>
            </div>
            <div class="option">
                <input formControlName="type" value="text" id="typeText" type="radio">
                <label for="typeText">type text</label>
            </div>
            <div class="option">
                <input formControlName="type" value="number" id="typeNumber" type="radio">
                <label for="typeNumber">type number</label>
            </div>
            <div class="option">
                <input formControlName="type" value="password" id="typePassword" type="radio">
                <label for="typePassword">type password</label>
            </div>
            <div class="option">
                <input formControlName="type" value="email" id="typeEmail" type="radio">
                <label for="typeEmail">type email</label>
            </div>
        </div>
        <div class="state-option">
            <div class="option">
                <input formControlName="placeholder" [value]="null" id="placeholderUndefined" type="radio">
                <label for="placeholderUndefined">placeholder undefined</label>
            </div>
            <div class="option">
                <input formControlName="placeholder" value="A placeholder" id="placeholderValuated" type="radio">
                <label for="placeholderValuated">with placeholder</label>
            </div>
        </div>
        <div class="state-option">
            <div class="option">
                <input formControlName="autoCapitalize" [value]="null" id="autoCapitalizeUndefined" type="radio">
                <label for="autoCapitalizeUndefined">autocapitalize unspecified</label>
            </div>
            <div class="option">
                <input formControlName="autoCapitalize" value="on" id="autoCapitalize" type="radio">
                <label for="autoCapitalize">autocapitalize on</label>
            </div>
            <div class="option">
                <input formControlName="autoCapitalize" value="off" id="disableAutoCapitalize" type="radio">
                <label for="disableAutoCapitalize">autocapitalize off</label>
            </div>
        </div>
        <div class="state-option">
            <div class="option">
                <input formControlName="preventAutocomplete" [value]="null" id="autocompleteUndefined" type="radio">
                <label for="autocompleteUndefined">autocomplete unspecified</label>
            </div>
            <div class="option">
                <input formControlName="preventAutocomplete" [value]="false" id="allowAutocomplete" type="radio">
                <label for="allowAutocomplete">allow Autocomplete</label>
            </div>
            <div class="option">
                <input formControlName="preventAutocomplete" [value]="true" id="disableAutocomplete" type="radio">
                <label for="disableAutocomplete">disable Autocomplete</label>
            </div>
        </div>
        <div class="state-option">
            <div class="option">
                <input formControlName="acceptHtml" [value]="null" id="acceptHtmlUndefined" type="radio">
                <label for="acceptHtmlUndefined">accept/refuse html tags unspecified</label>
            </div>
            <div class="option">
                <input formControlName="acceptHtml" [value]="true" id="acceptHtml" type="radio">
                <label for="acceptHtml">accept html tags</label>
            </div>
            <div class="option">
                <input formControlName="acceptHtml" [value]="false" id="rejectHtml" type="radio">
                <label for="rejectHtml">refuse html tags</label>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Input state</legend>
        <div class="state-option">
            <div class="option">
                <input formControlName="disabled" [value]="null" id="disabledUndefined" type="radio">
                <label for="disabledUndefined">disabled undefined</label>
            </div>
            <div class="option">
                <input formControlName="disabled" [value]="true" id="disabled" type="radio">
                <label for="disabled">disabled</label>
            </div>
            <div class="option">
                <input formControlName="disabled" [value]="false" id="enabled" type="radio">
                <label for="enabled">enabled</label>
            </div>
        </div>
        <div class="state-option">
            <div class="option">
                <input formControlName="readonly" [value]="null" id="readonlyUndefined" type="radio">
                <label for="readonlyUndefined">readonly undefined</label>
            </div>
            <div class="option">
                <input formControlName="readonly" [value]="true" id="readonly" type="radio">
                <label for="readonly">readonly</label>
            </div>
            <div class="option">
                <input formControlName="readonly" [value]="false" id="notReadonly" type="radio">
                <label for="notReadonly">not readonly</label>
            </div>
        </div>
        <div class="state-option">
            <div class="option">
                <input formControlName="hasFocus" [value]="null" id="hasFocusUndefined" type="radio">
                <label for="hasFocusUndefined">hasFocus undefined</label>
            </div>
            <div class="option">
                <input formControlName="hasFocus" [value]="true" id="hasFocus" type="radio">
                <label for="hasFocus">hasFocus</label>
            </div>
            <div class="option">
                <input formControlName="hasFocus" [value]="false" id="hasFocusFalse" type="radio">
                <label for="hasFocusFalse">hasFocus false</label>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Hint and error management</legend>
        <div class="state-option">
            <div class="option">
                <input formControlName="help" [value]="null" id="helpUndefined" type="radio">
                <label for="helpUndefined">help undefined</label>
            </div>
            <div class="option">
                <input formControlName="help" value="A hint to help the user" id="help" type="radio">
                <label for="help">help provided</label>
            </div>
        </div>
        <div class="state-option">
            <div class="option">
                <input formControlName="errorMessage" [value]="null" id="errorMessageUndefined" type="radio">
                <label for="errorMessageUndefined">manual error message undefined</label>
            </div>
            <div class="option">
                <input formControlName="errorMessage" value="A manually set error message" id="errorMessage" type="radio">
                <label for="errorMessage">manual error message </label>
            </div>
        </div>
        <div class="state-option">
            <div class="option">
                <input formControlName="errorMessages" [value]="null" id="errorMessagesUndefined" type="radio">
                <label for="errorMessagesUndefined">error messages undefined</label>
            </div>
            <div class="option">
                <input formControlName="errorMessages" [value]="errorMessages" id="errorMessages" type="radio">
                <label for="errorMessages">error messages provided</label>
            </div>
        </div>
        <div class="state-option">
            <div class="option">
                <input formControlName="showAllErrors" [value]="null" id="showAllErrorsUndefined" type="radio">
                <label for="showAllErrorsUndefined">showAllErrors undefined</label>
            </div>
            <div class="option">
                <input formControlName="showAllErrors" [value]="true" id="showAllErrors" type="radio">
                <label for="showAllErrors">Show all errors having messages</label>
            </div>
            <div class="option">
                <input formControlName="showAllErrors" [value]="false" id="showFirstError" type="radio">
                <label for="showFirstError">Show only first error</label>
            </div>
        </div>
        <div class="state-option">
            <div class="option">
                <input formControlName="required" [value]="null" id="requiredUndefined" type="radio">
                <label for="requiredUndefined">required undefined</label>
            </div>
            <div class="option">
                <input formControlName="required" [value]="true" id="required" type="radio">
                <label for="required">Add required validation</label>
            </div>
            <div class="option">
                <input formControlName="required" [value]="false" id="notRequired" type="radio">
                <label for="notRequired">Remove required validation</label>
            </div>
        </div>
        <div class="state-option">
            <div class="option">
                <input formControlName="pattern" [value]="null" id="patternUndefined" type="radio">
                <label for="patternUndefined">pattern validation undefined</label>
            </div>
            <div class="option">
                <input formControlName="pattern" [value]="pattern" id="pattern" type="radio">
                <label for="pattern">Add pattern validation matching '.?test.?'</label>
            </div>
        </div>
        <div class="state-option">
            <div class="option">
                <input formControlName="min" [value]="null" id="minUndefined" type="radio">
                <label for="minUndefined">min validation undefined</label>
            </div>
            <div class="option">
                <input formControlName="min" [value]="0" id="min0" type="radio">
                <label for="min0">add min validation: >= 0</label>
            </div>
            <div class="option">
                <input formControlName="min" [value]="3" id="min3" type="radio">
                <label for="min3">add min validation: >= 3</label>
            </div>
        </div>
        <div class="state-option">
            <div class="option">
                <input formControlName="max" [value]="null" id="maxUndefined" type="radio">
                <label for="maxUndefined">max validation undefined</label>
            </div>
            <div class="option">
                <input formControlName="max" [value]="0" id="max0" type="radio">
                <label for="max0">add max validation: <= 0</label>
            </div>
            <div class="option">
                <input formControlName="max" [value]="5" id="max5" type="radio">
                <label for="max5">add max validation: <= 5</label>
            </div>
        </div>
        <div class="state-option">
            <div class="option">
                <input formControlName="maxlength" [value]="null" id="maxlengthUndefined" type="radio">
                <label for="maxlengthUndefined">maxlength validation undefined</label>
            </div>
            <div class="option">
                <input formControlName="maxlength" [value]="3" id="maxlength3" type="radio">
                <label for="maxlength3">add maxlength validation = 3</label>
            </div>
        </div>
    </fieldset>
</form>
