<input type="checkbox" id="pastanaga-toolbar-toggle" hidden checked />
<div *ngIf="authenticated" class="pastanaga-toolbar">

  <button class="pastanaga-button" [matMenuTriggerFor]="menu"><mat-icon svgIcon="more"></mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <div class="pastanaga-toolbar-actions">
    <a (click)="closeToolbar()" class="pastanaga-button" traverseTo="@@add"><mat-icon svgIcon="add-document"></mat-icon></a>
    <a (click)="closeToolbar()" class="pastanaga-button" traverseTo="/"><mat-icon svgIcon="folder"></mat-icon></a>
    <a (click)="closeToolbar()" class="pastanaga-button primary" traverseTo="@@edit"><mat-icon svgIcon="pen"></mat-icon></a>
  </div>
  
  <label for="pastanaga-toolbar-toggle" class="pastanaga-toolbar-opener"></label>
</div>
