<input *ngIf="authenticated" type="checkbox" id="pastanaga-toolbar-toggle" hidden checked />
<div class="pastanaga-toolbar">
  <a class="pastanaga-button"><mat-icon svgIcon="more"></mat-icon></a>
  
  <div class="pastanaga-toolbar-actions">
    <a class="pastanaga-button" traverseTo="@@add?type=Document"><mat-icon svgIcon="add-document"></mat-icon></a>
    <a class="pastanaga-button" traverseTo="@@add?type=Folder"><mat-icon svgIcon="folder"></mat-icon></a>
    <a class="pastanaga-button primary" traverseTo="@@edit"><mat-icon svgIcon="pen"></mat-icon></a>
  </div>
  
  <label for="pastanaga-toolbar-toggle" class="pastanaga-toolbar-opener"></label>
</div>
