<pa-demo-page>
    <pa-demo-title>Grid</pa-demo-title>
    <pa-demo-description>
        <p>
            Pastanaga provides a simple yet powerful CSS grid,
        </p>
    </pa-demo-description>

    <pa-demo-examples>
        <code>class="grid-12"</code>
        <div class="grid-12">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div class="col-3">class="col-3"</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div class="col-9">class="col-9"</div>
        </div>
        <code>class="grid-6 has-gutter"</code>
        <div class="grid-6 has-gutter">
            <div class="col-3">
                class="col-3"
            </div>
            <div class="col-2">
                class="col-2"
            </div>
            <div class="row-2">
                class="row-2"
            </div>
            <div class="col-3 justify-center">
                class="col-3 justify-center"
            </div>
            <div class="col-2 justify-center">
                class="col-2 justify-center"
            </div>
            <div class="col-1">
                class="col-1"<br>
                with more text<br>
                with more text<br>
                with more text<br>
                with more text<br>
                with more text<br>
                with more text<br>
            </div>
            <div class="col-5 align-center">
                class="col-5 align-center"
            </div>
            <div class="col-all">
                class="col-all"
            </div>
        </div>
    </pa-demo-examples>
    <pa-demo-usage>
        <p>
            The grid is 12-based, but grid with less columns can be created, example: <code>class="grid-4"</code>.
        </p>
        <p>
            <code>.grid-offset</code> allows to offset by a given number of columns, example: <code>class="col-4 grid-offset"</code>
        </p>
        <p>
            Columns can be hidden/visible depending on the viewport size, examples:<code>class="col-4 small-hidden tiny-hidden"</code>, <code>class="col-4 large-visible"</code>.
        </p>
        <p>
            Horizontal alignment is performed with <code>.justify-center</code> and <code>.justify-right</code>.
        </p>
        <p>
            Vertical alignment is performed with <code>.align-center</code> and <code>.align-bottom</code>.
        </p>
    </pa-demo-usage>
</pa-demo-page>
