@import "../../../../../../pastanaga-angular/src/lib/styles/variables";

[class^="grid-"] > div {
    background-color: $color-tertiary-regular;
    color: $color-light-stronger;
    padding: rhythm(0.25);
}

pa-demo-examples code {
    margin: rhythm(1.5) 0;
}
