@use '../../../../../../pastanaga-angular/src/styles/theme/palette.tokens' as palette;
@use '../../../../../../pastanaga-angular/src/styles/theme/spacing.tokens' as spacing;

[class^='grid-'] > div {
  background-color: palette.$color-tertiary-regular;
  color: palette.$color-light-stronger;
  padding: spacing.rhythm(0.25);
}

pa-demo-examples code {
  margin: spacing.rhythm(1.5) 0;
}
