@import "../../../../../../pastanaga-angular/src/lib/styles/variables";

[class^="grid-"] > div {
    background-color: $cava;
    color: $white;
    padding: rhythm(0.25);
}

pa-demo-examples code {
    margin: rhythm(1) 0;
}