<pa-demo-page>
    <pa-demo-title>Select</pa-demo-title>

    <pa-demo-description>TODO</pa-demo-description>

    <pa-demo-examples>
        <pa-select label="Label" placeholder="Placeholder" [value]="selectedValue">
            <pa-option-header>Users</pa-option-header>
            <pa-option (select)="selectedValue = 'User 1'">User 1</pa-option>
            <pa-option (select)="selectedValue = 'User 2'">User 2</pa-option>
            <pa-option (select)="selectedValue = 'User 3'">User 3</pa-option>
            <pa-option-header>Groups</pa-option-header>
            <pa-option (select)="selectedValue = 'Group 1'">Group 1</pa-option>
            <pa-option (select)="selectedValue = 'Group 2'">Group 2</pa-option>
            <pa-option (select)="selectedValue = 'Group 3'">Group 3</pa-option>
        </pa-select>
    </pa-demo-examples>
    <pa-demo-configuration>
        TODO
    </pa-demo-configuration>

    <pa-demo-usage>
        TODO
    </pa-demo-usage>

    <pa-demo-code>
        TODO
    </pa-demo-code>
</pa-demo-page>
