<pa-demo-page>
    <pa-demo-title>Expand</pa-demo-title>
    <pa-demo-description></pa-demo-description>
    <pa-demo-examples>
        <pa-expand>
            <pa-expand-header>Section 1</pa-expand-header>
            <pa-expand-body>
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                </ul>
            </pa-expand-body>
        </pa-expand>
        <pa-expand>
            <pa-expand-header>
                Section 2
            </pa-expand-header>
            <pa-expand-header-extra-space>
                <pa-button size="small"
                           icon="plus"
                           aspect="basic"
                           (click)="$event.stopPropagation()"
                >Add</pa-button>
            </pa-expand-header-extra-space>
            <pa-expand-body>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </pa-expand-body>
        </pa-expand>
        <pa-expand>
            <pa-expand-header>Section 3</pa-expand-header>
            <pa-expand-body>
                <p>Smallest one</p>
            </pa-expand-body>
        </pa-expand>
    </pa-demo-examples>
</pa-demo-page>
