@use '../../../../../../pastanaga-angular/src/styles/theme/palette.tokens' as palette;
@use '../../../../../../pastanaga-angular/src/styles/theme/spacing.tokens' as spacing;

hr {
  margin: spacing.rhythm(4) 0;
  border: none;
  border-top: 1px solid palette.$color-neutral-lighter;
}
