<pa-demo-page>
    <pa-demo-title>Select</pa-demo-title>

    <pa-demo-description>
        <p>Component providing a dropdown of options.</p>
        <p>It can be used by declaring the options directly in the template like you would do with a basic HTML select,
            or by passing the options list through <code>options</code> attribute. Passing the list of options as an attribute
            allows to filter options when user is typing.
        </p>
    </pa-demo-description>

    <pa-demo-examples>
        <div class="cols">
            <div class="row">
                <div class="col1">
                    <pa-deprecated-select label="Select with options passed through template"
                               placeholder="Placeholder"
                               [(value)]="selectedValue1"
                               [disabled]="disabledState"
                               [readonly]="readOnlyState"
                    >
                        <pa-option-header>Users</pa-option-header>
                        <pa-option value="user1">User 1</pa-option>
                        <pa-option value="user2">User 2</pa-option>
                        <pa-option value="user3">User 3</pa-option>
                        <pa-option-header>Groups</pa-option-header>
                        <pa-option value="group1" disabled>Group 1</pa-option>
                        <pa-option value="group2">Group 2</pa-option>
                        <pa-option value="group3">Group 3</pa-option>
                    </pa-deprecated-select>
                </div>
                <div class="col2">
                    <p>Selected value: {{selectedValue1}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col1">
                    <pa-deprecated-select label="Select with options passed as parameter"
                               placeholder="Placeholder"
                               [options]="options"
                               [(value)]="selectedValue2"
                               [disabled]="disabledState"
                               [readonly]="readOnlyState"
                    ></pa-deprecated-select>
                </div>
                <div class="col2">
                    <p>Selected value: {{selectedValue2}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <pa-deprecated-select label="Select with no option preselected"
                               placeholder="Placeholder"
                               [(value)]="selectedValue3"
                               [disabled]="disabledState"
                               [readonly]="readOnlyState">
                        <pa-option-header>Users</pa-option-header>
                        <pa-option value="user1">User 1</pa-option>
                        <pa-option value="user2">User 2</pa-option>
                        <pa-option value="user3">User 3</pa-option>
                        <pa-option-header>Groups</pa-option-header>
                        <pa-option value="group1" disabled>Group 1</pa-option>
                        <pa-option value="group2">Group 2</pa-option>
                        <pa-option value="group3">Group 3</pa-option>
                    </pa-deprecated-select>
                </div>
                <div class="col2">
                    <p>Selected value: {{selectedValue3}}</p>
                </div>
            </div>
        </div>
    </pa-demo-examples>
    <pa-demo-configuration>
        <div class="pa-demo-configuration-field">
            <pa-deprecated-checkbox id="disabled" [(selected)]="disabledState">Disabled state</pa-deprecated-checkbox>
        </div>
        <div class="pa-demo-configuration-field">
            <pa-deprecated-checkbox id="readonly" [(selected)]="readOnlyState">Readonly state</pa-deprecated-checkbox>
        </div>
    </pa-demo-configuration>

    <pa-demo-usage>
        <pa-demo-base-textfield></pa-demo-base-textfield>

        <br>
        <h2>Specific to <code>SelectComponent</code></h2>
        <h3>Inputs</h3>
        <dl>
            <dt>label</dt>
            <dd>Field's label</dd>
            <dt>options</dt>
            <dd>Option list to be displayed in the dropdown <small>(optional: can be set directly in the DOM)</small></dd>
        </dl>

        <h3>Outputs</h3>
        <dl>
            <dt>expanded</dt>
            <dd>Emits <code>true</code> when the dropdown is opened, and <code>false</code> when it is closed.</dd>
        </dl>
    </pa-demo-usage>

    <pa-demo-code>
        You can declare the options directly in the template:
        <pre><code>{{exampleInTemplate}}</code></pre>

        Or you can pass the options as a parameter:
        <pre><code>{{exampleWithInputHtml}}</code></pre>
        <pre><code>{{exampleWithInputTs}}</code></pre>
    </pa-demo-code>
</pa-demo-page>
