<pa-demo-page>
  <pa-demo-title>Select</pa-demo-title>

  <pa-demo-description>
    <p>
      <code>pa-select</code>
      is similar to a native select element, allowing to select a value from a set of options and apply Pastanaga’s form
      field style.
    </p>
    <pa-demo-form-field-description component="pa-select"></pa-demo-form-field-description>
    <p>
      <code>pa-select</code>
      also supports internal and external validation.
    </p>
    <br />
    <p>
      There are 2 ways to provide options to pa-select: directly in the template or programmatically using
      <code>BaseControlModels</code>
    </p>
    <h3>Static options</h3>
    <p>using dropdown module's components:</p>
    <pre><code>{{paOptionUsage}}</code></pre>
    <h3>Dynamic options</h3>
    <p>
      using BaseControlModels (
      <code>OptionModel</code>
      |
      <code>OptionSeparator</code>
      |
      <code>OptionHeaderModel</code>
      )
    </p>
    <pre><code>{{baseControlModelsUsage}}</code></pre>
    <p>
      <strong>Important note:</strong>
      by design, it is possible to mark an
      <code>OptionModel</code>
      or
      <code>pa-option</code>
      component as selected, but this won't work for
      <code>pa-select</code>
      . To assign a value to the form control (and so select an option), you should use
      <code>value</code>
      ,
      <code>ngModel</code>
      or
      <code>formControl</code>
      .
      <code>pa-select</code>
      controls its children, not the opposite.
    </p>
  </pa-demo-description>

  <pa-demo-examples>
    <p>The following select demonstrates error state: click in the select but don't select any option</p>
    <pa-select
      [(ngModel)]="model"
      name="selectExample"
      required
      placeholder="Placeholder"
      label="Required select"
      help="Display the error state by clicking in this select but not selecting any value"
      [errorMessages]="{ required: 'Error message: required' }">
      <pa-option>No value</pa-option>
      <pa-option value="value1">Option 1</pa-option>
      <pa-option value="value2">Option 2</pa-option>
      <pa-option value="value3">Option 3</pa-option>
    </pa-select>

    <div style="max-width: 400px">
      <p>Show how select handle long selected value:</p>
      <pa-select label="Long options">
        <pa-option value="long1">This is a quite long option which should show an ellipsis</pa-option>
        <pa-option value="long2">This option is even longer and should also show an ellipsis</pa-option>
      </pa-select>
    </div>

    <pa-tabs>
      <pa-tab
        (click)="selectedTab = 'standalone'"
        [active]="selectedTab === 'standalone'">
        Standalone
      </pa-tab>
      <pa-tab
        (click)="selectedTab = 'ngModel'"
        [active]="selectedTab === 'ngModel'">
        NgModel
      </pa-tab>
      <pa-tab
        (click)="selectedTab = 'formControl'"
        [active]="selectedTab === 'formControl'">
        Form Control
      </pa-tab>
      <pa-tab
        (click)="selectedTab = 'formControlName'"
        [active]="selectedTab === 'formControlName'">
        Form Control Name
      </pa-tab>
    </pa-tabs>

    @if (selectedTab === 'standalone') {
      <pa-demo-select-standalone-example [dropdownContent]="dropdownContent"></pa-demo-select-standalone-example>
    }
    @if (selectedTab === 'ngModel') {
      <pa-demo-select-ng-model-example [dropdownContent]="dropdownContent"></pa-demo-select-ng-model-example>
    }
    @if (selectedTab === 'formControl') {
      <pa-demo-select-form-control-example [dropdownContent]="dropdownContent"></pa-demo-select-form-control-example>
    }
    @if (selectedTab === 'formControlName') {
      <pa-demo-select-form-group-example [dropdownContent]="dropdownContent"></pa-demo-select-form-group-example>
    }
  </pa-demo-examples>

  <pa-demo-usage>
    <h3>
      Inherited from
      <code>PaFormControlDirective</code>
    </h3>
    <pa-demo-pa-form-control-usage></pa-demo-pa-form-control-usage>

    <br />
    <h3>
      Specific to
      <code>SelectComponent</code>
    </h3>
    <pa-demo-select-usage></pa-demo-select-usage>
  </pa-demo-usage>

  <pa-demo-code>
    <pa-tabs>
      <pa-tab
        (click)="selectedTab = 'standalone'"
        [active]="selectedTab === 'standalone'">
        Standalone
      </pa-tab>
      <pa-tab
        (click)="selectedTab = 'ngModel'"
        [active]="selectedTab === 'ngModel'">
        NgModel
      </pa-tab>
      <pa-tab
        (click)="selectedTab = 'formControl'"
        [active]="selectedTab === 'formControl'">
        Form Control
      </pa-tab>
      <pa-tab
        (click)="selectedTab = 'formControlName'"
        [active]="selectedTab === 'formControlName'">
        Form Control Name
      </pa-tab>
    </pa-tabs>
    @if (selectedTab === 'standalone') {
      <div>
        <h3>basic usage</h3>
        You can declare the options directly in the template:
        <pre><code>{{standaloneBasicCode}}</code></pre>
        Or you can pass the options as a parameter:
        <pre><code>{{standaloneBasicCodeOptionsTs}}</code></pre>
        <pre><code>{{standaloneBasicCodeOptionsHtml}}</code></pre>
        <h3>full usage</h3>
        <pre><code>{{standaloneFullCode}}</code></pre>
      </div>
    }

    @if (selectedTab === 'ngModel') {
      <div>
        <pre><code>{{ngModelBasicCode}}</code></pre>
      </div>
    }

    @if (selectedTab === 'formControl') {
      <div>
        <pre><code>{{formControlCodeTs}}</code></pre>
        <pre><code>{{formControlCodeHtml}}</code></pre>
      </div>
    }

    @if (selectedTab === 'formControlName') {
      <div>
        <pre><code>{{formControlNameCodeTs}}</code></pre>
        <pre><code>{{formControlNameCodeHtml}}</code></pre>
      </div>
    }
  </pa-demo-code>
</pa-demo-page>
