<p>The provided id attribute is used whenever possible (avoiding duplicate identifier). When no id is provided, a generated
    id is built using a default 'field' specifier.</p>

<div paFormControl></div>
<code>{{ noIdProvided }}</code>
<div>formControl id: <b>{{autoId}}</b></div>
<br>

<div id="test1" paFormControl></div>
<code>{{ elementHasId }}</code>
<div>formControl id: <b>{{elementId}}</b>, <em>duplicate identifier avoided</em></div>
<br>

<div id="test2" [id]="'control'" paFormControl></div>
<code>{{ elementHasIdAndControlHasId }}</code>
<div>formControl id: <b>{{elementAndControlId}}</b></div>
<br>

<div [id]="'test3'" paFormControl></div>
<code>{{ elementWithoutIdAndControlHasId }}</code>
<div>formControl id: <b>{{controlId}}</b></div>

