<pa-demo-page>
  <pa-demo-title>Pastanaga Angular</pa-demo-title>
  <pa-demo-description>
    <p><small>Note: this documentation site is for Pastanaga version 2.x.</small></p>
    <p>
      Pastanaga Angular is an Angular implementation of Pastanaga design system offering a set of re-usable UI
      components which are covering typical needs of any web application.
    </p>
    <p>
      It is maintained by
      <a href="http://plone.org">Plone</a>
      and
      <a href="http://guillotina.io">Guillotina</a>
      communities.
    </p>
    <p>It aims to remain simple, and pays particular attention to:</p>
    <ul>
      <li>
        <strong>Accessibility</strong>
        : semantic is respected, and aria attributes are implemented where needed;
      </li>
      <li>
        <strong>Internationalisation</strong>
        : the translation service allows to manage several languages in a single Angular build, and support granular
        overriding;
      </li>
      <li>
        <strong>Maintenance</strong>
        : releases are frequent, and upgrade to latest Angular version is performed very quickly after each Angular
        release.
      </li>
    </ul>
    <br />
    <p>
      <small>
        Pastanaga sources are on
        <a href="https://github.com/plone/pastanaga-angular">github.com/plone/pastanaga-angular</a>
      </small>
      <br />
      <small>
        Pastanaga package is published on npm
        <a href="https://www.npmjs.com/package/@guillotinaweb/pastanaga-angular">@guillotinaweb/pastanaga-angular</a>
      </small>
    </p>
  </pa-demo-description>
</pa-demo-page>
