<pa-demo-page>
    <pa-demo-title><code>paNativeTextField</code></pa-demo-title>
    <pa-demo-description>
        <h3>An extension of <code>paFormControl</code> adding functionalities for native html fields</h3>
        <p><code>paNativeTextField</code> is designed to be a base class of custom form controls.</p>
        <p>It manages a ViewChild input or textarea html element and it</p>
        <ul>
            <li>provides controls on placeholder</li>
            <li>provides controls on maxLength html attribute</li>
            <li>allows to enable / disable browser autofill</li>
            <li>provides hint and error messages to the user</li>
            <li>focus the input programmatically</li>
            <li>fixes iOS issues with caret positioning</li>
            <li>gives access keyup event</li>
            <li>gives access keyup.enter event</li>
            <li>gives access to focus event</li>
            <li>gives access to blur event</li>
            <li>allows to 'sanitize' user input, removing html tags</li>
        </ul>
    </pa-demo-description>

    <pa-demo-usage>
        <pa-demo-native-text-field-usage></pa-demo-native-text-field-usage>
    </pa-demo-usage>

</pa-demo-page>
