@use '../../../../../../../pastanaga-angular/src/styles/theme/palette.tokens' as palette;
@use '../../../../../../../pastanaga-angular/src/styles/theme/spacing.tokens' as spacing;

.pa-demo-card {
  border-bottom: 1px solid palette.$color-neutral-lightest;
  padding: spacing.rhythm(2) spacing.rhythm(1);

  .contact {
    display: flex;
    justify-content: space-between;
    margin-top: spacing.rhythm(1);
  }
  small {
    color: palette.$color-neutral-regular;
  }
}
