<pa-demo-page>
    <pa-demo-title>Modal</pa-demo-title>
    <pa-demo-description>
        <p>Pastanaga provides a full system allowing you to create and manage your modals as you wish.</p>
        <p>It also provide two predefined kind of modal component ready to be used:</p>
        <ul>
            <li><code>DialogComponent</code> is a blocking modal without closing button containing:</li>
            <ul>
                <li>an optional image</li>
                <li>a title</li>
                <li>a description</li>
                <li>a footer</li>
            </ul>
            <li><code>ModalComponent</code> is a modal with a closing containing:</li>
            <ul>
                <li>a title</li>
                <li>a description</li>
                <li>a content</li>
                <li>a footer</li>
            </ul>
        </ul>
    </pa-demo-description>

    <pa-demo-examples>
        <pa-button kind="primary" (click)="openDialog()">Open a dialog</pa-button>
        <pa-button kind="secondary" (click)="openImageDialog()">Open a dialog with image</pa-button>
        <pa-button kind="primary" (click)="openModal()">Open a modal</pa-button>
    </pa-demo-examples>

    <pa-demo-usage>
        <p>Pastanaga is providing two ready to use modal components: <code>DialogComponent</code> and <code>ModalComponent</code>.</p>
        <p>You can also create your own modal components.</p>

        <h3>Using <code>DialogComponent</code> or <code>ModalComponent</code></h3>
        <p>First you need to create a component implementing <code>IModal</code> interface. <code>IModal</code> interface requires you to have a <code>ViewChild</code> referencing the modal component</p>
        <pa-demo-code>
            <pre><code>{{dialogComponent}}</code></pre>
        </pa-demo-code>
        <p>In its template, you need to use a <code>pa-dialog</code> or a <code>pa-modal</code></p>
        <pa-demo-code>
            <pre><code>{{dialogTemplate}}</code></pre>
        </pa-demo-code>

        <p>This component being setup, you can then display it using Pastanaga's <code>ModalService</code></p>
        <pa-demo-code>
            <pre><code>{{callerComponent}}</code></pre>
        </pa-demo-code>

        <h3>Creating your own modal component</h3>
        <p>To create a modal from scratch, you first need to create a component extending <code>BaseModalComponent</code>.</p>
        <pa-demo-code>
            <pre><code>{{customModalComponent}}</code></pre>
        </pa-demo-code>

        <p>In its template, you must identify the modal container with <code>#modalContainer</code>.
            You can also use pastanaga's classes to take advantage of pastanaga's style and animations.
            And last but not least, you can use pastanaga's modal directives to setup content location for your modal.
        </p>
        <pa-demo-code>
            <pre><code>{{customModalTemplate}}</code></pre>
        </pa-demo-code>

        <p>From there, you can use your own modal the same way you would do with Pastanaga's <code>DialogComponent</code> and <code>ModalComponent</code></p>
    </pa-demo-usage>


</pa-demo-page>
