@use '../../../../../../pastanaga-angular/src/styles/theme/palette.tokens' as palette;
@use '../../../../../../pastanaga-angular/src/styles/theme/spacing.tokens' as spacing;

.distribute-example-container {
  display: flex;
}
.example-column {
  margin-bottom: spacing.$distribute-medium-viewport-small;
  width: 50%;

  h5 {
    margin-bottom: spacing.$distribute-xsmall-viewport-all;
  }
  .example {
    display: flex;
    align-items: center;
    margin-bottom: spacing.$distribute-small-viewport-all;

    small {
      margin-left: spacing.rhythm(0.5);
    }
  }
  .example:before {
    background: palette.$color-tertiary-regular;
    content: '';
    display: inline-block;
    margin-right: spacing.$distribute-xsmall-viewport-all;
    height: 100%;
    width: spacing.rhythm(1);
  }
}
.xsmall {
  height: spacing.$distribute-xsmall-viewport-all;
}
.small {
  height: spacing.$distribute-small-viewport-all;
}
.layout-small {
  .medium {
    height: spacing.$distribute-medium-viewport-small;
  }
  .large {
    height: spacing.$distribute-large-viewport-small;
  }
}
.layout-medium {
  .medium {
    height: spacing.$distribute-medium-viewport-medium;
  }
  .large {
    height: spacing.$distribute-large-viewport-medium;
  }
}

@media (min-width: spacing.$size-viewport-medium-min) {
  .example-column {
    margin-bottom: spacing.$distribute-medium-viewport-medium;
  }
}
