<pa-demo-page>
    <pa-demo-title>Translate</pa-demo-title>

    <pa-demo-description>
        <p>Pastanaga provides a pipe and a directive to manage translations, as well as a service allowing to change the language dynamically.</p>
    </pa-demo-description>

    <pa-demo-examples>
        <pa-select [value]="currentLanguage"
                   [label]="'demo-page.current-language-label' | translate">
            <pa-option *ngFor="let language of languages"
                       [value]="language"
                       (selectOption)="updateLanguage(language)">{{('demo-page.languages.' + language) | translate}}</pa-option>
        </pa-select>

        <h4>Using the directive</h4>
        <section>
            <p>Simple translation: <code>{{directiveSimpleExample}}</code></p>
            <p>
                <strong>Result</strong>: <span translate>demo-page.title</span>
            </p>
        </section>
        <section>
            <p>Translation with parameters: <code>{{directiveWithParamsExample}}</code></p>
            <p>
                <strong>Result</strong>: <span translate [translateParams]="{points: 10, total: 25}">demo-page.score</span>
            </p>
        </section>
        <section>
            <p>Simple translation in attribute: <code>{{directiveAttributeExample}}</code></p>
            <p>
                <strong>Result</strong>: <span translate="demo-page.title"></span>
            </p>
        </section>

        <h4>Using the pipe</h4>
        <section>
            <p>Simple translation: <code>{{pipeSimpleExample}}</code></p>
            <p>
                <strong>Result</strong>: <span>{{ 'demo-page.title' | translate}}</span>
            </p>
        </section>
        <section>
            <p>Translation with parameters: <code>{{pipeWithParamsExample}}</code></p>
            <p>
                <strong>Result</strong>: <span>{{ 'demo-page.score' | translate:{points: 10, total: 25} }}</span>
            </p>
        </section>

        <h4>From a secondary translation file</h4>
        <section>
            <p>Simple translation: <code>&lt;span translate&gt;other.test&lt;/span&gt;</code></p>
            <p>
                <strong>Result</strong>: <span translate>other.test</span>
            </p>
        </section>

        <h4>Overridden by a secondary translation file</h4>
        <section>
            <p>Simple translation: <code>&lt;span translate&gt;common.yes&lt;/span&gt;</code></p>
            <p>
                <strong>Result</strong>: <span translate>common.yes</span>
            </p>
        </section>
    </pa-demo-examples>


    <pa-demo-usage>
        <h3>Providing the translations</h3>
        <p>Each supported language is a typescript file where translated strings are handled in nested dictionaries:</p>
        <pa-demo-code>
            <pre>
                <code>{{translations}}</code>
            </pre>
        </pa-demo-code>

        <p>Translation language is provided in the main app module, and translations are passed using the <code>PaTranslateModule.addTranslations</code> method:</p>
        <pa-demo-code>
            <pre>
                <code>{{appModule}}</code>
            </pre>
        </pa-demo-code>

        <p>
            We can add more translations in any other module, possibly lazy-loaded, still using the <code>addTranslations</code> method.
            It makes a deep merge with the existing translations (existing entries are replaced, new ones are added):
        </p>
        <pa-demo-code>
            <pre>
                <code>{{moreTranslations}}</code>
            </pre>
        </pa-demo-code>
    </pa-demo-usage>
</pa-demo-page>
