@import "variables";

.pa-button {
    background: transparent;
    border: none;
    border-radius: $border-radius-button;
    display: inline-flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    outline: 0;
    transition: background-color $transition-hint, box-shadow $transition-hint;
    white-space: nowrap;

    .pa-button-wrapper {
        display: inline-flex;
        align-items: center
    }
    .pa-button-label {
        font-weight: $font-weight-button-label;
    }

    svg {
        display: block;
        fill: currentColor;
    }
    .pa-icon-text {
        margin-right: rhythm(1);
    }

    &.pa-button-icon {
        border-radius: 50%;
    }
    &:not(.pa-button-icon):not(.pa-button-icon-text):not(.pa-small) {
        min-width: rhythm(20);
    }

    &.pa-small {
        font-size: font-size(s);
        line-height: rhythm(3);
        padding: $padding-button-small;
        &.pa-button-icon {
            padding: $padding-button-icon-small;
        }
        &.pa-button-icon-text {
            padding: $padding-button-icon-text-small;
        }
    }

    &.pa-medium {
        font-size: font-size(m);
        line-height: rhythm(4);
        padding: $padding-button-medium;

        &.pa-button-icon {
            padding: $padding-button-icon-medium;
        }
        &.pa-button-icon-text {
            padding: $padding-button-icon-text-medium;
        }
    }

    &.pa-large {
        font-size: font-size(m);
        line-height: rhythm(6);
        padding: $padding-button-large;

        &.pa-button-icon {
            padding: $padding-button-icon-large;
        }
        &.pa-button-icon-text {
            padding: $padding-button-icon-text-large;
        }
    }

    &.pa-regular {
        margin: -1px;
    }

    &:not(:disabled) {
        cursor: pointer;

        &.pa-primary {
            &.pa-solid {
                @include primary-solid();
            }

            &.pa-basic {
                @include primary-basic();
            }
        }

        &.pa-secondary {
            &.pa-solid {
                @include secondary-solid();
            }

            &.pa-basic {
                @include secondary-basic();
            }
        }

        &.pa-inverted {
            &.pa-solid {
                @include inverted-solid();
            }

            &.pa-basic {
                @include inverted-basic();
            }

        }

        &.pa-destructive {
            &.pa-solid {
                @include destructive-solid();
            }

            &.pa-basic {
                @include destructive-basic();
            }
        }

        @media (hover: hover) {
            &:hover {
                &.pa-solid {
                    @include hover-box-shadow-solid();
                }

                &.pa-basic {
                   @include hover-box-shadow-basic();
                }
            }
        }
    }

    &:disabled {
        &.pa-solid {
            @include disabled-solid();
        }

        &.pa-basic {
            @include disabled-basic();
        }

        &.pa-inverted {
            &.pa-solid {
                @include disabled-inverted-solid();
            }
            &.pa-basic {
               @include disabled-inverted-basic();
            }
        }
    }
}
