@import "variables";

.pa-select-value {
    font-weight: $font-weight-regular;

    &.placeholder {
        color: $color-text-field-control-placeholder-regular;
        font-weight: $font-weight-placeholder;
        opacity: 0;
        transition: all 0s ease;
        &.active {
            opacity: 1;
            transition: all 1s ease;
        }
    }
}
.select-input {
    height: rhythm(6);
}

.pa-field.pa-select {
    position: relative;

    $icon-width: rhythm(3);
    $icon-right-padding: rhythm(1);
    .pa-select-chevron {
        pointer-events: none;
        cursor: pointer;
        position: absolute;
        right: $icon-right-padding;
        top: rhythm(1.5);
        width: $icon-width;
        &.opened {
            transform: rotate(180deg);
        }
    }
    &.pa-field-disabled {
        color: $color-text-field-control-disabled;
        .pa-select-chevron {
            cursor: default;
        }
    }
    &.pa-field-readonly {
        .pa-select-chevron {
            cursor: default;
        }
    }
    .pa-field-control {
        padding-right: calc(#{$icon-width + $icon-right-padding});
        width: 100%;
        cursor: pointer;

        &.pa-keyboard-focus {
            border: $border-field-autofilled;
            box-shadow: none;
        }
    }
    .pa-field-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(100% - #{$padding-field-control-left + $icon-width + $icon-right-padding});
    }
}

.pa-field.pa-select:not(.pa-field-error) {
    .pa-field-control:read-only {
        border: $border-field-regular;

        &:not(.disabled):not(.read-only) {
            &:hover {
                border: $border-field-regular-hover;
                margin: 0;
            }
            &:focus,
            &:active,
            &.expanded {
                border: $border-field-regular-active;
                margin: 0;

                &::placeholder {
                    opacity: 1;
                    transition: all 1s ease;
                }

                &~.pa-field-label {
                    color: $color-text-field-label-regular-active;
                }
            }
        }
        &.dim:not(:hover):not(:focus):not(:active):not(.expanded) {
            border-color: transparent;
            background-color: transparent;
        }
        &.disabled:not(.dim) {
            border: $border-field-disabled;
            color: $color-text-field-control-disabled;

            &~.pa-field-label {
                color: $color-text-field-label-disabled;
            }
        }
        &.read-only:not(.dim) {
            border: $border-field-readonly;
        }
    }
}
.pa-field.pa-select.pa-field-error {
    .pa-field-control:not(.pa-field-control-filled) + .pa-field-label {
        color: $color-text-field-label-regular;
    }
}

pa-dropdown {
    width: 100%;
}
.pa-select pa-dropdown .pa-popup-wrapper {
    max-width: none;
    width: 100%;
}
