@import "variables";

.pa-tabs-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: nowrap;

    &.pa-full-width-tabs {
        pa-tab {
            flex-grow: 1;
        }
    }
}

pa-tab {
    display: inline-block;
    min-width: 0;

    .pa-tabs-link {
        @include size(xs);
        background: transparent;
        border: 0;
        color: $color-text-tab-link;
        font-weight: $font-weight-bold;
        line-height: line-height(l);
        padding: rhythm(.25) 0;
        text-transform: uppercase;
        transition: all $transition-response;
        width: 100%;

        &::after {
            background: $color-tab-slider;
            bottom: 0;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 0;
        }

        &:hover {
            background: $color-background-tab-link-hover;
            transition: all $transition-response;

            &:not([aria-expanded="true"]) {
                color: $color-text-tab-link;
                cursor: pointer;
            }
        }

        &[aria-expanded="true"] {
            color: $color-dark-stronger;
            cursor: default;
        }

        &.pa-keyboard-focus {
            box-shadow: unset;
            .pa-tabs-link-wrapper {
                box-shadow: $shadow-focus;
            }
        }

        .pa-tabs-link-wrapper {
            align-items: center;
            display: block;
            overflow: hidden;
            padding: $padding-tab-item-small;
            position: relative;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            z-index: 1;
        }
    }
}

.pa-tabs-slider {
    background: $color-tab-slider-active;
    bottom: 0;
    left: 0;
    height: rhythm(.25);
    position: absolute;
    transition: left $transition-response, width $transition-response;
}

@media (min-width: $size-viewport-medium-min) {
    pa-tab .pa-tabs-link .pa-tabs-link-wrapper {
        padding: $padding-tab-item-medium;
    }
}
