<pa-demo-page>
  <pa-demo-title>Ellipsis tooltip</pa-demo-title>
  <pa-demo-description>
    <p>
      The directive
      <code>paEllipsisTooltip</code>
      is adding style on its parent to display an ellipsis when there is not enough space to display all the text.
    </p>
    <p>
      Whenever the element has an ellipsis, this directive automatically adds a system tooltip displaying the full text
      content on hover.
    </p>
  </pa-demo-description>

  <pa-demo-examples>
    <div class="example-container">
      <p paEllipsisTooltip>Short text</p>
      <p paEllipsisTooltip>No tooltip</p>
      <p paEllipsisTooltip>Text content long enough to display an ellipsis and a tooltip</p>
    </div>
  </pa-demo-examples>

  <pa-demo-usage>
    <p>
      Add
      <code>paEllipsisTooltip</code>
      directive wherever you want to display an ellipsis when the content is too long for the container.
    </p>
    <p>Style responsible for the ellipsis will be added automatically, but you need to manage the container size.</p>

    <h3>Inputs</h3>
    <dl>
      <dt>paEllipsisContent</dt>
      <dd>
        By default, the tooltip contains the same text as its parent element. paEllipsisContent allows to change the
        content of the tooltip displayed.
      </dd>
      <dt>noEllipsis</dt>
      <dd>
        Allows to use
        <code>paEllipsisTooltip</code>
        on an element and optionally disable it.
        <small>(False by default)</small>
      </dd>
    </dl>

    <h3>Outputs</h3>
    <dl>
      <dt>hasEllipsis</dt>
      <dd>
        Emit a boolean indicating if the content has an ellipsis or not. Event emitted on
        <code>AfterViewInit</code>
        and then anytime
        <code>content</code>
        changed (when
        <code>paEllipsisContent</code>
        Input is applied).
        <small>
          (Event emitted from
          <code>updateEllipsisTooltip</code>
          )
        </small>
      </dd>

      <dt>updateEllipsisTooltip</dt>
      <dd>
        this method from paEllipsisTooltip is public and can be called externally, specially when the content is dynamic
        and the container needs to react to the presence of an ellipsis.
      </dd>
    </dl>
  </pa-demo-usage>

  <pa-demo-code>
    <pre><code>{{code}}</code></pre>

    Example of
    <code>hasEllipsis</code>
    and
    <code>updateEllipsisTooltip</code>
    usage:
    <pre><code>{{hasEllipsisTemplate}}</code></pre>
    <pre><code>{{hasEllipsisTs}}</code></pre>
  </pa-demo-code>
</pa-demo-page>
