@use '../../../../../../pastanaga-angular/src/styles/theme/palette.tokens' as palette;
@use '../../../../../../pastanaga-angular/src/styles/theme/spacing.tokens' as spacing;

.example-container {
  background-color: palette.$color-tertiary-lighter;
  padding: spacing.rhythm(1);
  width: spacing.rhythm(32);
}
