<pa-demo-page>
    <pa-demo-title><code>paFormControl</code></pa-demo-title>
    <pa-demo-description>
        <p><code>paFormControl</code> is a directive designed to build custom form elements: it creates or exposes a <code>FormControl</code>.</p>

        <p>In a standalone usage, it creates a <code>FormControl</code>:</p>
        <pre><code>{{standaloneCode}}</code></pre>

        <p>When used in combination with a ngModel, it exposes the corresponding formControl, allowing to manage its state and validation:</p>
        <pre><code>{{ngModelCode}}</code></pre>

        <p>It can also reflects a given <code>FormControl</code>:</p>
        <pre><code>{{formControlCode}}</code></pre>

        <code>paFormControl</code>:
        <ul>
            <li>provides consistent id and name.</li>
            <li>allows consistent form control state management (readonly / disabled / status) on any use case.</li>
        </ul>
        <p>Because it is a directive and not a component, it can be used on standard html elements with these three exceptions:</p>
        <ul>
            <li>standalone fields won't be added to form's values</li>
            <li>input elements inner change won't be bound to ngModel</li>
            <li><code>formControl</code> directives cannot be used on html elements which are not managed by angular reactive form api (for example divs).
            </li>
        </ul>
        <p><strong>Important note: </strong> the <code>formControl</code> will only be available after the <code>OnInit</code> lifecycle.</p>
    </pa-demo-description>

    <pa-demo-examples>
        <pa-tabs>
            <pa-tab (click)="selected = 'id'" [active]="selected === 'id'">Id</pa-tab>
            <pa-tab (click)="selected = 'name'" [active]="selected === 'name'">Name</pa-tab>
            <pa-tab (click)="selected = 'value'" [active]="selected === 'value'">Value</pa-tab>
            <pa-tab (click)="selected = 'state'" [active]="selected === 'state'">State (readonly / disabled)</pa-tab>
            <pa-tab (click)="selected = 'validation'" [active]="selected === 'validation'">Validation / errors</pa-tab>
        </pa-tabs>
        <pa-demo-form-control-id-example *ngIf="selected === 'id'"></pa-demo-form-control-id-example>
        <pa-demo-form-control-name-example *ngIf="selected === 'name'"></pa-demo-form-control-name-example>
        <pa-demo-form-control-value-example *ngIf="selected === 'value'"></pa-demo-form-control-value-example>
        <pa-demo-form-control-validation-example
            *ngIf="selected === 'validation'"></pa-demo-form-control-validation-example>
        <pa-demo-form-control-state-example *ngIf="selected === 'state'"></pa-demo-form-control-state-example>

    </pa-demo-examples>

    <pa-demo-usage>
        <pa-demo-pa-form-control-usage></pa-demo-pa-form-control-usage>
    </pa-demo-usage>

</pa-demo-page>
